{% load i18n %}
{% if widget.is_initial %}
    <img src="{{ widget.value.url }}"
         class="img-fluid"
         alt="{% translate 'uploaded picture' %}" />
    <div class="form-check form-check-reverse">
        <input class="form-check-input"
               type="checkbox"
               name="{{ widget.checkbox_name }}"
               id="{{ widget.checkbox_id }}" />
        <label class="form-check-label" for="{{ widget.checkbox_id }}">{% translate "Delete?" %}</label>
    </div>
{% endif %}
<input type="{{ widget.type }}"
       name="{{ widget.name }}"
       {% include "django/forms/widgets/attrs.html" %} />
