{% load i18n %}

{% load frontendbuild %}

<div style="display: none">
{% include "django/forms/widgets/input.html" %}
</div>
<select class="tagautocomplete"
  data-additemtext="{% trans 'Press Enter to add <b>${value}</b>' %}"
  data-uniqueitemtext="{% trans 'This tag is already set.' %}"
  data-loading="{% trans 'Searching…' %}"
  data-noresults="{% trans 'No results' %}"
  data-nochoices="{% trans 'No results' %}"
  data-itemselect="{% trans 'Press to select' %}"
  data-fetchurl="{{ autocomplete_url }}"
  data-allownew="{{ allow_new }}"
  data-queryparam="{{ query_param }}"
  {% if max_item_count %}data-maxitemcount="{{ max_item_count }}"{% endif %}
  id="{{ widget.attrs.id }}_select"
  {% if max_item_count != 1 %} multiple{% endif %}>
  {% for value in values %}<option value="{{ value.value }}" selected>{{ value.label }}</option>{% endfor %}
</select>

{% getfrontendbuild "tagautocomplete.js" as assets %}
{% for block, output_list in assets %}{% for output in output_list %}{{ output|safe }}{% endfor %}{% endfor %}
