body {
    background-color: #f9f9f9;
    margin:0;
    font-size:12pt;
    font-family: 'Helvetica Neue',Helvetica,arial,sans-serif;
    color: #333333;
}

table.no-stripes tbody tr:nth-child(even) td, table.no-stripes tbody tr.even td {
    background: transparent;
}

table.no-stripes tbody tr th {
    text-align: left;
    vertical-align: top;    
}

#header {
    display: block;
    /* background: #296198;*/
    margin:0;
}

#header-content {
    height:6em;
    width: 998px;
    margin: 0 auto;
}

#header-content h1 {
    font-family: 'Kreon', arial, serif;
    margin:32px 0 0 -20px;
    padding:0;
    float:left;
    width: 310px;
    font-size: 2.5em;
    text-shadow: 0px 0px 1px #222222;
    filter: dropshadow(color=#cccccc, offx=2, offy=2);
}

#header-content h1 a {
    margin-left: 0;
    background: transparent url('../img/logo.png') no-repeat 0 0;
    padding:3px 0 0 45px;
}

#header-content h1 a,
#header-content h1 a:hover {
    text-decoration:none;
    color: #06C;
}

#nav {
    display:block;
    margin: 40px 0 0 0;
    float:left;
    width: 685px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
}

#nav ul li {
    display: inline;
    float:left;
    margin-right: 1em;
}

#nav ul li.last-nav {
    margin-right: 0em;
}

#nav ul li a {
    font-weight: normal;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #666;
    text-decoration: none;
}

#nav li.active a {
    color: #444;
    text-decoration: underline;
}

.special-nav-item a {
    margin-left: 0.4em;
    color: #333 !important;
    padding: 0.2em;
    background: rgba(0, 153, 255, 0.2);
    /* text-decoration: underline !important;*/
}

.special-nav-item a:hover {
    color: #fff !important;
    background: rgba(0, 153, 255, 1.0);
}


#nav ul li a.active,
#nav ul li a:hover {
    color: #06C;
}

#nav ul li.last-nav {
    float:right;
}

.search-site {
    display:inline;
}

.search-site input {
    margin:0;
}

.account-snippet {
    position:absolute;
    top:0.5em;
    right:1.5em;
    height: 2em;
    font-size: 0.75em;
    padding: 5px;
}


#main {
    position:relative;
    margin: 0 auto;
    padding: 1.5em;
    background-color: #fff;
    /* border: 1px solid #ccc;*/
    -moz-box-shadow: 0px 0px 10px #ccc;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;
}

#small_main {
    width:480px;
    margin: 10px auto;
    padding: 1.5em;
    /* border: 1px solid #ccc;*/
    -moz-box-shadow: 0px 0px 15px #ccc;
    -webkit-box-shadow: 0px 0px 15px #ccc;
    box-shadow: 0px 0px 15px #ccc;
}

h2 {
    font-size:1.5em;
    /* font-family: 'Kreon';*/
}

h3 {
    font-size:1.2em;
    font-weight: bold;
}

.messages {
    list-style-type:none;
}

.notice > ul {
    margin-bottom:0;
}

.special-heading {
    /* font-family: 'Kreon', arial, serif;*/
    /* text-shadow: 1px 1px 1px #dddddd;*/
    /* filter: dropshadow(color=#cccccc, offx=2, offy=2);*/
    color:#333;
    margin:0 0 0.5em;
    padding:1em 0 0.5em;
    font-size: 1.2em;
    text-align: justify;
    /* width: 470px;*/
    /* line-height:1em;*/
    /* font-weight: bold;*/
}

#main-folders .special-heading {
    color: #fff;
    padding:1em 20px 0.5em;
}

.action-buttons {
    margin: 2em auto;
    /* position:relative;*/
    /* left: -5.5em;*/
}

.button {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    line-height: 1.4;
    background-color: #49A7F3;
    display: inline-block;
    padding: 12px 20px !important;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: white !important;
    text-decoration: none;
    border: none !important;
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 1em;
}

.button:hover {
    background-color: #09f;
}

.make-request-button {
    background-color: #41D05F;
    background-image: url('../img/request.png');
    background-position: 12px 50%;
    background-repeat: no-repeat;
    padding-left: 70px !important;
}

.explore-requests-button {
    background-color: #41D05F;
    background-image: url('../img/explore.png');
    background-position: 12px 50%;
    background-repeat: no-repeat;
    padding-left: 70px !important;
}

.search-button {
    background-color: #41D05F;
    background-image: url('../img/search.png');
    background-position: 12px 50%;
    background-repeat: no-repeat;
    padding-left: 70px !important;
}

.make-request-icon {
    background-image: url('../img/tiny_request.png');
    background-position: 0px 50%;
    background-repeat: no-repeat;
    padding-left: 18px !important;
}


strong {
    color: #222;
}

.big-search {
}

.big-search input[type='search'] {
    width:90%;
    font-size:16px;
    margin: 1em 10% 0 0;
}

.subhead {
    /* background-color: #5191D0;*/
    background-color: #7FB0E1;
    margin:0;
    padding: 10px;
}

.main-guide {
    /* font-weight:bold;*/
    color:#222;
    margin: 1em 0 1em;
    padding-left:1em;
    font-size:1.4em;
}

.main-guide li h3 {
    font-weight:bold;
    color:#222;
    font-size: 1em;
    margin:0;
}

.main-guide li p {
    color:#333;
    font-weight:normal;
    margin:0 0 1em;
    font-size: 1em;
}

.main-guide li strong {
    font-weight: normal;
}

#main-folders {
    background-image: url('../img/folders.jpg');
}

.mainsearch {
    padding: 70px 0 35px;
    margin: 2em 0 0 40px;
    color: #eee;
}

.mainsearch p {
    margin:0.2em 0 0.2em;
}

.mainsearch p a {
    color: #fff;
}

.mainsearch p a:hover {
    color: #09f;
}

.mainsearch h3 {
    /* font-weight: normal;*/
}

.mainsearchbox {
    font-size: 32px;
    width: 210px;
    display: block;
    float: left;
    margin: 0 !important;
    outline: none;
    border: 0px;
    padding:0px !important;
}

.mainsearch-button {
   -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    line-height: 1.4;
    display: block;
    float: left;
    padding: 6px 6px 6px 50px !important;
    /* -webkit-border-radius: 12px;*/
    /* -moz-border-radius: 12px;*/
    /* border-radius: 12px;*/
    color: white !important;
    text-decoration: none;
    border: 0px !important;
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    background-color: #41D05F;
    background-image: url('../img/search.png');
    background-position: 12px 50%;
    background-repeat: no-repeat;
}

.main-foirequests {
    margin: 20px 20px 20px 0;
}

#sample-letter {
    font-family: Georgia,serif;
    font-size: 1em;
    white-space: nowrap;
    white-space: pre-wrap;
    position: relative;
    width: 350px;
    padding: 50px;
    margin: 0 auto;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);  
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);      
}

#footer {
    display: block;
    font-size: 12px;
    text-align: center;
    margin: 2em auto 1em;
}

#footer ul{
    /* bottom:0px;*/
    /* position:absolute;*/
    list-style-type: none;
}

input:focus {
    -moz-box-shadow: 0px 0px 5px #7FB0E1;
    -webkit-box-shadow: 0px 0px 5px #7FB0E1;
    box-shadow: 0px 0px 5px #7FB0E1;
}

#footer ul li {
    display:inline;
    margin-right: 2em;
}

form.foirequest {
    position:relative;
    margin: 2em 0 0;
}

form.foirequest fieldset {
    margin-bottom: 1em;
    padding:0.5em 0 1em;
    border:0;
    border-top:1px solid #ccc;
}

.important-form {
    background-color: #FFE9EE;

}

form.foirequest fieldset.active > div{
    background-color: #FFE9EE;
    /* outline: 1px solid #7FB0E1;*/
    /* -moz-box-shadow: 0px 0px 15px #7FB0E1;*/
    /* -webkit-box-shadow: 0px 0px 15px #7FB0E1;*/
    /* box-shadow: 0px 0px 15px #7FB0E1;*/
}

form.foirequest fieldset.active legend{
    color: #444;
}

form.foirequest legend{
    margin-left: 20px;
    padding:0;
    color: #aaa;
    font-weight:normal;
}

form.foirequest fieldset > div {
    padding: 1px 0px 5px 20px;
}

.js form.foirequest div.hidden {
    display:none;
}

.errorlist {
    margin-top:0;
    margin-bottom:0;
    background-color: #ff9394;
    color:#514721;
    padding:0.8em;
    border:2px solid #ccc;
    list-style-type:none;
}

.info-link {
    font-size: 0.75em;
}

form.foirequest ol {
    margin:0;
    padding-left:0px;
    list-style-type:none;
}

form.foirequest > ol > li{
    margin-bottom:2em;
}

span.help {
    color: #888;
    font-size:0.75em;
    width:80%;
}

#public_body-chooser {
}

#search-results {
    max-height: 12em;
    overflow-y: auto;
}

#public_body-chooser ul {
    list-style-type:none;
    padding:0;
    margin:0;
    border:1px solid #ccc;
}

#publicbody-search {
    margin:2em;
}

#search-public_bodies {
    width:60%;
}

.searchexamples {
    font-size: 0.8em;
}

.searchexample {

}

.autocomplete {
    background: #fff;
    padding: 0 5px; 
    border:1px solid #999;
    cursor:default; 
    text-align:left; 
    max-height:250px; 
    overflow:auto; 
    margin: 3px 0 0;
}

.autocomplete div {
    padding:2px 5px;
    white-space:nowrap;
    overflow:hidden;
}
.autocomplete strong {
    color:#000;
}

.autocomplete > div.selected {
    background:#F0F0F0;
}

#search-spinner {
    margin: 0 20px;
}

#new-public_body {
    width:80%;
    font-size:0.75em;
    margin-left:2em;
    padding:5px;
    border-bottom:1px solid #aaa;
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
    background-color: #ddd;
}

textarea {
    height:auto;
}

#new-public_body textarea {
    height:3em;
    width:auto;
}

form.foirequest h4 {
    margin: 0 0 0.5em 0;
}

.request-notes {
    margin:1em 0 0.5em 1em;
}

.block label{
    display:block;
}

form.foirequest div.error {
    width:40%;
}

form.foirequest div.error ul{
    margin: 0;
}

form.foirequest #id_subject {
    margin: 0;
    font-size: 150%;
    width:80%;
    margin-right:20%;
}

.lawchooser {
    margin: 1em 0;
}

.lawchooser ul{
    list-style-type: none;
    margin: 0;
}
.lawchooser li {
    margin: 0 0 0.25em;
}

form.foirequest .lawinfo {
    display: block;
    color: #666;
    font-weight: normal;
}

.check-information {
    border: 1px solid #ccc;
    margin:0.5em 0;
    padding: 0.25em;
    color: #666;
    width:90%;
}

.check-information ul{
    margin:0;
}

form.foirequest .letter textarea {
    margin: 0;
    font-size:14px;
}

form.foirequest .text {
    width: 390px;
    padding: 5px;
    white-space: nowrap;
    white-space: pre-line;
    word-wrap: break-word;
    background-color: rgba(255,255,255,0.5);
    font-size:14px;
}

form.foirequest .text label {
    white-space: normal;
    display: block;
    margin:0;
}

form.foirequest #post_address {
    white-space: nowrap;
    white-space: pre-line;
}

form.foirequest p {
    margin: 0 0 0.5em;
}

textarea.smalltext {
    width: 200px;
    height: 80px;
}

.js .hidden {
    display:none;
}

.hidden:target {
    display:block;
}

.focussed:target {
    background-color: #FFE9EE;
    border: 1px red solid;
}

.focussed:target .hidden {
    display:block;
}

.focussed:target .toggle {
    display:none;
}

.no-js #review-button {
    display:none;
}

#step-review {
    width: 960px;
    background-color: #FFE9EE;
}

#lightbox-background {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: .80;
    z-index: 9999;
}
.lightbox {
    display: none;
    background: #fff;
    padding: 20px;
    border: 20px solid #fff;
    float: left;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.close-button {
    float: right;
    margin: 1em;
}

*html #lightbox-background {
    position: absolute;
}
*html .lightbox {
    position: absolute;
}

#review-text {
    white-space: nowrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Times New Roman", Times, serif;
    color: #000;
    background-color: #e9e9e9;
    padding: 0.25em;
    border: 1px solid #ccc;
    height: 14em;
    max-height: 14em;
    overflow: auto;
}

.highlight {
    background: #FFFC78;
}

#review-warnings {
    padding-left: 1.5em;
}

#review-warnings li {

}

.foirequest-info h2{
    margin:0;
}

.message-container {
    border-bottom: 1px solid #ddd;
    padding: 0 0 0.75em;
    margin: 0 0 0.75em;
}


.message {
    border: 2px solid #aaa;
    /* -moz-box-shadow: 0px 0px 15px #ccc;*/
    /* -webkit-box-shadow: 0px 0px 15px #ccc;*/
    /* box-shadow: 0px 0px 15px #ccc;*/
    padding:10px;
    margin: 0;
}

.message-received {
    background-color: #FFF9DC;
}

.message-postal {
    background-image: url('../img/status/gone_postal_big.png');
    background-position: 99% 5px;
    background-repeat: no-repeat;
}

.message-table {
    border-spacing: 0px;
}

.message-table td.key {
    text-align:right;
    color: #999;
    vertical-align:top;
    font-weight: bold;
    width: 10%;
}

.message-table td.key:after {
    content: ":";
}

.message-table tbody tr:nth-child(even) td, .message tbody tr.even td {
    background: transparent;
}

.message-table  td {
    padding: 0px 0px 2px 0.5em;
}

.message-table, .message-table td ul {
    margin-bottom: 0.4em;
}

.message-content {
    white-space: nowrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.events {
    color: #999;
    font-size: 0.8em;
    margin: 0.5em 0 0;
}

.events ol {
    margin-bottom: 0;
    list-style-type: none;
}

.event {
    color: #999;
}

.event a {
    color: #999;
    text-decoration: none;
}

.event a:hover {
    text-decoration: underline;
}

.comments-container {
    margin: 0.5em 0 0;
}

.comments-container > a {
    font-size:0.9em;
}

.js .comment-form {
    display:none;
}

.comment-form:target {
    display:block !important;
}

.comments-list {
    margin-left: 1em;
}

.comments-list p {
    margin-bottom: 0.5em;
}

.comments-list dt {
    font-weight: normal;
    color: #999;
    font-size: 0.8em;
}

.moderator {
    background-color: #C4FFD6;
}

.section {
    padding: 1em;
    margin: 0 0.5em 1em 0;
    border: 1px solid #ccc;
}

.js .status-section {
    display:none;
}

.legal-text {
    white-space: nowrap;
    white-space:pre-line;
}

.topic-list {
    list-style-type: none;
    width: 100%;
    margin:1em 0 1em;
}

.topic-list > li {
    float:left;
}

.topic-list > li div {
    padding: 1em 1em 1.2em;
    margin: 0.5em 1em;
    border-radius: 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.topic-list > li div:hover {
    background-color: #41D05F;
}

.topic-list > li h4 {
    margin: 0px;
    height: 40px;
    width: 70%;
    padding-left: 50px;
    background: transparent url('../img/arrow.png') 0px 0px no-repeat;
}

.topic-list > li a h4 {
    color: #06c;
}

.topic-list > li div:hover h4 {
    /* color:#09f;*/
    color: #fff;
    text-decoration: none !important;
}
.topic-list > li div:hover a {
    /* color:#09f;*/
    color: #fff;
    text-decoration: none !important;
}


.topic-list > li > p {
    color: #999;
}

.topic-icon {
    background-repeat: none;
    background-position: 0 0;
}

.time-small {
    color: #666;
    font-size:0.8em;
}

.iconed-list {
    list-style-type: none;
}

.bold {
    font-weight: bold;
}

.iconed-list li {
    background-repeat: no-repeat;
    background-position:0 3px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.red {
    color: red;
}
