body {
    background-color: #fff;
    margin:0;
    font-size:12pt;
    font-family: 'Helvetica Neue',arial,helvetica,sans-serif;
    color: #333333;
}

#header {
    display: block;
    /* background: #296198;*/
    margin:0;
    height:8em;
}

#header-content {
    margin: 0 auto;
}

#header-content h1 {
    font-family: 'Kreon', arial, serif;
    margin:2em auto 0;
    padding:0;
    font-size: 32px;
    text-shadow: 0px 0px 1px #222222;
    filter: dropshadow(color=#cccccc, offx=2, offy=2);
}

#header-content h1 a,
#header-content h1 a:hover {
    text-decoration:none;
    color: #06C;
}

#nav {
    display:block;
    margin: 4em 0 0;
}

#nav ul {
    list-style-type: none;
}

#nav ul li {
}
#nav ul li a {
    display: inline;
    float:left;
    margin-right: 1.5em;
    font-weight: normal;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #666;
    text-decoration: underline;
}


#nav ul li a.active,
#nav ul li a:hover {
    color: #1F3372;
}


#main {
    margin: 0 auto;
    padding: 1.5em;
    border: 1px solid #ccc;
    -moz-box-shadow: 0px 0px 15px #ccc;
    -webkit-box-shadow: 0px 0px 15px #ccc;
    box-shadow: 0px 0px 15px #ccc;
}

#small_main {
    width:480px;
    margin: 10px auto;
    padding: 1.5em;
    border: 1px solid #ccc;
    -moz-box-shadow: 0px 0px 15px #ccc;
    -webkit-box-shadow: 0px 0px 15px #ccc;
    box-shadow: 0px 0px 15px #ccc;
}

h2 {
    font-size:32px;
    font-family: 'Kreon';
}

.messages {
    list-style-type:none;
}

.notice > ul {
    margin-bottom:0;
}

.special-heading {
    font-family: 'Kreon', arial, serif;
    text-shadow: 1px 1px 1px #dddddd;
    filter: dropshadow(color=#cccccc, offx=2, offy=2);
    color:#333;
    margin:0 auto;
    padding:0.6em 0 0;
    font-size: 48px;
}

strong {
    color: #222;
}


.big-search {
}

.big-search input[type='search'] {
    width:90%;
    font-size:16px;
    margin: 1em 10% 0 0;
}

.subhead {
    /* background-color: #5191D0;*/
    background-color: #7FB0E1;
    margin:0;
    padding: 10px;
}

.main-guide {
    font-weight:bold;
    color:#222;
    margin: 1.2em 0 1em;
    padding-left:1em;
    font-size:28px;
}

.main-guide li h3 {
    font-weight:bold;
    color:#222;
    font-size: 28px;
    margin:0;
}

.main-guide li p {
    color:#333;
    font-weight:normal;
    margin:0;
    font-size: 24px;
}

#footer {
    display: block;
    font-size: 12px;
    text-align: center;
    margin: 2em auto 1em;
}

#footer ul{
    /* bottom:0px;*/
    /* position:absolute;*/
    list-style-type: none;
}

input:focus {
    -moz-box-shadow: 0px 0px 5px #7FB0E1;
    -webkit-box-shadow: 0px 0px 5px #7FB0E1;
    box-shadow: 0px 0px 5px #7FB0E1;
}

#footer ul li {
    display:inline;
    margin-right: 2em;
}

form.foirequest {
    position:relative;
    margin: 2em 0 0;
}

form.foirequest fieldset {
    margin-bottom: 1em;
    padding:0.5em 0 1em;
    border:0;
    border-top:1px solid #ccc;
}

form.foirequest fieldset.active > div{
    background-color: #FFE9EE;
    /* outline: 1px solid #7FB0E1;*/
    /* -moz-box-shadow: 0px 0px 15px #7FB0E1;*/
    /* -webkit-box-shadow: 0px 0px 15px #7FB0E1;*/
    /* box-shadow: 0px 0px 15px #7FB0E1;*/
}

form.foirequest fieldset.active legend{
    color: #444;
}

form.foirequest legend{
    margin-left: 20px;
    padding:0;
    color: #aaa;
    font-weight:normal;
}

form.foirequest fieldset > div {
    padding: 1px 0px 5px 20px;
}

.js form.foirequest div.hidden {
    display:none;
}

.errorlist {
    margin-top:0;
    margin-bottom:0;
    background-color: #ff9394;
    color:#514721;
    padding:0.8em;
    border:2px solid #ccc;
    list-style-type:none;
}



#search-public_bodies {
    width:60%;
    margin:2em;
}


form.foirequest ol {
    margin:0;
    padding-left:0px;
    list-style-type:none;
}

form.foirequest > ol > li{
    margin-bottom:2em;
}

span.help {
    color: #888;
    font-size:0.75em;
    width:80%;
}

#public_body-chooser {
}

#search-results {
    max-height: 12em;
    overflow-y: auto;
}

#public_body-chooser ul {
    list-style-type:none;
    padding:0;
    margin:0;
    border:1px solid #ccc;
}

#public_body-chooser ul li label{
    display:inline;
}

#new-public_body {
    width:80%;
    font-size:0.75em;
    margin-left:2em;
    padding:5px;
    border-bottom:1px solid #aaa;
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
    background-color: #ddd;
}

#new-public_body textarea {
    height:3em;
    width:auto;
}

form.foirequest h4 {
    margin: 0 0 0.5em 0;
}

.request-notes {
    margin:1em 0 0.5em 1em;
}

form.foirequest label {
    display:block;
}

form.foirequest .selected-result label {
    display:inline;
}

form.foirequest label.inline {
    display:inline;
}

form.foirequest div.error {
    width:40%;
}

form.foirequest div.error ul{
    margin: 0;
}

form.foirequest #id_subject {
    margin: 0;
    font-size: 150%;
    width:80%;
    margin-right:20%;
}

.check-information {
    border: 1px solid #ccc;
    margin:0.5em 0;
    padding: 0.25em;
    color: #666;
    width:90%;
}

.check-information ul{
    margin:0;
}

form.foirequest .letter textarea {
    margin: 0;
    font-size:14px;
}

form.foirequest .text {
    width: 390px;
    padding: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: rgba(255,255,255,0.5);
    font-size:14px;
}

form.foirequest p {
    margin: 0 0 0.5em;
}

.no-js #review-button {
    display:none;
}

#step-review {
    width: 960px;
    background-color: #FFE9EE;
}

#lightbox-background {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: .80;
    z-index: 9999;
}
.lightbox {
    display: none;
    background: #fff;
    padding: 20px;
    border: 20px solid #fff;
    float: left;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.close-button {
    float: right;
    margin: 1em;
}

*html #lightbox-background {
	position: absolute;
}
*html .lightbox {
	position: absolute;
}

#review-text {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Times New Roman", Times, serif;
    color: #000;
    background-color: #fff;
    padding: 0.25em;
    border: 1px solid #ccc;
    height: 14em;
    max-height: 14em;
    overflow: auto;
}

#review-warnings {
    padding-left: 1.5em;
}

#review-warnings li {

}

.foirequest-info h2{
    margin:0;
}

.message-container {
    border-bottom: 1px solid #ddd;
    padding: 0 0 0.75em;
    margin: 0 0 0.75em;
}


.message {
    border: 2px solid #aaa;
    /* -moz-box-shadow: 0px 0px 15px #ccc;*/
    /* -webkit-box-shadow: 0px 0px 15px #ccc;*/
    /* box-shadow: 0px 0px 15px #ccc;*/
    padding:10px;
    margin: 0;
}

.message-received {
    background-color: #FFF9DC;
}

.message-table {
    border-spacing: 0px;
}

.message-table td.key {
    text-align:right;
    color: #999;
    vertical-align:top;
    font-weight: bold;
    width: 10%;
}

.message-table td.key:after {
    content: ":";
}

.message-table tbody tr:nth-child(even) td, .message tbody tr.even td {
    background: transparent;
}

.message-table  td {
    padding: 0px 0px 2px 0.5em;
}

.message-table, .message-table td ul {
    margin-bottom: 0.4em;
}

.message-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.events {
    color: #999;
    font-size: 0.8em;
    margin: 0.5em 0 0;
}

.events ol {
    margin-bottom: 0;
    list-style-type: none;
}

.comments-container {
    margin: 0.5em 0 0;
}

.comments-container > a {
    font-size:0.9em;
}

.js .comments {
    display:none;
}

.comments:target {
    display:block !important;
}

.section {
    padding: 1em;
    margin: 0 0.5em 1em 0;
    border: 1px solid #ccc;
}

.js .status-section {
    display:none;
}
