{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
<script>
    window.django.jQuery(function(){
        var $ = window.django.jQuery;
        var left = null;
        var top = null;
        var width = null;
        var height = null;
        var ratio = 2;
        var pageRect = $('#page_rect')
        var image = $('#page_image');
        image.on('mousedown', function(e) {
            if (left !== null) {
                $('#id_left').val(left * ratio)
                $('#id_top').val(top * ratio)
                var w = (e.offsetX - left) * ratio
                var h = (e.offsetY - top) * ratio
                $('#id_width').val(w)
                $('#id_height').val(h)

                left = null
                top = null
                return
            }
            left = e.offsetX
            top = e.offsetY
            pageRect.css('left', left)
            pageRect.css('top', top)
            pageRect.css('width', left)
            pageRect.css('height', top)

        })
        image.on('mousemove', function(e) {
            if (left === null) {
                return
            }
            pageRect.css('width', e.offsetX - left)
            pageRect.css('height', e.offsetY - top)
        })
    });
</script>
{% endblock %}

{% block after_field_sets %}
<div style="position:relative; width: max-content">
    <img src="{{ original.page.image.url }}" alt="Testing" id="page_image" style="outline: 1px solid #000; width: 50%;height:50%">
    <div id="page_rect" style="outline: 1px solid #f00; position: absolute; pointer-events: none"></div>
</div>
{% endblock %}
