{% extends "admin/change_form.html" %}

{% load static %}

{% block extrahead %}{{ block.super }}
    <script src="{% static "document/admin/pageannotation.js" %}"></script>
{% endblock %}

{% block after_field_sets %}
    {% if original and original.page %}
        <div style="position:relative; width: 100%">
            <img src="{{ original.page.image.url }}" alt="Testing" id="page_image" style="outline: 1px solid #000; width: 100%;">
            <div id="page_rect" style="outline: 1px solid #f00; position: absolute; pointer-events: none;"></div>
        </div>
    {% endif %}
{% endblock %}
