{% load i18n %}
<ul class="pagination">
    {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="prev" title="{% trans "previous" %}">&laquo;</a>
        </li>
    {% else %}
        <li class="disabled">
            <span title="{% trans "previous" %}">&laquo;</span>
        </li>
    {% endif %}
    {% for page in page_obj.paginator.page_range|slice:":3" %}
        {% if page < page_obj.number %}
            <li>
                <a href="?page={{ page }}{{ getvars }}{{ hashtag }}">
                    {{ page }}
                </a>
            </li>
        {% endif %}
    {% endfor %}

    <li class="active">
        <span>
            {{ page_obj.number }}
            <span class="sr-only">
                {% trans "(current page)" %}
            </span>
        </span>
    </li>

    {% for page in page_obj.paginator.page_range|slice:"-3:" %}
        {% if page > page_obj.number %}
            <li>
                <a href="?page={{ page }}{{ getvars }}{{ hashtag }}">
                    {{ page }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="next" title="{% trans "next" %}">&raquo;</a>
        </li>
    {% else %}
        <li class="disabled">
            <span title="{% trans "next" %}">&raquo;</span>
        </li>
    {% endif %}
</ul>
