{% load i18n %}
{% load foirequest_tags %}

<div class="col-lg-8 mb-2 ">
  {% include "foirequest/snippets/attachment_item.html" %}
  {% if attachment.redacted %}
    <span class="badge badge-info" data-toggle="tooltip" data-placement="top" title="{% blocktrans %}This attachment contains personally identifying information and cannot be published.{% endblocktrans %}">
      {% blocktrans %}protected original{% endblocktrans %}
    </span>
  {% endif %}
  {% if attachment.converted and not attachment.approved %}
    <span class="badge badge-info" data-toggle="tooltip" data-placement="top" title="{% blocktrans %}This attachment has been converted to PDF and cannot be published.{% endblocktrans %}">
      {% blocktrans %}protected original{% endblocktrans %}
    </span>
  {% endif %}
  {% if attachment.approved %}
    {% if object.public %}
      <span class="badge badge-success">
        {% blocktrans %}public{% endblocktrans %}
      </span>
    {% else %}
      <span class="badge badge-info">
        {% blocktrans %}visible to you{% endblocktrans %}
      </span>
    {% endif %}
  {% endif %}
  {% if attachment.is_redacted %}
    <span class="badge badge-dark">
      {% blocktrans %}redacted{% endblocktrans %}
    </span>
  {% endif %}
</div>
<div class="col-lg-4 text-right">
  {% if attachment.can_redact and object|can_write_foirequest:request %}
    <a class="btn btn-sm btn-dark d-print-none" href="{% url 'foirequest-redact_attachment' slug=object.slug attachment_id=attachment.id %}">
      {% trans "Redact" %}
    </a>
  {% endif %}
</div>
