{% load i18n %}

<div class="attachment-card ajax-parent {% if not attachment.can_approve %}list-group-item-dark{% elif not attachment.approved %}list-group-item-secondary{% endif %}">
  <div class="attachment-body row">
    {% if attachment.approved or attachment.redacted %}
      {% include "foirequest/snippets/attachment_approved.html" with attachment=attachment %}
    {% else %}
      {% include "foirequest/snippets/attachment_unapproved.html" with attachment=attachment %}
    {% endif %}
  </div>
</div>
