{% load i18n %}

{% load foirequest_tags %}

<div class="col-sm-10 mb-2 ">
  {% if object|can_write_foirequest:request and attachment.allow_link %}
    {# Link to attachment when unapproved, but write allowed and cannot redact #}
    {% include "foirequest/snippets/attachment_item.html" %}
  {% else %}
    {% comment %}
      When unapproved and user can redact and can write, disallow direct access
      and force to review.
    {% endcomment %}
    <span title="{{ attachment.name }}">
      <i class="fa fa-paperclip" aria-hidden="true"></i>
      <span class="d-print-none">{{ attachment.name|truncatefilename:20 }}</span>
      <span class="d-none d-print-inline">{{ attachment.name }}</span>
    </span>&nbsp;<span class="badge badge-light">
      {{ attachment.size|filesizeformat }}
    </span>
  {% endif %}
  {% if attachment.pending %}
    <span class="badge badge-info">
      {% blocktrans %}PDF Pending{% endblocktrans %}
    </span>
  {% endif %}
  <span class="badge badge-warning">
    {% blocktrans %}Not public!{% endblocktrans %}
  </span>
  {% if attachment.is_mail_decoration and object|can_write_foirequest:request %}
    <span data-toggle="tooltip" data-html="true" title="<h6>{{ attachment.name }}</h6> <img src='{{ attachment.get_authenticated_absolute_domain_file_url }}' alt='{{ attachment.name }}'/>">
      <i class="fa fa-picture-o" aria-hidden="true"></i>
    </span>
  {% endif %}
</div>
<div class="col-sm-2 text-right">
  <div class="btn-group-forms" role="group">
    {% if object|can_write_foirequest:request %}
      {% if attachment.can_edit %}
        <a href="{% url 'foirequest-upload_attachments' slug=object.slug message_id=message.pk %}#attachment-{{ attachment.id }}" class="btn btn-sm btn-secondary">
          <span class="fa fa-edit"></span>
          <span class="sr-only">{% trans "Edit" %}</span>
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>
