{% load i18n %}
{% load comments %}
{% load foirequest_tags %}

<div id="{{ message.get_html_id }}" class="message-container">
  <div class="message{% if not message.sender_user %} message-received{% endif %}{% if message.is_escalation %} message-escalated{% endif %}">
    <dl class="message-meta">
      <dt>
        {% blocktrans %}From{% endblocktrans %}
      </dt>
      <dd>
        {% if object|can_write_foirequest:request %}
          {% if message.is_response %}
            {{ message.user_real_sender }} – {{ message.sender_public_body.name }}
            <span class="d-print-none">
              (<a href="#change-pb-{{ message.id }}" data-toggle="collapse" href="#change-pb-{{ message.id }}" aria-expanded="false" aria-controls="change-pb-{{ message.id }}">
                {% trans "change" %}
              </a>)
            </span>
            {% if message.is_postal %}<em>{% trans "via postal mail" %}</em>{% endif %}
            <div id="change-pb-{{ message.id }}" class="collapse d-print-none">
              {% with message_pb_form=message.get_public_body_sender_form %}
                <form method="post" action="{% url 'foirequest-set_message_sender' slug=object.slug message_id=message.id %}">
                  {% csrf_token %}
                  <label for="id_m{{ message.id }}-sender">{% blocktrans %}Set the Public Body that sent this message:{% endblocktrans %}</label>
                  {{ message_pb_form.sender }}
                  <button type="submit" class="btn btn-secondary">{% blocktrans %}Set Sending Public Body{% endblocktrans %}</button>
                </form>
              {% endwith %}
            </div>
          {% else %}
            {{ message.user_real_sender }}
          {% endif %}
        {% else %}
          {% if message.is_response %}
            {% if froide.public_body_officials_public %}
              {{ message.sender }}
              {% if message.sender_public_body %}
               – <a href="{{ message.sender_public_body.get_absolute_url }}">{{ message.sender_public_body.name }}</a>
              {% endif %}
            {% else %}
              {% if message.sender_public_body %}
                <a href="{{ message.sender_public_body.get_absolute_url }}">{{ message.sender_public_body.name }}</a>
              {% else %}
                {% trans "Public Body" %}
              {% endif %}
            {% endif %}
          {% else %}
            {{ message.sender }}
          {% endif %}
        {% endif %}
      </dd>
      <dt>
        {% blocktrans %}Subject{% endblocktrans %}
      </dt>
      <dd>
        <strong>{{ message.get_subject }}</strong>
      </dd>
      <dt>
        {% blocktrans %}Date{% endblocktrans %}
      </dt>
      <dd>
        <a href="#{{ message.get_html_id }}">
          {% if message.is_postal %}
            {{ message.timestamp|date:"DATE_FORMAT" }}
          {% else %}
            {{ message.timestamp|date:"DATETIME_FORMAT" }}
          {% endif %}
        </a>
      </dd>
    {% if not message.is_response %}
      <dt>
        {% blocktrans %}To{% endblocktrans %}
      </dt>
      <dd>
        {{ message.get_recipient }}
      </dd>
  {% endif %}
    {% if message.status or message.has_delivery_status %}
      <dt>
        {% blocktrans %}Status{% endblocktrans %}
      </dt>
      <dd>
        {% if message.status %}
          {{ message.readable_status }}
        {% endif %}
        {% if message.has_delivery_status %}
          {% with deliverystatus=message.get_delivery_status %}
            {% if message.status %}
              &mdash;
            {% endif %}
            {% if deliverystatus.is_sent %}
              <i class="fa fa-check-circle-o"></i>
              {% trans "Email was sent successfully." %}
            {% elif deliverystatus.is_pending %}
              <i class="fa fa-clock-o"></i>
              {% trans "Email delivery is ongoing..." %}
            {% elif deliverystatus.is_failed %}
              <i class="fa fa-ban"></i>
              {% trans "Email delivery has failed. Please contact site moderators." %}
            {% else %}
              <i class="fa fa-circle-o"></i>
              {% trans "Email delivery status is unknown." %}
            {% endif %}
          {% endwith %}
        {% endif %}
      </dd>
    {% endif %}
    {% if user.is_staff %}
      <dt class="d-print-none">
        {% blocktrans %}Admin{% endblocktrans %}
      </dt>
      <dd class="d-print-none">
        <a href="{% url 'admin:foirequest_foimessage_change' message.id %}">{% trans "View message in admin" %}</a>
      </dd>
    {% endif %}
  </dl>
  {% if object|can_write_foirequest:request and message.is_postal %}
    <div class="d-print-none">
      <h6>
        {% blocktrans %}Upload Attachments{% endblocktrans %}
      </h6>
      {% with form=message.get_postal_attachment_form %}
        <form method="post" action="{% url 'foirequest-add_postal_reply_attachment' slug=object.slug message_id=message.pk %}" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.files }}
          <button type="submit" class="upload-button btn btn-secondary">{% blocktrans %}Upload Document{% endblocktrans %}</button>
          <span class="form-text text-muted">{{ form.files.help_text }}</span>
        </form>
      {% endwith %}
    </div>
  {% endif %}

  {% if message.all_attachments %}
    <h6>
      {% blocktrans %}Attachments{% endblocktrans %}
    </h6>
    <div class="attachment-deck">
      {% if user == object.user or user.is_staff %}
        {% for attachment in message.not_approved_attachments %}
          {% include "foirequest/snippets/attachment.html" %}
        {% endfor %}
      {% endif %}
      {% for attachment in message.approved_attachments %}
        {% include "foirequest/snippets/attachment.html" %}
      {% endfor %}
    </div>
  {% endif %}

    {% if object|can_write_foirequest:request %}
      {% if object.message_needs_status == message %}
        <div class="alert alert-danger">
          <a data-tabgo="tab" href="#set-status">{% blocktrans %}Please click here to set a new status for this request now{% endblocktrans %}</a>
        </div>
      {% endif %}
    {% endif %}
    <hr/>
    <div id="{{ message.get_html_id }}-content" class="message-content">
      {% if forloop.counter0 == 0 %}
        <div class="content-text">{% highlight_request message %}<div class="d-print-none">
<a data-toggle="collapse" href="#letter_end" aria-expanded="false" aria-controls="letter_end" class="muted hideparent">{% trans "[... Show complete request text]" %}</a>
{% blocktrans %}Kind Regards,{% endblocktrans %}
{{ message.sender }}</div>
        </div>
      {% else %}
        {% if message.content_hidden %}
          {% if object|can_write_foirequest:request %}
            <div class="d-print-none alert alert-warning">
              <p>{% blocktrans %}This message may contain information that you may wish to not publish until after the whole request finished. The following message is therefore currently only visible to you.{% endblocktrans %}</p>
              <form class="form-horizontal" method="post" action="{% url 'foirequest-approve_message' slug=object.slug message=message.pk %}">
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">{% trans "I want to publish this message" %}</button>
              </form>
            </div>
            <div class="content-text">{% redact_message message user %}</div>
          {% else %}
            <div class="alert alert-warning">
              <p>{% blocktrans %}This message is not yet public.{% endblocktrans %}</p>
            </div>
          {% endif %}
        {% else %}
          <div class="content-text">{% redact_message message user %}</div>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% if object|can_write_foirequest:request %}
    {% if message.is_response %}
      <div class="alert alert-info d-print-none">
        <a data-tabgo="tab" href="#write-message">{% blocktrans %}You can write a reply by clicking here{% endblocktrans %}</a>
      </div>
    {% endif %}
  {% endif %}

  {% if message.events %}
    <div class="events">
      <ol>
        {% for event in message.events %}
          <li class="event" id="{{ event.get_html_id }}">
            <span class="d-print-none" title="{{ event.timestamp }}">
              {% blocktrans with time=event.timestamp|timesince %}{{ time }} ago{% endblocktrans %}</span><span class="d-none d-print-inline">{{ event.timestamp|date:"DATETIME_FORMAT" }}</span>: {{ event.as_html }}
          </li>
        {% endfor %}
      </ol>
    </div>
  {% endif %}

  <div class="comments-container d-print-none">
    {% get_comment_list for message as comment_list %}
    <div id="comments-{{ message.id }}" class="comments">
      {% include "comments/foirequest/list.html" %}
      <a data-toggle="collapse" aria-expanded="false" aria-controls="comment-form-{{ message.id }}" href="#comment-form-{{ message.id }}">
        {% blocktrans %}Write a comment{% endblocktrans %}
      </a>
      <div class="collapse" id="comment-form-{{ message.id }}">
        {% if user.is_authenticated %}
          {% include "comments/foirequest/form.html" %}
        {% else %}
          <a href="{% url 'account-login' %}" class="d-print-none">{% blocktrans %}Please login to write a comment.{% endblocktrans %}</a><br/>
        {% endif %}
      </div>
    </div>
  </div>
</div>
