*.py[co]
.DS_Store
*.vim
*.db
local_*.py
data/
solr/
files/
froide/tests/testdata/*/
.coverage
*/_build/
.idea
htmlcov/
public/
build/
dist/
venv/
*.egg-info
*.log
froide/tests/froide_test_whoosh_db
node_modules/
*.map
favicon-result.json
.mypy_cache