repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ['--profile', 'black', '--filter-files']
  - repo: https://github.com/psf/black
    rev: '22.6.0' # Replace by any tag/version: https://github.com/psf/black/tags
    hooks:
      - id: black
        language_version: python3 # Should be a command that runs python3.6+
  - repo: https://github.com/pycqa/flake8
    rev: '5.0.4' # pick a git hash / tag to point to
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear==21.4.3]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.21.0
    hooks:
      - id: eslint
        files: \.(js|ts|vue)?$
        types: [file]
        additional_dependencies:
          - eslint@8.21.0
          - eslint-config-standard-with-typescript
          - eslint-plugin-html
          - eslint-plugin-import
          - eslint-plugin-node
          - eslint-plugin-promise
          - eslint-plugin-vue
          - prettier
          - eslint-plugin-prettier
          - eslint-config-standard
exclude: ^.*/migrations/.*$
