---
language: python
python:
- '3.3'
- '2.7'
- '2.6'
services:
- elasticsearch
before_install:
- export PIP_USE_MIRRORS=true
- phantomjs --version
- phantomjs --webdriver= &
install:
- pip install -r requirements-test.txt
- pip install -e .
script:
- make test
branches:
  only:
  - master
