[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

Django = "<2.0"
Markdown = "*"
django-haystack = "*"
django-taggit = "*"
pytz = "*"
requests = "*"
django-overextends = "*"
python-magic = "*"
python-mimeparse = ">=0.1.4"
django-configurations = "*"
django-storages = "*"
dj-database-url = "*"
django-cache-url = "*"
django-contrib-comments = "*"
unicodecsv = "*"
celery = "*"
"PyPDF2" = "*"
reportlab = "*"
Wand = "*"
djangorestframework = "*"
django-oauth-toolkit = "*"
coreapi = "*"
django-filter = "*"
django-treebeard = "*"
djangorestframework-jsonp = "*"
"geoip2" = "*"
tesserocr = {git = "git://github.com/sirfz/tesserocr.git", editable = true}


[dev-packages]

selenium = "*"
"flake8" = "*"
factory_boy = "*"
coverage = "*"
mock = "*"
Whoosh = "*"
