[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "<2.0"
markdown = "*"
django-haystack = "*"
django-taggit = "*"
pytz = "*"
requests = "*"
django-overextends = "*"
python-magic = "*"
python-mimeparse = ">=0.1.4"
django-configurations = "*"
django-storages = "*"
dj-database-url = "*"
django-cache-url = "*"
django-contrib-comments = "*"
unicodecsv = "*"
celery = "*"
"pypdf2" = "*"
reportlab = "*"
wand = "*"
djangorestframework = "*"
django-oauth-toolkit = "<1.2.0"
coreapi = "*"
django-filter = "*"
django-treebeard = "*"
djangorestframework-jsonp = "*"
"geoip2" = "*"
pdflib = "*"
pylatex = "*"

[dev-packages]
selenium = "*"
"flake8" = "*"
factory-boy = "*"
coverage = "*"
mock = "*"
whoosh = "*"
