-r requirements.txt
pyelasticsearch==0.6.1
selenium==2.42.1
flake8==2.2.2
factory-boy==2.4.1
coverage==3.7.1
-e git://github.com/stefanw/transifex-client.git@python-3#egg=transifex_client
mock==1.0.1
whoosh
