pip== 9.0.1
Django<1.11
Markdown==2.6.6
celery==3.1.23
django-haystack==2.5.0
django-taggit==0.21.2
pytz==2016.10
requests==2.13.0
django-floppyforms==1.7.0
django-overextends==0.4.2
python-magic==0.4.13
django-tastypie==0.13.3
python-mimeparse>=0.1.4
django-configurations==2.0
django-storages==1.5.0
dj-database-url==0.4.1
django-cache-url==1.2.0
django-compressor==2.1
django-contrib-comments==1.7.1
unicodecsv==0.14.1
