pip==7.1.0
Django==1.8.3
Markdown==2.6.2
celery==3.1.18
django-celery==3.1.16
django-haystack==2.4.0
django-taggit==0.16.2
pytz==2015.4
requests==2.7.0
django-floppyforms==1.5.1
django-overextends==0.4.0
python-magic==0.4.6
django-tastypie==0.12.2
python-mimeparse>=0.1.4
-e git://github.com/stefanw/django-tastypie-swagger.git@python-3#egg=django_tastypie_swagger
-e git://github.com/jezdez/django-configurations.git@master#egg=configurations
django-storages==1.1.8
dj-database-url==0.3.0
django-cache-url==1.0.0
django-compressor==1.5
django-contrib-comments==1.6.1
unicodecsv==0.13.0
