camelot-py[cv]
celery
channels
coreapi
dj-database-url
django-cache-url
django-celery-email
django-celery-beat
django-configurations
django-contrib-comments
django-crossdomainmedia
django-elasticsearch-dsl
django-filter
django-fsm
django-json-widget
django-leaflet
django-oauth-toolkit
django-parler
django-storages
django-taggit
django-treebeard
Django>=3.2,<3.3
djangorestframework
djangorestframework-csv
djangorestframework-jsonp
elasticsearch<8.0.0,>=7.0.0
elasticsearch-dsl>=7.0.0<8.0.0
geoip2
icalendar
markdown
phonenumbers
psycopg2-binary
pyisemail
pypdf2
python-magic
python-mimeparse
pytz
reportlab
requests
Wand
WeasyPrint
websockets

-e git+https://github.com/okfde/django-filingcabinet.git@master#egg=django-filingcabinet
