-r requirements.in
black
coverage
coveralls
factory-boy
faker
flake8
flake8-bugbear
isort
pbr
pre-commit
pycodestyle
pyflakes
pytest-django
pytest-factoryboy
pytest-playwright
selenium
text-unidecode
django-coverage-plugin
tblib
monkeytype
mypy
django-stubs
types-Markdown
types-python-dateutil
types-requests
