bleach
celery>=5.2.2
channels
coreapi
dj-database-url
django-celery-beat>=2.4.0
django-celery-email
django-configurations
django-contrib-comments
django-crossdomainmedia
django-elasticsearch-dsl
django-filter
django-fsm
django-json-widget
django-leaflet
django-mfa3
django-oauth-toolkit<2.0.0
django-parler
django-storages
django-taggit>=2
django-treebeard
Django>=4.1,<4.2
djangorestframework
djangorestframework-csv
djangorestframework-jsonp
drf-spectacular
easy-thumbnails
elasticsearch-dsl>=7.0.0<8.0.0
elasticsearch<8.0.0,>=7.0.0
geoip2
icalendar
lxml>=4.6.5
markdown
phonenumbers
Pillow>=9.0.0
psycopg2-binary
pyisemail
pypdf2>=2
python-magic
python-mimeparse
python-slugify
reportlab
requests
Wand
WeasyPrint
websockets

-e git+https://github.com/okfde/django-filingcabinet.git@main#egg=django-filingcabinet
-e git+https://github.com/okfde/pygtail.git@3be17b00f55781caba62d589bcf8aceb0805a58c#egg=pygtail
