-r requirements.in
beautifulsoup4
black
coverage
django-coverage-plugin
django-stubs
factory-boy
faker
flake8
flake8-bugbear
isort
monkeytype
mypy
pbr
pre-commit
pycodestyle
pyflakes
pytest-django
pytest-factoryboy
pytest-playwright
tblib
text-unidecode
time-machine
types-Markdown
types-python-dateutil
types-requests
