-r requirements.txt
coverage==4.5.2
factory-boy==2.11.1
faker==1.0.1
flake8==3.6.0
mccabe==0.6.1
mock==2.0.0
pbr==3.1.1
pycodestyle==2.4.0
pyflakes==2.0.0
python-dateutil==2.7.5
selenium==3.141.0
text-unidecode==1.2
