amqp==2.3.2
billiard==3.5.0.4
celery==4.2.1
certifi==2018.8.24
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cython==0.28.3
dj-database-url==0.5.0
django-cache-url==3.0.0
django-configurations==2.1
django-contrib-comments==1.9.0
django-filter==2.0.0
django-haystack==2.8.1
django-oauth-toolkit==1.1.2
django-overextends==0.4.3
django-storages==1.7.1
django-taggit==0.23.0
django-treebeard==4.3
django==1.11.15
djangorestframework-csv==2.1.0
djangorestframework-jsonp==1.0.2
djangorestframework==3.8.2
geoip2==2.9.0
idna==2.7
itypes==1.1.0
jinja2==2.10
kombu==4.2.1
lxml==4.2.4
markdown==2.6.11
markupsafe==1.0
maxminddb==1.4.1
oauthlib==2.1.0
phonenumbers==8.9.13
pillow==5.2.0
pypdf2==1.26.0
python-magic==0.4.15
python-mimeparse==1.6.0
pytz==2018.5
reportlab==3.5.6
requests==2.19.1
six==1.11.0
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.23
vine==1.1.4
wand==0.4.4
-e git+git://github.com/okfde/django-filingcabinet.git@master#egg=django-filingcabinet
