{% extends 'foirequest/base.html' %}
{% load i18n %}
{% load static %}
{% load frontendbuild %}
{% block title %}
    {% blocktrans with title=foirequest.title %}Manage attachments for “{{ title }}”{% endblocktrans %}
{% endblock %}
{% block navbar %}
    {% include "header_reduced.html" %}
{% endblock %}
{% block body %}
    <div class="bg-body-tertiary">
        {% blocktrans with date=message.timestamp|date:"SHORT_DATE_FORMAT" asvar breadcrumb_label %}Attachments of message from {{ date }}{% endblocktrans %}
        {% include "foirequest/header/breadcrumb.html" with last_item=breadcrumb_label %}
    </div>
    <div class="container">
        <div class="my-3">
            <a href="{{ message.get_absolute_url }}"
               class="btn btn-outline-secondary">{% trans "Back" %}</a>
        </div>
        <h2>{% trans "All attachments and options" %}</h2>
        {% translate "Here you can download and edit documents you have uploaded previously." %}
        {% csrf_token %}
        <attachment-manager id="attachment-manager" :message="{{ message_json }}" :config="{{ config_json }}" :user_is_staff="{{ user_is_staff }}">
        <div class="text-center">
            <h4>{% trans "Attachments are loading..." %}</h4>
            <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">{% trans "Loading..." %}</span>
            </div>
        </div>
        <template data-slot="notapproved-attachments">
            <h2>
                {% if foirequest.public %}
                    {% translate "Non-approved attachments" %}
                {% else %}
                    {% translate "Non-public attachments" %}
                {% endif %}
            </h2>
            {% if not foirequest.public %}
                <p>
                    {% translate "Your request is not public at the moment. Non-published attachments will remain so even after the request is published." %}
                </p>
            {% endif %}
        </template>
        <template data-slot="upload-header">
            <h2>{% translate "Upload" %}</h2>
            <p>{% translate "Upload PDFs or pictures of documents." %}</p>
            {% with extra_content_types=message.get_extra_content_types %}
                {% if extra_content_types %}
                    <p>
                        <strong>{% translate "You may additionally upload the following file types to this message:" %}</strong>
                    </p>
                    <ul>
                        {% for ct in extra_content_types %}
                            <li>
                                <code>{{ ct }}</code>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </template>
        <template data-slot="irrelevant-attachments">
            <h2>{% translate "Unimportant attachments" %}</h2>
            <p>{% translate "Public bodies’ logos and similar images are automatically classified as unimportant." %}</p>
        </template>
        </attachment-manager>
        <p class="text-end mt-3">
            <a href="{{ message.get_absolute_url }}" class="btn btn-secondary">{% trans "Return to message" %}</a>
        </p>
    </div>
    {% addfrontendbuild "docupload.js" %}
    {% addfrontendbuild "attachmentmanager.js" %}
{% endblock %}
