{% extends 'foirequest/base.html' %}

{% load i18n %}
{% load static %}
{% load block_helper %}

{% block title %}{% blocktrans with title=object.title %}Manage attachments for “{{ title }}”{% endblocktrans %}{% endblock %}

{% block navbar %}
  {% include "header_reduced.html" %}
{% endblock %}

{% block body %}

  <div class="breadcrumb-container">
    {% blocktrans with date=message.timestamp|date:"SHORT_DATE_FORMAT" asvar breadcrumb_label %}Attachments of message from {{ date }}{% endblocktrans %}
    {% include "foirequest/header/breadcrumb.html" with last_item=breadcrumb_label %}
  </div>

  <div class="container">
    <div class="float-right">
      <a href="{{ message.get_absolute_url }}" class="btn btn-light">{% trans "Back" %}</a>
    </div>

    <h2>{% trans "Manage attachments" %}</h2>
    <p>
      {% blocktrans with date=message.timestamp|date:"SHORT_DATE_FORMAT" sender=message.sender title=foirequest.title url=message.get_absolute_url %}
      Attachments for <a href="{{ url }}">message dated {{ date }}</a> from <b>{{ sender }}</b> in request “{{ title }}”.
      {% endblocktrans %}
      <br/>
      {% translate "Here you can:" %}
    </p>
    <ul>
      <li>
        {% translate "Approve or redact attachments." %}
      </li>
      <li>
        {% translate "Convert multiple pictures to pages in a PDF document." %}
      </li>
      <li>
        {% translate "Upload more pictures or PDFs." %}
      </li>
    </ul>

    {% csrf_token %}

    <document-uploader
      id="document-uploader"
      :message="{{ message_json }}"
      :config="{{ config_json }}"
    >
      <div class="text-center">
        <h4>
          {% trans "Attachments are loading..." %}
        </h4>
        <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">{% trans "Loading..." %}</span>
        </div>
      </div>
      <div slot="convert-images">
        <h3>{% translate "Convert images to documents" %}</h3>
      </div>
      <div slot="documents">
        <h3>{% translate "Documents" %}</h3>
        <p>
          {% translate "Here you can approve, redact documents and also mark them as a result of your request." %}
        </p>
      </div>
      <div slot="upload-header">
        <h3>{% translate "Upload" %}</h3>
        <p>{% translate "Upload PDFs or pictures of documents." %}</p>
        {% with extra_content_types=message.get_extra_content_types %}
          {% if extra_content_types %}
            <p>
              <strong>
              {% translate "You may additionally upload the following file types to this message:" %}
              </strong>
            </p>
            <ul>
            {% for ct in extra_content_types %}
              <li><code>{{ ct }}</code></li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div>
      <div slot="other-files">
        <h4>{% translate "Other files" %}</h4>
      </div>
    </document-uploader>

    <p class="text-right">
      <a href="{{ message.get_absolute_url }}" class="btn btn-secondary">{% trans "Return to message" %}</a>
    </p>
  </div>

{% addtoblock "js" %}
  <script src="{% static 'js/common.js' %}"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
  <script src="{% static 'js/docupload.js' %}" charset="utf-8"></script>
{% endaddtoblock %}
{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
{% endaddtoblock %}
{% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'css/docupload.css' %}"/>
{% endaddtoblock %}
{% endblock %}
