{% extends "foirequest/base.html" %}

{% load i18n %}
{% load static %}
{% load foirequest_tags %}

{% block body %}
<div class="container mt-3 mb-3">
    <h2>{% blocktrans with name=attachment.name %}Attachment “{{ name }}”{% endblocktrans %}</h2>
    <p>
        {% blocktrans with title=foirequest.title message_url=message.get_absolute_url %}
        This attachment is part of the request ”<a href="{{ message_url }}">{{ title }}</a>”.
        {% endblocktrans %}
    </p>
    {% if attachment.can_redact and foirequest|can_write_foirequest:request %}
        <a class="btn btn-sm btn-dark d-print-none" href="{% url 'foirequest-redact_attachment' slug=foirequest.slug attachment_id=attachment.id %}">
            <i class="fa fa-paint-brush"></i>
            {% trans "Redact" %}
        </a>
    {% endif %}
</div>


{% if attachment.can_embed %}
  {% if attachment.is_pdf %}
    <div class="container-sm-full">
      <iframe src="{% static 'filingcabinet/viewer/web/viewer.html' %}?file={{ attachment_url | urlencode }}" frameborder="0" style="width: 100%; height: 90vh; border: 0;"></iframe>
    </div>
  {% else %}
    <div class="container">
      <embed src="{{ attachment_url }}" style="max-width: 100%;" {% if attachment.filetype %} type="{{ attachment.filetype }}"{% endif %}></embed>
    </div>
  {% endif %}
{% endif %}

<div class="container mb-5">
  {% if attachment.can_embed %}
    <div class="text-right">
        <small>
            {# expose direct links through redirects in case they get copied #}
            <a href="{{ attachment.get_absolute_domain_auth_url }}">
                {% trans "Download original" %}
            </a>
        </small>
    </div>
  {% else %}
    <p>
      {% trans "This file cannot be previewed." %}
      <a href="{{ attachment.get_absolute_domain_auth_url }}">
        {% trans "Download the file here." %}
      </a>
    </p>
  {% endif %}
</div>
{% endblock %}
