{% extends 'base.html' %}
{% load i18n %}

{% block body %}
<h2>{% blocktrans %}Search Results for "{{ query }}"{% endblocktrans %}</h2>
  <form method="get" action=".">
    {# {{ form.as_p }} #}
    <p><label for="id_q">{% blocktrans %}Search Terms:{% endblocktrans%}</label>
    <input type="text" name="q" value="{{ query }}" id="id_q" autocomplete="off"/>
    <input type="submit" value="{% trans "Search" %}"/>
    </p>
  </form>
      {% if query %}
      <h3>{% blocktrans %}Results{% endblocktrans %}</h3>
            {% for result in page.object_list %}
            <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a>
                </p>
            {% empty %}
            <p>{% blocktrans %}No results found.{% endblocktrans %}</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}
                      &laquo; {% trans "Previous" %}{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                      {% trans "Next" %}&raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
  
{% endblock %}
