{% load i18n %}

{% if comment_list %}
  <div class="alpha-message__wrap pt-3 mb-3 smaller border-top border-bottom border-light">
  {% for comment in comment_list %}

    <!-- head -->
    <div class="d-flex justify-content-start align-items-center">
      <!-- name -->
      <strong>
        {% if request.user.is_authenticated %}
          {% if comment.user == object.user and object.user.private %}
            <span class="redacted-dummy redacted-hover" data-toggle="tooltip" data-original-title="Name nicht öffentlich">
              <span class="requester">{% trans "Requester" %}</span>
            </span>
          {% else %}
              {{ comment.user_name }}
          {% endif %}
        {% else %}
          <span class="redacted-dummy redacted-hover" data-toggle="tooltip" data-original-title="Nur für angemeldete Nutzer/innen sichtbar">
            Kommentaror/in
          </span>
          {% endif %}
      </strong>
      
      {% if comment.user == object.user and not object.user.private %}
        <span class="badge bg-blue-20 ml-1">{% trans "Requester" %}</span>
      {% elif comment.user.is_staff %}
        <span class="badge bg-yellow-100 ml-1">{% trans "Moderator" %}</span>
      {% endif %}
      
      <!-- timestamp -->
      <small class="text-gray-600 mx-1">•</small>
      <small class="text-gray-600">{{ comment.submit_date }}</small>
      
    </div>

    <!-- body -->
    {% if comment.is_removed %}
      <p class="text-muted">{% trans "Comment was removed." %}</p>
    {% else %}
      <p>
        {% if comment.user.is_staff %}
          {{ comment.comment|urlizetrunc:40|linebreaksbr }}
        {% else %}
          {% if comment.comment != comment.comment|truncatewords:20 %}
            {{ comment.comment|truncatewords:20|urlizetrunc:40|linebreaksbr }}
            <a class="alpha-message__expand-comment-trigger" href="#">{% trans "Read all" %}</a>
            <span style="display: none;">{{ comment.comment|urlizetrunc:40|linebreaksbr }}</span>
          {% else %}
            {{ comment.comment|urlizetrunc:40|linebreaksbr }}
          {% endif %}
        {% endif %}
      </p>
    {% endif %}
    
  {% endfor %}
  </div>
{% endif %}