{% load i18n comments %}

<h3>
    <small class="small">{{ object.source.name }}, {{ object.date|date:"DATE_FORMAT" }}</small>
    <br/><a class="target-new" href="{{ object.url }}">{{ object.title }}</a></h3>

    {% comment %}
    <blockquote>
    {{ object.text|linebreaksbr|truncatewords:50 }}
    <p>
        <cite><a href="{{ object.source.homepage }}">{{ object.source.name }}</a> - <a href="{{ object.url }}">{{ object.title }}</a></cite>
    </p>
    </blockquote>
    {% endcomment %}

{% with requests=object.foirequests.all %}
{% if requests %}
{% trans "Requests based on this article:" %}
<ul>
{% for req in object.foirequests.all %}
    <li>
        <a href="{{ req.get_absolute_url }}">
            {% blocktrans with title=req.title name=req.public_body.name %}Request "{{ title }}" to {{ name }}{% endblocktrans %}
        </a>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% blocktrans %}Make a request based on this article:{% endblocktrans %}
<ul>
{% for pb in object.public_bodies.all %}
    <li>
        <a href="{% url 'foirequest-make_request' public_body=pb.slug %}?ref=article:{{ object.id }}&amp;subject={{ object.title}}&amp;body={{ object.url|urlencode }}">
            {% blocktrans with name=pb.name %}Make request to {{ name }}{% endblocktrans %}
        </a>
    </li>
{% endfor %}
</ul>
<div class="comments-container">
  {% get_comment_list for object as comment_list %}
<div id="comments-{{ object.id }}" class="comments">
    {% if comment_list %}
        <p>{% trans "Ideas for requests:" %}</p>
        {% include "comments/foirequest/list.html" %}
    {% endif %}
  <a class="toggle" href="{{ object.get_absolute_url }}#comment-form-{{ object.id }}">{% blocktrans %}Provide an idea for a request based on this article{% endblocktrans %}</a>
  <div class="comment-form" id="comment-form-{{ object.id }}">
  {% if user.is_authenticated %}
  {% with next=object.get_absolute_url %}
    {% render_comment_form for object %}
  {% endwith %}
  {% else %}
  <a href="{% url 'account-login' %}" class="no-print">{% blocktrans %}Please login to provide an idea.{% endblocktrans %}</a><br/>
  {% endif %}
  </div>
</div>
</div>