{% load i18n %}
{% load form_helper %}
<form method="post"
      action="{{ submit_url }}"
      class="tight-margin d-flex flex-column w-100">
    <h3 class="h5">{{ legend }}</h3>
    {% csrf_token %}{# needs to be below <h5> for `tight-margin` class to work #}
    <p>
        {% if object.team %}
            {% blocktrans with name=object.team.name url=object.team.get_absolute_url %}
        Currently, the team <a href="{{ url }}">{{ name }}</a> is assigned to this project.
      {% endblocktrans %}
        {% else %}
            {% trans "Currently no team assigned." %}
        {% endif %}
    </p>
    {% render_form form %}
    <div class="d-flex flex-wrap align-items-center mt-auto">
        <button type="submit" class="btn btn-primary">{{ submit_button }}</button>
        <a href="{% url 'team-list' %}" class="ms-3">{% trans "or create a new team" %}</a>
    </div>
</form>
