{% extends "scaffold.html" %}

{% load i18n %}
{% load static %}

{% load block_helper %}

{% block body_tag %}
  {% block top_block %}
    {% if froide.dryrun %}
    <div style="text-align:center;color:#fff;padding:3px 0 3px;width:100%;height:25px;background:#a00;">{% blocktrans %}This site is currently in dry run mode. All Public Body mail will go to this mail server:{% endblocktrans %} {{ froide.dryrun_domain }}</div>
    {% endif %}
  {% endblock %}

  {% block navbar %}
    {% include "header.html" %}
  {% endblock %}

  {% block index_banner %}{% endblock %}
  {% block foisite_advice %}{% endblock %}

  {% include "snippets/messages.html" %}

  {% block body_wrapper %}
  <div id="main" class="container">
  {% block body %}
  {% endblock %}
  </div>
  {% endblock %}

  <footer class="container" id="footer">
    <hr/>
  {% block footer %}
    {% block footer_above %}
    {% endblock footer_above %}
    {% block footer_credits %}
    <div class="row">
      <div class="col-lg-9">
        {% block footer_description %}
        <p>
          {% blocktrans %}Froide is a free and Open Source Project by <a href="http://www.okfn.org">the Open Knowledge Foundation</a>. If you want to support Froide, please visit the <a href="https://github.com/okfde/froide">repository on GitHub</a>.{% endblocktrans %}
        </p>
        {% endblock %}
      </div>
      <div class="col-lg-3">
        {% block footer_logo %}
        <a href="http://www.okfn.de">
          <img src="{% static "img/okfde.png" %}" />
        </a>
        {% endblock %}
      </div>
    </div>
    <hr/>
    {% endblock footer_credits %}
    <div class="row">
      <ul class="col-lg-12 unstyled pagination-centered">
        {% block footer_menu %}
        <li>
          <a href="{% url 'help-about' %}">{% trans "About" %}</a>
        </li>
        {% block footer_menu_custom %}
        {% endblock %}
        <li>
          <a href="{% url 'help-index' %}">{% trans "Help" %}</a>
        <li>
          <a href="{% url 'help-terms' %}">{% trans "Terms of Use" %}</a>
        </li>
        <li>
          <a href="{% url 'help-privacy' %}">{% trans "Privacy Statement" %}</a>
        </li>
        {% endblock %}
      </ul>
    </div>
    {% block footer_below %}
    {% endblock footer_below %}
  {% endblock footer %}
  </footer>

{% endblock body_tag %}

{% block scripts %}
  <script src="{% static "js/common.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
{% endblock %}
