{% load i18n %}{% load static from staticfiles %}{% load gravatar %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% trans "Freedom of Information Requests" %} - {{ SITE_NAME }}{% endblock %}</title>
  {% block header_font %}
  {% endblock %}
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
  {% block extra_css %}
  {% endblock %}
  <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />
  <meta name="language" content="{{ LANGUAGE_CODE }}" />

  {# Translators: meta keywords #}
  <meta name="keywords" content="{% trans "Freedom of Information Requests, Freedom of Information Law, Public Body Information" %}" />
  {# Translators: meta description #}
  <meta name="description" content="{% block metadescription %}{% blocktrans with site=SITE_NAME %}{{ site }} helps you to make freedom of information requests to public bodies{% endblocktrans %}{% endblock %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% block additional_meta %}
  {% endblock %}


  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
  <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}"/>

  <script src="{% static "js/libs/modernizr-1.6.min.js" %}"></script>
  {% block extra_head %}
  {% endblock %}
</head>

<body{% block body_extra_attribuets %}{% endblock %}>
  {% block dryrun_block %}
  {% if froide.dryrun %}
  <div style="text-align:center;color:#fff;padding:3px 0 3px;width:100%;height:25px;background:#a00;">{% blocktrans %}This site is currently in dry run mode. All Public Body mail will go to this mail server:{% endblocktrans %} {{ froide.dryrun_domain }}</div>
  {% endif %}
  {% endblock %}

  <div class="navbar {% block navbar-class %}navbar-default{% endblock %}">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
          <span>{{ SITE_NAME }}</span>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        {% block nav %}
        <ul class="nav navbar-nav">
          <li class="{% block nav_requests %}{% endblock %}">
            <a href="{% url 'foirequest-list' %}">{% blocktrans %}Requests{% endblocktrans %}</a>
          </li>
          <li class="{% block nav_publicbodies %}{% endblock %}">
            <a href="{% url 'publicbody-list' %}">{% blocktrans %}Public Bodies{% endblocktrans %}</a>
         </li>
          <li class="special-nav-item {% block nav_makerequest %}{% endblock %}">
            <a href="{% url 'foirequest-make_request' %}"><span>{% blocktrans %}Make a Request!{% endblocktrans %}</span></a>
          </li>
        </ul>
        {% endblock nav %}
        <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'foirequest-search' %}">
          <div class="form-group">
            <input class="col-lg-3 search-query form-control" type="text" name="q" placeholder="{% trans "Search" %}"/>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          {% block language_select %}
            {% if LANGUAGES|length > 1 %}
            <li class="dropdown">
              {% csrf_token %}
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                {% if language.code == LANGUAGE_CODE %}
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ language.name }}
                    <b class="caret"></b>
                  </a>
                {% endif %}
              {% endfor %}
              <ul class="dropdown-menu">
                {% for language in languages %}
                <li>
                  <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-link" name="language" value="{{ language.code }}">
                      {{ language.name_local|title }}
                    </button>
                    {% if language.code == LANGUAGE_CODE %}&times;{% endif %}
                  </form>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endif %}
          {% endblock language_select %}
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a class="dropdown-toggle account-dropdown" data-toggle="dropdown" href="#">
              <img width="30" src="{% gravatar_url user.email 30 %}" alt="{{ user.get_full_name }}"/>
              <small class="account-name">{{ user.first_name|truncatechars:12 }}<br/>
                {{ user.last_name|truncatechars:12 }}
              </small>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{% url 'account-show' %}">{% trans "Account" %}</a>
              </li>
              {% if not user.get_profile.private %}
              <li>
                <a href="{{ user.get_profile.get_absolute_url }}">{% trans "Public Profile" %}</a>
              </li>
              {% endif %}
              <li class="divider"></li>
              <li>
                <form action="{% url 'account-logout' %}" method="post" class="text-center">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-default">
                    {% blocktrans %}Logout{% endblocktrans %}
                  </button>
                </form>
              </li>
            </ul>
          </li>
          {% else %}
            <li>
              <a class="account-login" href="{% url 'account-login' %}">
                {% blocktrans %}Log In /<br/>Sign up{% endblocktrans %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  {% block index_banner %}{% endblock %}
  {% block foisite_advice %}{% endblock %}

  {% if messages %}
  <div class="container">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div id="main" class="container">
  {% block body %}
  {% endblock %}
  </div>

  <footer class="container" id="footer">
    <hr/>
    {% block footer %}
    <div class="row">
      <div class="col-lg-9">
        {% block footer_description %}
        <p>
          {% url 'help-donate' as about_url %}
          {% blocktrans with url=about_url %}Froide is a free and Open Source Project by <a href="http://www.okfn.org">the Open Knowledge Foundation</a>. If you want to support Froide, please visit the <a href="{{url}}">repository on GitHub</a>.{% endblocktrans %}
        </p>
        {% endblock %}
      </div>
      <div class="col-lg-3">
        {% block footer_logo %}
        <a href="http://www.okfn.de">
          <img src="{% static "img/okf.png" %}" />
        </a>
        {% endblock %}
      </div>
    </div>
    <hr/>
    <div class="row">
      <ul class="col-lg-12 unstyled pagination-centered">
        {% block footer_menu %}
        <li>
          <a href="{% url 'help-about' %}">{% trans "About" %}</a>
        </li>
        {% block footer_menu_custom %}
        {% endblock %}
        <li>
          <a href="{% url 'help-index' %}">{% trans "Help" %}</a>
        <li>
          <a href="{% url 'help-terms' %}">{% trans "Terms of Use" %}</a>
        </li>
        <li>
          <a href="{% url 'help-privacy' %}">{% trans "Privacy Statement" %}</a>
        </li>
        {% endblock %}
      </ul>
    </div>
    {% endblock %}
  </footer>

  <script>!window.jQuery && document.write(unescape('%3Cscript src="{% static "js/libs/jquery.js" %}"%3E%3C/script%3E'))</script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/libs/mustache.js" %}"></script>
  <script src="{% static "js/libs/jquery.autocomplete.js" %}"></script>

  <!-- scripts concatenated and minified via ant build script-->
  <script src="{% static "js/script.js" %}"></script>
  <!-- end concatenated and minified scripts-->

  <!--[if lt IE 7 ]>
    <script src="{% static "js/libs/dd_belatedpng.js" %}"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->
  {% block extra_footer %}
  {% endblock %}
  {% if not debug %}
    {% block tracking_code %}
    {% endblock %}
  {% endif %}
</body>
</html>
