{% load i18n %}
{% load static %}
<header id="header">
  <nav class="navbar navbar-secondary navbar-expand-md navbar-light justify-content-between {% block navbar-class %}{% endblock %}">
    <div class="container">
      {% block nav_brand %}
        <a class="navbar-brand" href="{% url 'index' %}">
           <img src="{% static "img/logo/logo.svg" %}" height="42" class="navbar-logo" alt="{{ SITE_NAME }}">
           <span class="navbar-brand-name">{{ SITE_NAME }}</span>
        </a>
      {% endblock %}
      <button class="navbar-toggler d-print-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-title">{% trans "Menu" %}</span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% block nav %}
        <ul class="navbar-nav col-auto mr-auto">
          <li class="nav-item {% block nav_requests %}{% endblock %}">
            <a class="nav-link" href="{% url 'foirequest-list' %}">
              {% blocktrans %}Requests{% endblocktrans %}
            </a>
          </li>
          <li class="nav-item {% block nav_publicbodies %}{% endblock %}">
            <a class="nav-link" href="{% url 'publicbody-list' %}">
              {% blocktrans %}Public Bodies{% endblocktrans %}
            </a>
          </li>
          <li class="nav-item special-nav-item {% block nav_makerequest %}{% endblock %}">
            <a class="nav-link" href="{% url 'foirequest-make_request' %}">
             {% blocktrans %}Make a Request!{% endblocktrans %}
            </a>
          </li>
        </ul>
        {% endblock nav %}
        {% block nav_search %}
        <form class="form-inline d-block d-md-none d-lg-block" role="search" method="get" action="{% url 'foirequest-search' %}">
          <input class="form-control mr-sm-2" type="text" name="q" placeholder="{% trans "Search" %}" aria-label="Search">
        </form>
        <ul class="navbar-nav d-none d-md-block d-lg-none">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'foirequest-search' %}">
              <i class="fa fa-search" aria-hidden="true"></i>
              <span class="sr-only">{% trans "Search" %}</span>
            </a>
          </li>
        </ul>
        {% endblock nav_search %}
        <ul class="navbar-nav col-auto">
          {% block nav_account_login %}
          {% if user.is_authenticated %}
          <li class="nav-item dropdown {% block nav_account %}{% endblock %}">
            <a class="nav-link dropdown-toggle account-dropdown" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="navbaraccount-link">
              {% blocktrans with name=user.first_name|truncatechars:12 %}
                Hello {{ name}}
              {% endblocktrans %}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbaraccount-link">
              {% include "account/menu.html" %}
              <div class="dropdown-divider"></div>
              <div class="dropdown-item">
                <form action="{% url 'account-logout' %}" method="post" class="form-inline text-center">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-secondary">
                    {% blocktrans %}Logout{% endblocktrans %}
                  </button>
                </form>
              </div>
            </div>
          </li>
          {% else %}
            <li class="nav-item {% block nav_login %}{% endblock %}">
              <a class="nav-link" href="{% url 'account-login' %}">
                {% blocktrans %}Sign in{% endblocktrans %}
              </a>
            </li>
          {% endif %}
          {% endblock nav_account_login %}

          {% block language_select %}
            {% if LANGUAGES|length > 1 %}
            <li class="nav-item dropdown">
              {% for lang_code, language in LANGUAGES %}
                {% if lang_code == CURRENT_LANGUAGE_CODE %}
                  <a class="nav-link dropdown-toggle" href="#" id="navbarlanguage-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ language }}
                  </a>
                {% endif %}
              {% endfor %}
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarlanguage-link">
                {% for lang_code, language in LANGUAGES %}
                    <form class="dropdown-item form-inline" action="{% url 'set_language' %}" method="post">
                      {% csrf_token %}
                      <button class="btn btn-link btn-block text-left" name="language" value="{{ lang_code }}">
                        {{ language|title }}
                        {% if lang_code == CURRENT_LANGUAGE_CODE %}
                          <i class="fa fa-check" aria-hidden="true"></i>
                        {% endif %}
                      </button>
                    </form>
                {% endfor %}
              </div>
            </li>
            {% endif %}
          {% endblock language_select %}

        </ul>

        {% block nav_secondary %}
        <ul class="navbar-nav navbar-nav-secondary col-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'help-about' %}">
              {% trans "About" %}
            </a>
          </li>
          <li class="nav-item special-nav-secondary-item">
            <a class="nav-link" href="{% url 'help-index' %}">
              {% trans "Help" %}
            </a>
          </li>
        </ul>
        {% endblock nav_secondary %}

      </div><!--/.nav-collapse -->
    </div>
  </nav>
</header>
