{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{SITE_NAME}}{% endblock %}

{% block index_banner %}{% endblock %}

{% block body %}

{% block first_index_row_wrapper %}
<div class="heroine-unit" id="main-folders">
  <div class="row">
    {% block first_index_row %}
    <div class="col-lg-6 col-md-6">
      {% block first_index_row_search %}
      <h1>{% block site_name %}{{ SITE_NAME }}{% endblock %}</h1>
      {% block site_description %}
        <p>
          {% blocktrans %}This site publishes Freedom of Information requests and helps you to make your own!{% endblocktrans %}
        </p>
      {% endblock %}
      {% block index-search %}
        <form method="get" action="{% url 'foirequest-search' %}">
          <label for="index-search">
            {% blocktrans %}Search {{ foicount }} requests and {{ pbcount }} public bodies:{% endblocktrans %}
          </label>

          <div class="input-group">
            <input id="index-search"class="form-control col-lg-3" type="text" name="q" autocomplete="off" placeholder="{% block index-search-placeholder %}{% endblock %}"/>
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search"></span>
                {% blocktrans %}Search For Information{% endblocktrans %}
              </button>
            </span>
          </div>
          {% block example_search_terms_block %}
          <span class="help-block">
            {% block example_search_terms %}
              {% blocktrans %}Try the following:{% endblocktrans %}
              <a href="{% url 'foirequest-search' %}?q={% trans "Nuclear" %}">{% trans "Nuclear" %}</a>
              {% trans "or" %}
              <a href="{% url 'foirequest-search' %}?q={% trans "Employment" %}">{% trans "Employment" %}</a>
            {% endblock %}
          </span>
          {% endblock %}
        </form>
      {% endblock index-search %}

      {% endblock first_index_row_search %}
    </div>
    <div class="col-lg-6 col-md-6">
      {% block first_index_row_featured %}
      <div id="main-foirequests" class="well">
        {% if featured %}
        <div class="frontpage-teaser">
          <h3>
            <small>{% trans "Featured Request" %}</small><br/>
            {{ featured.title }}
          </h3>
          <p>
            {{ featured.text|truncatewords:55|linebreaksbr }}
          </p>
          {% if featured.url %}
            <p>
              <a href="{{ featured.url }}">
                <span class="glyphicon glyphicon-bullhorn"></span>
                {% blocktrans %}Read the blog post{% endblocktrans %}
              </a>
            </p>
          {% endif %}
          {% if featured.request %}
            <p>
              <a href="{% url 'foirequest-show' slug=featured.request.slug %}">
                <span class="glyphicon glyphicon-envelope"></span>
                {% blocktrans %}Visit this request{% endblocktrans %}
              </a>
            </p>
          {% endif %}
        </div>
        {% else %}
        <div id="sample-letter" class="frontpage-teaser">{% blocktrans %}Freedom of Information Request

    To: Ministry of Interior

    Dear Sir or Madam,
    I request information about the following:
    ...{% endblocktrans %}
      <a class="make-request-icon" href="{% url 'foirequest-make_request' %}">{% blocktrans %}Write a Request Now!{% endblocktrans %}</a>
      </div>
      {% endif %}
      </div>
      {% endblock first_index_row_featured %}
    </div>
    {% endblock first_index_row %}
  </div>
</div>
{% endblock first_index_row_wrapper %}

{% block index_content_row %}
<div class="row">
  <div class="col-lg-6 col-md-6">
    {% block index_sub_left %}
    <h3>{% blocktrans %}What is Freedom of Information?{% endblocktrans %}</h3>
    <p>{% blocktrans %}Every citizen has the right under the Freedom of Information Laws to ask for and receive access to information from Public Bodies concerning public affairs.{% endblocktrans %}
    <br/>
     <a class="target-new" href="https://en.wikipedia.org/wiki/Freedom_of_information_laws_by_country">{% blocktrans %}Read more about the Freedom of Information!{% endblocktrans %}</a>
    </p>
    {% endblock %}
  </div>

  <div class="col-lg-6 col-md-6">
    {% block index_sub_right %}
    <h3>{% blocktrans %}What does this site do?{% endblocktrans %}</h3>
    <p>{% blocktrans %}This site publishes Freedom of Information requests and replies so that others don't have to ask for the same information and replies can be scrutinized by the public.{% endblocktrans %}
    <br/>
     <a href="{% url 'help-index' %}">{% blocktrans %}Read more about the concept!{% endblocktrans %}</a>
    </p>
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block index_requests_row %}
<div class="row">
  <div class="col-lg-6 col-md-6">
    {% if successful_foi_requests %}
    <h3>{% blocktrans %}Successful Requests{% endblocktrans %}</h3>
    <ul class="media-list">
      {% for object in successful_foi_requests %}
        <li class="media">
          {% include "foirequest/snippets/request_item.html" %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="col-lg-6 col-md-6">
    {% if unsuccessful_foi_requests %}
    <h3>{% blocktrans %}Unsuccessful Requests{% endblocktrans %}</h3>
    <ul class="media-list">
      {% for object in unsuccessful_foi_requests %}
        <li class="media">
          {% include "foirequest/snippets/request_item.html" %}
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}

{% endblock %}
