{% load i18n %}{% load static %}{% load block_helper %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="language" content="{{ LANGUAGE_CODE }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% trans "Freedom of Information Requests" %} - {{ SITE_NAME }}{% endblock %}</title>
  {% block header_font %}{% endblock %}
  {% block css %}
    {% block extra_css %}
    {% endblock %}
  {% endblock %}
  
  {% render_block "css" %}
  {% block meta %}
    {% include "snippets/meta.html" %}
  {% endblock %}

  {% block extra_head %}
  {% endblock %}
</head>
<body {% block body_extra_attributes %}{% endblock %}>
  {% block body_tag %}{% endblock %}
  {% block extra_footer %}{% endblock %}

  {% block scripts %}{% endblock %}
  {% render_block "js" %}

  {% block below_scripts %}{% endblock %}
</body>
</html>
