{% extends "scaffold.html" %}

{% load i18n %}
{% load static %}

{% load block_helper %}

{% block css %}
  {% addtoblock "css" %}<link href="{% static 'css/main.css' %}" rel="stylesheet">{% endaddtoblock %}
  {{ block.super }}
{% endblock %}

{% block body_tag %}

<main class="main">
{% include "snippets/messages.html" %}

{% block body %}
<div class="container">
{% block app_body %}
{% endblock %}
</div>
{% endblock %}

</main>

{% block extra_footer %}
{% endblock %}

{% endblock body_tag %}

{% block scripts %}
  {% addtoblock "js" %}<script async src="{% static "js/main.js" %}"></script>{% endaddtoblock %}
  {{ block.super }}
{% endblock %}
