{% load i18n %}<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% trans "Freedom of Information Requests" %}</title>
  {% if debug %}
    <style type="text/css" media="screen">
      @font-face {
        font-family: 'Kreon';
        font-style: normal;
        font-weight: 700;
        src: local('Kreon bold'), local('Kreon-bold'), url('{{ STATIC_URL }}font/Kreon-Bold.woff') format('woff');
        src: local('Kreon regular'), local('Kreon-regular'), url('{{ STATIC_URL }}font/Kreon-Regular.woff') format('woff');
      }
    </style>
  {% else %}
  <link href='http://fonts.googleapis.com/css?family=Kreon:bold' rel='stylesheet' type='text/css'>
  {% endif %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/print.css" type="text/css" media="print" />	
  <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">


  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">

  <script src="{{ STATIC_URL }}js/libs/modernizr-1.6.min.js"></script>
  {% block extra_head %}
  {% endblock %}
</head>

<body>
    <div id="small_main" class="clearfix">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block body %}
    {% endblock %}
  </div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
  <script src="{{ STATIC_URL }}js/libs/mustache.js"></script>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="{{ STATIC_URL }}js/script.js"></script>
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="{{ STATIC_URL }}js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->
  {% block extra_footer %}
  {% endblock %}

</body>
</html>

