{% load i18n %}
{% load form_helper %}

<div id="change-password-now" class="card mb-3">
  <h5 class="card-header">
    {% if form_title %}
      {{ form_title }}
    {% else %}
      {% trans "Change password" %}
    {% endif %}
  </h5>
  <div class="card-body">
    <form action="{% url 'account-change_password' %}" method="post" id="change-password">
      {% csrf_token %}
      {% if password_change_form %}
        {% render_form password_change_form %}
      {% else %}
        {% render_form user.get_password_change_form %}
      {% endif %}
      <button type="submit" class="btn btn-secondary">{% blocktrans %}Change password{% endblocktrans %}</button>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}"/>
      {% endif %}
    </form>
  </div>
</div>