{% load i18n %}
<table class="no-stripes">
  <tbody>
  {% for object in object_list %}
  <tr class="hover-parent">
    <td style="vertical-align: top">
      <img src="{{ STATIC_URL }}img/status/{{ object.status }}.png" alt="{{ object.readable_status }}" title="{{ object.readable_status }}"/><br/>
    </td>
    <td>
      <a href="{{ object.get_absolute_url }}">{{ object.title }}</a><br/>
      <strong>{% blocktrans %}To:{% endblocktrans %}</strong> {% if object.public_body %}
        <a href="{{ object.public_body.get_absolute_url }}">{{ object.public_body.name }}</a>
      {% else %}
        {% blocktrans %}Not yet set{% endblocktrans %}
      {% endif %}
      <br/><strong>{% blocktrans %}Status:{% endblocktrans %}</strong> {{ object.readable_status }}
      <br/>
      <span title="{{ object.last_message }}" class="hover-visble small">{% blocktrans with time=object.last_message|timesince %}{{ time }} ago{% endblocktrans %}
      {% if object.same_as_count %}
        – <a href="{{ object.get_absolute_url }}#identical">{% blocktrans count counter=object.same_as_count %}One identical request{% plural %}{{ counter }} identical requests{% endblocktrans %}</a>
      {% endif %}
      </span>
    </td>
  </tr>
{% empty %}
  <tr>
    {% if status %}
    <td>{% blocktrans %}No requests with this status yet.{% endblocktrans %}</td>
    {% else %}
    <td>{% blocktrans %}No requests yet.{% endblocktrans %}</td>
    {% endif %}
  </tr>
{% endfor %}
</tbody>
</table>