{% load i18n %}
<div class="span-12">
  <form action="{% url foirequest-submit_request %}" method="post" class="foirequest">{% csrf_token %}
    <input type="hidden" name="publicbody" value="{{ publicbody.id }}"/>
    {% if user.is_authenticated %}
    <p><strong>Name:</strong> {{ user.get_full_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
   {% endif %}

    <p>
      <label for="subject">{% blocktrans %}Subject{% endblocktrans %}:</label>
      <input type="text" name="subject" id="subject"/>
    </p>
    <p>
      <label for="message">{% blocktrans %}Message{% endblocktrans %}:</label>
      <textarea name="message" id="message"></textarea>
    </p>

    {% if not user.is_authenticated %}
      <p>
        <label class="inline" for="name">{% blocktrans %}Your first name{% endblocktrans %}</label>
        <label for="last_name">{% blocktrans %}and last name{% endblocktrans %}</label>
        <input type="text" name="name" id="name"/>
        <input type="text" name="last_name" id="last_name"/>
      </p>
      <p>
        <label for="email">{% blocktrans %}Your Email Address{% endblocktrans %}</label>
        <input type="text" name="email" id="email"/>
      </p>
    {% endif %}


    <input type="submit" value="{% trans "Preview Request" %}">
  </form>
</div>
<div class="span-12 last foirequest-info">
    <h2>{% blocktrans %}How to make a successful FOI Request{% endblocktrans %}</h2>
</div>
