{% load i18n %}
{{ status_form.non_field_errors }}
<label for="id_status">{% blocktrans %}Status of request after the above message:{% endblocktrans %}</label><br/>
{{ status_form.status }}<br/>
<div class="status-refusal status-section">
{% blocktrans %}When you are denied information, the Public Body should always state the reason.{% endblocktrans %}<br/>
  <label id="id_refusal_reason">{% blocktrans %}Refusal Reason: {% endblocktrans %}</label>
  {{ status_form.refusal_reason }}
</div>
<div class="status-redirected status-section">
  {% blocktrans %}If your message is redirected to a different Public Body, please specify the new Public Body:{% endblocktrans %}<br/>
  {{ status_form.redirected.errors }}
  {{ status_form.redirected }}
</div>
{% if froide.payment_possible %}
<div>{% blocktrans %}Please specify what the Public Body charges for the information.{% endblocktrans %}<br/>
  <label id="id_costs">{% blocktrans %}Costs:{% endblocktrans %} </label>
  {{ status_form.costs }} {{ froide.currency }}
</div>
{% endif %}
