{% extends "helper/admin_base_action.html" %}

{% load i18n l10n %}

{% block action_title %}{% trans 'Redeliver deferred messages' %}{% endblock %}

{% block breadcrumbs_action_label %}
  {% trans 'Redeliver deferred messages' %}
{% endblock %}

{% block action_content %}
  <form action="" method="post">
    {% csrf_token %}
    <div>
      <p>
        {% blocktrans %}Redeliver these messages...{% endblocktrans %}
      </p>
      <ul>
        {% for obj in queryset %}
          <li>
            {{ obj }}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
          </li>
        {% endfor %}
      </ul>
      <p>
        {% blocktrans %}...to this FOI request:{% endblocktrans %}
      </p>

      {{ form.as_p }}

      <input type="hidden" name="action" value="redeliver" />
      <input type="submit" value="{% trans "Redeliver messages" %}" />
    </div>
  </form>
{% endblock %}
