{% extends 'foirequest/base.html' %}

{% load i18n %}
{% load static %}
{% load markup %}
{% load foirequest_tags %}
{% load form_helper %}
{% load block_helper %}


{% block title %}{{ object.title }}{% endblock %}

{% block metadescription %}{{ object.description }}{% endblock %}

{% block extra_head %}
  {% if not object.private %}
    <meta name="robots" content="noindex"/>
  {% endif %}

  <link rel="self" type="text/html" href="{% url 'foirequest-project' slug=object.slug %}"/>
  <link rel="canonical" href="{% url 'foirequest-project' slug=object.slug %}"/>

  {% if user.is_staff %}
    {% with object.get_set_tags_form as set_tags_form %}
      {{ set_tags_form.media.css }}
    {% endwith %}
  {% endif %}
{% endblock %}

{% block app_body %}

<h1>
  {{ object.title }}
</h1>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">
        {% trans "public body" %}
      </th>
      <th scope="col">
        {% trans "last message" %}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for req in object.foirequest_set.all %}
    <tr>
      <td>
        {{ req.project_order }}
      </td>
      <td>
        <a href="{{ req.public_body.get_absolute_url }}">
          {{ req.public_body.name }}
        </a>
      </td>
      <td>
        <a href="{{ req.get_absolute_url }}">
          {{ req.last_message|date:"SHORT_DATE_FORMAT" }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
