{% extends 'foirequest/base.html' %}
{% load i18n %}

{% block extra_head %}
<link href="./rss/" rel="alternate nofollow" type="application/rss+xml" title="{% blocktrans %}RSS Feed for these requests{% endblocktrans %}">
<link rel="alternate nofollow" type="application/atom+xml" title="{% blocktrans %}Atom feed for these request{% endblocktrans %}" href="./feed/" />
{% endblock %}

{% block body %}
{% block headline %}

{% if public_body %}
  <h2>{% blocktrans with name=public_body.name %}Requests to {{ name }}{% endblocktrans %}</h2>
{% endif %}
{% if not filtered and jurisdiction %}
  <h2>{% blocktrans with name=jurisdiction.name %}{{ name }}: all requests{% endblocktrans %}</h2>
{% else %}
  {% if not filtered %}
    <h2>{{ page_title|safe }}</h2>
  {% endif %}
{% endif %}
{% if status %}
  {% if filtered %}
    <h3>{{ status }}</h3>
  {% else %}
    <h2>{{ status }}</h2>
  {% endif %}
  <p>{{ status_description }}</p>
{% endif %}
{% if tag %}
  <h2>{% blocktrans with name=tag.name %}Requests with tag "{{ name }}"{% endblocktrans %}</h2>
{% endif %}
{% if topic %}
  <h2>{% blocktrans with name=topic.name %}Requests in topic "{{ name }}"{% endblocktrans %}</h2>
{% endif %}
{% if filtered and jurisdiction %}
  <p>{% blocktrans with name=jurisdiction.name %}Filtered by requests to Public Bodies in {{ name }}.{% endblocktrans %}</p>
{% endif %}

{% endblock headline %}


<div class="row">
  <div class="col-lg-8">
    {% block col-8-headline %}{% endblock col-8-headline %}
    <ul class="media-list">
      {% for object in object_list %}
      <li class="media">
        {% include "foirequest/snippets/request_item.html" %}
      </li>
    {% endfor %}
    </ul>
    {% include "pagination/pagination.html" with page_obj=object_list %}
  </div>

  <div class="col-lg-4">
    {% block badge %}
    <p>
      <span class="badge">
        {% blocktrans count counter=count %}{{ counter }} request{% plural %}{{ counter }} requests{% endblocktrans %}
      </span>
    </p>
    {% endblock badge %}


    <ul class="nav nav-compact">
    {% block status_up %}
    {% endblock status_up %}
      {% if filtered or not_foi or jurisdiction %}
        <li>
          <a href="{% url 'foirequest-list' %}">{% trans "Show all FoI requests" %}</a>
        </li>
      {% endif %}
      {% if jurisdiction %}
        <li class="nav-header">{% blocktrans with name=jurisdiction.name %}{{ name }} requests by status{% endblocktrans %}</li>
        {% for urlpart,readable_status,status in status_list %}
          <li>
            <a href="{% url 'foirequest-list' status=urlpart jurisdiction=jurisdiction.slug %}">
              <span class="small-icon status-{{ status }}"></span>
              {{ readable_status }}
            </a>
        </li>
        {% endfor %}
        <li class="nav-header">{% blocktrans with name=jurisdiction.name %}{{ name }} requests by category{% endblocktrans %}</li>
        {% for topic in topic_list %}
          <li>
            <a href="{% url 'foirequest-list' topic=topic.slug jurisdiction=jurisdiction.slug %}">
              <span class="small-icon topic-{{ topic.slug }}"></span>
              {{ topic.name }}
            </a>
          </li>
        {% endfor %}
      {% else %}
        {% if jurisdiction_list|length > 1 %}
          <li class="nav-header">{% blocktrans %}By jurisdiction{% endblocktrans %}</li>
          {% for juris in jurisdiction_list %}
            <li>
              <a href="{% url 'foirequest-list' jurisdiction=juris.slug %}">
                <span class="small-icon jurisdiction-{{ juris.slug }}"></span>
                {{ juris.name }}
              </a>
            </li>
          {% endfor %}
        {% endif %}
        {% block status %}
        <li class="nav-header">{% blocktrans %}By status{% endblocktrans %}</li>
        {% for urlpart,readable_status,status in status_list %}
          <li>
            <a href="{% url 'foirequest-list' status=urlpart %}">
              <span class="small-icon status-{{ status }}"></span>
              {{ readable_status }}
            </a>
          </li>
        {% endfor %}
        {% endblock status %}

        <li class="nav-header">{% blocktrans %}By category{% endblocktrans %}</li>
        {% for topic in topic_list %}
          <li>
            <a href="{% url 'foirequest-list' topic=topic.slug %}">
              <span class="small-icon topic-{{ topic.slug }}"></span>
              {{ topic.name }}
            </a>
          </li>
        {% endfor %}
      {% endif %}
      <li class="divider"></li>
      <li class="nav-header">{% blocktrans %}Feeds for these requests{% endblocktrans %}</li>
      <li>
        <a href="./rss/">
          <i class="rss-icon"></i>
          {% trans "RSS Feed" %}
        </a>
      </li>
      <li>
        <a href="./feed/">
          <i class="atom-icon"></i>
          {% trans "Atom Feed" %}
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="{% url 'foirequest-list_not_foi' %}">{% trans "Show all Non-FoI requests" %}</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
