{% extends 'foirequest/base.html' %}
{% load i18n %}

{% block app_body %}
<div class="row">
  <div class="col-lg-6 col-md-6">
    <h2>{% trans "FoI Requests" %}</h2>
    {% for foirequest in foirequests %}
      <div class="item">
        <h3>
          <a href="{{ foirequest.get_absolute_url }}">
            {{ foirequest.title }}
          </a>
        </h3>
        <p>{{ foirequest.description }}</p>
        <a href="{% url 'admin:foirequest_foirequest_change' foirequest.id %}">{% trans "View on Admin site" %}</a>
        <form method="post" action="{% url 'foirequest-mark_checked' slug=foirequest.slug %}">
          {% csrf_token %}
          <button class="btn btn-secondary" type="submit">{% trans "Mark as checked" %}</button>
        </form>
        <form class="ajaxified" method="post" action="{% url 'foirequest-mark_not_foi' slug=foirequest.slug %}">
          {% csrf_token %}
          <button class="btn btn-secondary" type="submit">{% trans "Mark as NOT FoI" %}</button>
        </form>
        <hr/>
      </div>
    {% endfor %}
  </div>
  <div class="col-lg-6 col-md-6">
    <h2>{% trans "Attachments" %}</h2>
    {% for attachment in attachments %}
      <div class="item">
        <a href="{{ attachment.get_anchor_url }}">{% trans "View on Site" %}</a>
        <a href="{% url 'admin:foirequest_foiattachment_change' attachment.id %}">{% trans "View on Admin" %}</a>
        {% if attachment.file %}
          <a href="{{ attachment.get_absolute_url }}">{{ attachment.name }}</a>
        {% else %}
          <div class="error">
    	     {% blocktrans %}No file present!{% endblocktrans %}
          </div>
        {% endif %}
        {% if attachment.belongs_to.request.slug %}
          <form method="post" action="{% url 'foirequest-approve_attachment' slug=attachment.belongs_to.request.slug attachment=attachment.pk %}">{% csrf_token %}
            {% if attachment.belongs_to.request.user.private %}
              <p>{% trans "May not contain private information" %}</p>
            {% else %}
    	        <p>{% blocktrans with name=attachment.belongs_to.request.user.get_full_name %}May only contain name {{ name }}.{% endblocktrans %}</p>
    	      {% endif %}
    	      <button class="btn btn-secondary" type="submit">{% trans "Publish this attachment" %}</button>
          </form>
        {% else %}
          <div class="error">
    	      {% blocktrans %}No request present!{% endblocktrans %}
          </div>
        {% endif %}
        <hr/>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block extra_footer %}
<script type="text/javascript">
  $(function(){
    $("form").submit(function(e){
    	e.preventDefault();
    	var form = $(this);
    	var csrf = form.find('input[name="csrfmiddlewaretoken"]').attr('value');
    	form.parent().css('opacity', '0.5');
      	var url = form.attr('action');
      	$.post(url, {csrfmiddlewaretoken: csrf}, function(){
      		form.parent().remove();
      	});
    });
  });
</script>
{% endblock %}
