{% extends 'foirequest/base.html' %}
{% load url from future %}
{% load i18n %}
{% load pagination_tags %}

{% block body %}
{% autopaginate object_list %}
{% if not status %}
<h2>{% blocktrans %}Requests{% endblocktrans %}</h2>
{% else %}
<h2>{{ status }}</h2>
<p>{{ status_description }}</p>
{% endif %}
<div class="span-18">
  <table class="no-stripes">
    <tbody>
    {% for object in object_list %}
    <tr>
      <td style="vertical-align: top">
        <img src="{{ STATIC_URL }}img/status/{{ object.status }}.png" alt="{{ object.readable_status }}" title="{{ object.readable_status }}"/>
      </td>
      <td>
        <a href="{{ object.get_absolute_url }}">{{ object.title }}</a> <span class="time-small">{% blocktrans with time=object.first_message|timesince %}{{ time }} ago{% endblocktrans %}</span><br/>
        <strong>{% blocktrans %}To:{% endblocktrans %}</strong> {% if object.public_body %}
          <a href="{{ object.public_body.get_absolute_url }}">{{ object.public_body.name }}</a>
        {% else %}
          {% blocktrans %}Not yet set{% endblocktrans %}
        {% endif %}
        <br/><strong>{% blocktrans %}Status:{% endblocktrans %}</strong> {{ object.readable_status }}
      </td>
    </tr>
  {% empty %}
    <tr>
        {% if status %}
        <td>{% blocktrans %}No requests with this status yet.{% endblocktrans %}</td>
        {% else %}
        <td>{% blocktrans %}No requests yet.{% endblocktrans %}</td>
        {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% paginate %}
</div>

<div class="span-6 last">
  <p class="bold">{% blocktrans %}Filter requests by their status:{% endblocktrans %}</p>
  <ul class="iconed-list">
  {% for urlpart,readable_status,status in status_list %}
    <li style="background-image:url('{{ STATIC_URL }}img/status/{{ status }}_small.png')">
      <a href="{% url 'foirequest-list' status=urlpart %}">{{ readable_status }}</a>
    </li>
    {% endfor %}
  </ul>
  <p>{% blocktrans %}Feeds for latest requests{% endblocktrans %}</p>
  <ul class="iconed-list">
    <li class="rss-icon">
        <a href="{% url 'foirequest-feed_latest' %}">{% trans "RSS Feed" %}</a>
    </li>
    <li class="atom-icon">
        <a href="{% url 'foirequest-feed_latest_atom' %}">{% trans "Atom Feed" %}</a>
    </li>
  </ul>
</div>

{% endblock %}



