{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load block_helper %}

{% block navbar %}
  {% include "header_minimal.html" %}
{% endblock %}


{% block app_body %}
<h3>
{% blocktrans with reqid=foirequest.id name=foirequest.public_body.name %}
  File transfer by <mark>{{ name }}</mark> for request [#{{ reqid }}]
{% endblocktrans %}
</h3>

<dl>
  <dt>{% trans "Request" %}</dt>
  <dd>“{{ foirequest.title }}” [#{{ foirequest.id }}] ({{ foirequest.first_message|date:"SHORT_DATE_FORMAT" }})</dd>
  <dt>{% trans "Requester" %}</dt>
  <dd>{{ foirequest.user.get_full_name }} &lt;{{ foirequest.secret_address }}&gt;</dd>
  <dt>{% trans "File transfer" %}</dt>
  <dd><i class="fa fa-lock" aria-hidden="true"></i> {% trans "The file transfer is transferred securely encrypted." %}</dd>
</dl>

<p class="lead">
  {% trans "Please upload files as a response to this request below." %}
</p>

<ol>
  <li>{% trans 'Drag files on the framed area or click "Search" to select files.' %}</li>
  <li>{% trans 'Wait for all files to be uploaded.' %}</li>
  <li>{% trans 'Click on "Create response now" to finish the process.' %}</li>
</ol>

<form action="" method="post" class="mb-5">
  {% csrf_token %}
  <publicbody-upload class="publicbody-upload" :config="{{ config }}">
    <div class="spinner-border text-center" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </publicbody-upload>
</form>

{% endblock %}


{% block scripts %}
  {{ block.super }}
  {% addtoblock "js" %}
    <script src="{% static 'js/common.js' %}" defer></script>
  {% endaddtoblock %}
  {% addtoblock "js" %}<script async src="{% static 'js/publicbodyupload.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'css/common.css' %}"/>{% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'css/publicbodyupload.css' %}"/>{% endaddtoblock %}
{% endblock %}
