{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load block_helper %}

{% block navbar %}
  {% include "header_minimal.html" %}
{% endblock %}


{% block app_body %}
<h3>
{% blocktrans with reqid=foirequest.id title=foirequest.title name=foirequest.public_body.name %}
  Upload files as <mark>{{ name }}</mark> to request “{{ title }}” [#{{ reqid }}]
{% endblocktrans %}
</h3>

<p class="lead">
  {% trans "You can upload large files as a response to this request here." %}
</p>
{% csrf_token %}
<publicbody-upload class="publicbody-upload" :config="{{ config }}"></publicbody-upload>

{% endblock %}


{% block scripts %}
  {{ block.super }}
  {% addtoblock "js" %}
    <script src="{% static 'js/common.js' %}" defer></script>
  {% endaddtoblock %}
  {% addtoblock "js" %}<script async src="{% static 'js/publicbodyupload.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'css/common.css' %}"/>{% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'css/publicbodyupload.css' %}"/>{% endaddtoblock %}
{% endblock %}
