{% extends 'foirequest/base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with name=attachment.name %}Redacting attachment {{ name }}{% endblocktrans %}{% endblock %}


{% block body %}
<h2>{% blocktrans with name=attachment.name %}Redact "{{ name }}"{% endblocktrans %}</h2>

{% block redaction_removal_intro %}
<div class="well">
  <h3>{% trans "How to redact" %}</h3>
  <p>{% blocktrans with name=SITE_NAME %}Go to each page of the PDF and locate the parts that need to be blacked out. Draw a rectangle over the area by clicking the mouse and dragging it. Be sure to also black out the email address of {{ name }} if it is visible.{% endblocktrans %}</p>
  <p>{% blocktrans %}The original version of the document will still be available to you (but not to the public). If the document does not load correctly, cancel and inform a site moderator.{% endblocktrans %}</p>
  <p>{% blocktrans %}Note: in order to redact documents an up-to-date version of a modern browser is required. Using Internet Explorer will likely not work.{% endblocktrans %}</p>
</div>
{% endblock %}

{% block redaction_removal_explanation %}
<h3>{% trans "What you need to redact" %}</h3>

<ul>
  <li>
    {% if foirequest.user == user %}
      {% if foirequest.user.get_profile.private %}
        {% trans "Please remove all your personally identifying information." %}
      {% else %}
        {% trans "Please remove all your personally identifying information except your name." %}
      {% endif %}
    {% else %}
      {% if foirequest.user.get_profile.private %}
        {% blocktrans with name=foirequest.user.get_full_name %}Please remove all personally identifying information of {{ name }}.{% endblocktrans %}
      {% else %}
          {% blocktrans with name=foirequest.user.get_full_name %}Please remove all personally identifying information of {{ name }} except the name itself.{% endblocktrans %}
      {% endif %}
    {% endif %}
  </li>
  <li>{% trans "Please remove email addresses of this site." %}</li>
  {% block redaction_removal_explanation_addition %}
  <li>{% trans "Please remove hand-written signatures." %}</li>
  {% endblock %}
</ul>
{% endblock %}

<form id="redaction-form" method="post" style="display:none">
  {% csrf_token %}
</form>
<div id="pdf-viewer" class="well">
  <div class="btn-toolbar pdf-controls">
    <div class="btn-group">
      <button class="pdf-prev btn">‹‹ {% trans "Previous Page" %}</button>
      <button class="pdf-next btn">{% trans "Next Page" %} ››</button>
    </div>
    <div class="btn-group">
      <button class="btn" disabled="disabled">
        {% trans "Page" %}
        <span class="pdf-current"></span>
        {% trans "of" %}
        <span class="pdf-total"></span>
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" id="submit-form" data-loading-text="Redacting...">
        {% trans "Save and publish blacked out version" %}
      </button>
    </div>
    <div class="btn-group">
      <a class="btn" href="{% url "foirequest-redact_attachment" slug=foirequest.slug attachment_id=attachment.id %}">{% trans "Reset" %}</a>
      <a class="btn" href="{{ attachment.get_anchor_url }}">{% trans "Cancel" %}</a>
    </div>
  </div>
  <div class="pdf-canvas-container" style="display:none">
    <canvas class="pdf-canvas"></canvas>
  </div>
  <div id="redaction-progress">
    <p class="redacting" style="display:none">{% trans "Redaction process started, please wait..." %}</p>
    <p class="loading">{% trans "Loading PDF..." %}</p>
    <div class="progress progress-striped active">
      <div id="redaction-progressbar" class="bar" style="width: 100%;"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_footer %}

<script type="text/javascript" src="{{ STATIC_URL }}js/libs/pdfviewer/pdf.js"></script>
<script>
  PDFJS.workerSrc = '{{ STATIC_URL }}js/libs/pdfviewer/pdf.js';
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/pdfviewer/pdfviewer.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/pdfviewer/redact.js"></script>
<script>
  (function(){
    var pdfViewer = new SimplePDFViewer(
      'pdf-viewer',
      '{{ attachment.get_absolute_url }}'
    );
    pdfViewer.init(function(){
      pdfViewer.renderPage(1, function(){
        $('#redaction-progress').hide()
        $('#redaction-progress .loading').hide();
        $('#pdf-viewer .pdf-canvas-container').show();
        var pdfRedact = new PDFRedact(pdfViewer);
        pdfRedact.setup();
        $('#submit-form').click(function(e){
          e.preventDefault();
          $('#submit-form').prop('disabled', true);
          $('#pdf-viewer .pdf-canvas-container').hide();
          $('#redaction-progressbar').width('0%');
          $('#redaction-progress').show();
          $('#redaction-progress .redacting').show();
          pdfRedact.submitRedactions(
            $('#redaction-form'),
            $('#redaction-progressbar')
          );
        });
      });
    });
  }());
</script>
{% endblock %}
