{% extends 'foirequest/base.html' %}
{% load i18n %}
{% load static %}
{% load markup %}
{% load searchtags %}
{% load block_helper %}
{% load form_helper %}

{% block foisite_advice %}
  {% include "foisite/banner.html" %}
{% endblock %}

{% block messages %}
{% endblock messages %}

{% block body %}
  <form method="post" action="{% url 'foirequest-make_request' %}" id="make-request" novalidate>

    {% csrf_token %}
    {{ request_form.reference }}
    {{ request_form.draft }}
    {{ request_form.redirect_url }}

      <request-form
        v-cloak
        publicbody-default-search="{{ public_body_search }}"
        user-json="{{ request.user.as_json }}"
        publicbody-form-json="{{ publicbody_form.as_json }}"
        publicbodies-json="{{ publicbodies_json }}"
        user-form-json="{{ user_form.as_json }}"
        request-form-json="{{ request_form.as_json }}"
        show-similar="{% if not config.hide_similar %}true{% endif %}"
        show-draft="{% if not config.hide_draft %}true{% endif %}"
        hide-publicbody-chooser="{% if config.hide_publicbody %}true{% endif %}"
        hide-full-text="{% if config.hide_full_text %}true{% endif %}"
        multi-request="{% if multi_request %}true{% endif %}"
        :config="config">

        <div slot="messages">
          {% include "snippets/messages.html" %}
        </div>

        <legend slot="publicbody-legend-title">
          {% blocktrans %}Choose a public body{% endblocktrans %}
        </legend>

        <p slot="publicbody-help-text">
          {% blocktrans %}Please type <strong>the name of the public body</strong> you'd like to request information from into the search box.{% endblocktrans %}
        </p>

        <div slot="publicbody-missing">
          <h6>{% trans "Can't find what you're looking for?" %}</h6>
          <p>
            {% url 'publicbody-list' as pb_search_url %}
            {% blocktrans with search_url=pb_search_url suggest_url="mailto:"|add:SITE_EMAIL %}
              <a href="{{ search_url }}">Search in all public bodies</a> or <a href="{{ suggest_url }}">suggest a new one</a>.
            {% endblocktrans %}
          </p>
        </div>

        <legend slot="request-legend-title">
          {% blocktrans %}Write the request{% endblocktrans %}
        </legend>

        <div slot="requesthints" class="">
          <div class="request-hints">
            <h6>
              {% blocktrans %}Important Notes:{% endblocktrans %}
            </h6>
            <ul class="list-compact">
              <li>
                {% blocktrans %}Write your request in <strong>simple, precise language</strong>.{% endblocktrans %}
              </li>
              <li>
                {% blocktrans %}Ask for <strong>specific</strong> documents or information.{% endblocktrans %}
              </li>
              <li>
                {% blocktrans %}Keep it <strong>focused and concise</strong>.{% endblocktrans %}
              </li>
              <li>
                {% blocktrans %}This site is <strong>public</strong>. Everything you type and any response will be published.{% endblocktrans %}
              </li>
              <li>
                {% blocktrans %}Do <strong>not include</strong> personal information in your request.{% endblocktrans %}
              </li>
              <li>
                {% blocktrans %}Do <strong>not ask</strong> for personal information.{% endblocktrans %}
              </li>
            </ul>
          </div>
        </div>
        <div slot="public">
          {{ request_form.hide_public }}
          {% if config.hide_public %}
            <div style="display: none">
              {{ request_form.public }}
            </div>
          {% else %}
            <div class="card mb-3">
              <div class="card-body">
                <div class="checkbox">
                  <label>
                    {{ request_form.public }}
                    {{ request_form.public.label }}
                  </label>
                  <small class="form-text text-muted">
                    {{ request_form.public.help_text }}
                  </small>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div slot="terms">
          {% if not user.is_authenticated and user_form.terms%}
            <div class="card mb-3">
              <div class="card-body">
                {% render_field user_form.terms horizontal=False %}
              </div>
            </div>
          {% endif %}
        </div>
      </request-form>

    </form>

{% include "publicbody/widget/_add_js_vars.html" %}

{% addtoblock "js" %}
  <script type="text/javascript">
    var Froide = window.Froide || {}
    Froide.settings = Froide.settings || {}
    Froide.settings.user_can_hide_web = parseInt('{% if froide.user_can_hide_web %}1{% else %}0{% endif %}', 10)
    Froide.url = Froide.url || {}
    Froide.url.searchRequests = "{% url 'api:request-search' %}"
    Froide.url.listJurisdictions = "{% url 'api:jurisdiction-list' %}"
    Froide.url.listCategories = "{% url 'api:category-list' %}"
    Froide.url.listClassifications = "{% url 'api:classification-list' %}"
    Froide.url.listPublicBodies = "{% url 'api:publicbody-list' %}"
    Froide.url.search = "{% url 'foirequest-search' %}"
    Froide.url.loginSimple = "{% url 'account-login' %}?simple&email="

    Froide.i18n = Froide.i18n || {};
    (function () {
      var i18n = {
        publicBodiesFound: [
          '{% trans "one public body found" %}',
          '{% blocktrans with count='${count}' %}{{ count }} public bodies found{% endblocktrans %}'
        ],
        publicBodiesChosen: [
          '{% trans "one public body chosen" %}',
          '{% blocktrans with count='${count}' %}{{ count }} public bodies chosen{% endblocktrans %}'
        ],
        publicBodiesCount: [
          '{% trans "one public body" %}',
          '{% blocktrans with count='${count}' %}{{ count }} public bodies{% endblocktrans %}'
        ],
        // {# Translators: not url #}
        requests: '{% trans "requests" %}',
        makeRequest: '{% trans "make request" %}',
        writingRequestTo: '{% trans "You are writing a request to" %}',
        /* eslint-disable no-template-curly-in-string */
        toMultiPublicBodies: '{% blocktrans with count="${count}" %}To: {{ count }} public bodies{% endblocktrans %}',
        selectPublicBodies: '{% trans "Select public bodies" %}',
        continue: '{% trans "continue" %}',
        selectAll: [
          '{% trans "select one" %}',
          '{% blocktrans with count='${count}' %}select all {{ count }}{% endblocktrans %}'
        ],
        selectingAll: '{% trans "Selecting all public bodies, please wait..." %}',
        name: '{% trans "Name" %}',
        jurisdictionPlural: [
          '{% trans "Jurisdiction" %}',
          '{% trans "Jurisdictions" %}',
        ],
        topicPlural: [
          '{% trans "topic" %}',
          '{% trans "topics" %}',
        ],
        classificationPlural: [
          '{% trans "classification" %}',
          '{% trans "classifications" %}',
        ],
        /* eslint-disable no-template-curly-in-string */
        toPublicBody: '{% blocktrans with name="${name}" %}To: {{ name }}{% endblocktrans %}',
        change: '{% trans "change" %}',
        searchPlaceholder: '{% trans "Search..." %}',
        clearSearchResults: '{% trans "clear search" %}',
        clearSelection: '{% trans "clear selection" %}',
        reallyClearSelection: '{% trans "Are you sure you want to discard your current selection?" %}',
        loadMore: '{% trans "load more..." %}',
        next: '{% trans "next" %}',
        previous: '{% trans "previous" %}',
        subject: '{% trans "Subject" %}',
        defaultLetterStart: '{% trans "Please send me the following information:" %}',
        saveAsDraft: '{% trans "Save as draft" %}',
        reviewRequest: '{% trans "Review request" %}',
        reviewTitle: '{% trans "Review your request and submit" %}',
        reviewEdit: '{% trans "Edit" %}',
        reviewFrom: '{% trans "From" %}',
        reviewTo: '{% trans "To" %}',
        reviewPublicbodies: '{% trans "public bodies" %}',
        reviewSpelling: '{% trans "Please use proper spelling." %}',
        reviewPoliteness: '{% trans "Please stay polite." %}',
        submitRequest: '{% trans "Submit request"%}',
        loginWindowLink: '{% trans "Login using that email address" %}',

        greeting: '{% trans "Dear Sir or Madam" %}',
        kindRegards: '{% trans "Kind regards" %}',

        yourFirstName: '{% trans "Your first name" %}',
        yourLastName: '{% trans "Your last name" %}',
        yourEmail: '{% trans "Your email address" %}',
        yourAddress: '{% trans "Your postal address" %}',
        giveName: '{% trans "Please fill out your name below" %}',

        similarExist: '{% trans "Please make sure the information is not already requested or public" %}',
        similarRequests: '{% trans "Similar requests" %}',
        moreSimilarRequests: '{% trans "Search for more similar requests" %}',
        relevantResources: '{% trans "Relevant resources" %}',
        officialWebsite: '{% trans "Official website: " %}',
        noSubject: '{% trans "Please add a subject." %}',
        noBody: '{% trans "Please describe the information you want to request!" %}',
        dontAddClosing: '{% trans "Do not add a closing, it is added automatically at the end of the letter." %}',
        dontAddGreeting: '{% trans "Do not add a greeting, it is added automatically at the start of the letter." %}',
        dontInsertName: '{% trans "Do not insert your name, we will add it automatically at the end of the letter." %}'
      }
      for (var key in i18n) {
        Froide.i18n[key] = i18n[key]
      }
    }())

    Froide.template = Froide.template || {}
    Froide.template.visitPublicBodyWebsite = '{% blocktrans %}Visit the website of this Public Body{% endblocktrans %}'
    Froide.regex = Froide.regex || {}
    Froide.regex.greetings = [new RegExp('{% blocktrans %}Dear Sir or Madam{% endblocktrans %}', 'gi')]
    Froide.regex.closings = [new RegExp('{% blocktrans %}Kind Regards{% endblocktrans %}', 'gi')]
  </script>
{% endaddtoblock %}
{% addtoblock "js" %}
  <script src="{% static "js/common.js" %}"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
  <script src="{% static 'js/makerequest.js' %}" charset="utf-8"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
  <script>
    window.Froide.components.makerequest.createRequestForm('#make-request', window.Froide)
  </script>
{% endaddtoblock %}

{% endblock %}
