{% extends "foirequest/base.html" %}
{% load i18n %}
{% load static %}
{% load frontendbuild %}
{% block title %}
    {% trans "Your request has been sent" %}
{% endblock title %}
{% block body %}
    <div class="container" id="make-request-sent">
        <div class="row mt-5 justify-content-center">
            <div class="col-6 col-md-3">
                <img src="{% static 'img/onboarding/request-sent.svg' %}"
                     width="280"
                     height="280"
                     alt=""
                     class="w-100">
            </div>
        </div>
        <div class="row mt-5 mb-5 justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="my-3">
                    {% if foiproject %}
                        {% trans "Your project was created!" %}
                    {% else %}
                        {% trans "Your request is being sent!" %}
                    {% endif %}
                </h2>
                <div class="my-5">
                    {% if foirequest %}
                        <p class="mb-0">{% trans "We will send you an email when you receive a reply from the public body." %}</p>
                        <p class="mt-1">
                            <a href="{{ url }}">{% trans "view your request" %}</a>
                        </p>
                    {% endif %}
                    {% if foiproject %}
                        <p class="mb-0">{% trans "The requests are being sent out now." %}</p>
                        <p class="mt-0">
                            <a href="{{ url }}">{% trans "view your project" %}</a>
                        </p>
                    {% endif %}
                </div>
                {% if is_public %}
                    <div class="my-5">
                        <p class="mb-0">
                            {% if foiproject %}
                                {% trans "Share your project with others!" %}
                            {% else %}
                                {% trans "Share your request with others!" %}
                            {% endif %}
                        </p>
                        {% trans "I made an #FOI request:" as social_text %}
                        {% trans "Copy short link" as copy_text %}
                        {% include "snippets/share_buttons.html" with text=social_text links=True url=share_url copy_text=copy_text %}
                    </div>
                {% endif %}
                {% block foirequest_sent_footer %}
                {% endblock foirequest_sent_footer %}
            </div>
        </div>
    </div>
    {% addfrontendbuild "makerequest.js" %}
{% endblock body %}
