{% extends 'foirequest/base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Your request has been sent" %}{% endblock %}


{% block body %}
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-6 col-md-3">
        <img src="{% static 'img/onboarding/request-sent.svg' %}" alt="{% trans 'Request sent' %}">
      </div>
    </div>
    <div class="row mt-5 mb-5 justify-content-center">
      <div class="col-md-8 text-center">

        <h2>
          {% if foiproject %}
            {% trans "Your project was created!" %}
          {% else %}
            {% trans "Your request has been sent!" %}
          {% endif %}
        </h2>

        {% if foirequest %}
          <p class="lead">
            {% blocktrans with title=foirequest.title url=foirequest.get_absolute_url %}
              Your request “<a href="{{ url }}">{{ title }}</a>” has been sent.
            {% endblocktrans %}
          </p>
          <p>
            {% trans "We will send you an email when you receive a reply from the public body." %}
          </p>
        {% endif %}
        {% if foiproject %}
          <p class="lead">
            {% blocktrans with title=foiproject.title url=foiproject.get_absolute_url %}
              Your project “<a href="{{ url }}">{{ title }}</a>” has been created and its requests are being sent out now.
            {% endblocktrans %}
          </p>
        {% endif %}

      </div>
    </div>
  </div>
  
  {% block foirequest_sent_footer %}{% endblock %}

{% endblock %}
