{% extends "fullscreen_app.html" %}
{% load i18n %}
{% load static %}
{% load block_helper %}
{% load frontendbuild %}
{% load form_helper %}
{% block title %}
    {% blocktrans with title=object.title %}Upload postal mail for “{{ title }}”{% endblocktrans %}
{% endblock title %}
{% block navbar %}
    {% include "header_reduced.html" %}
{% endblock navbar %}
{% block body %}
    <div class="bg-body-tertiary postupload-breadcrumbs">
        {% translate "Upload postal mail" as breadcrumb_label %}
        {% include "foirequest/header/breadcrumb.html" with last_item=breadcrumb_label %}
    </div>
    <form action=""
          method="post"
          enctype="multipart/form-data"
          name="postupload"
          class="d-flex flex-col flex-grow-1">
        {% csrf_token %}
        {# mw-100 crucial for pdf-redaction's dynamic maxWidth calculations #}
        <post-upload class="d-flex flex-column flex-grow-1 mw-100" :config="{{ config_json }}" :form="{{ form.as_json }}" :object_public_body="{{ object_public_body_json }}" object_public_body_id="{{ object_public_body_id }}" :object_public="{{ object_public_json }}" :date_max="{{ date_max }}" :date_min="{{ date_min }}" :user_is_staff="{{ user_is_staff }}" :foirequest_id="{{ foirequest_id }}" :status_form="{{ status_form.as_json }}" :message="{{ message_json }}">
        <template data-slot="redaction_explanation">
            {% include "foirequest/snippets/redaction_explanation.html" %}
        </template>
        </post-upload>
    </form>
{% endblock body %}
{% block scripts %}
    {{ block.super }}
    {% addfrontendbuild "request.js" %}
    {% addfrontendbuild "publicbody.js" %}
    {% addfrontendbuild "postupload.js" %}
    {% addfrontendbuild "fileuploader.js" %}
{% endblock scripts %}
