{% extends "admin/change_form.html" %}
{% load i18n static %}
{% block object-tools-items %}
    {% if original.pk %}
        {% if perms.foirequest %}
            <li>
                <a href="{% url 'admin:foirequest_foirequest_changelist' %}?public_body={{ original.pk }}">
                    {% trans "This public body's requests" %}
                </a>
            </li>
            <li>
                <a href="{% url 'admin:foirequest_foimessage_changelist' %}?recipient_public_body={{ original.pk }}">
                    {% trans "This public body's received messages" %}
                </a>
            </li>
            <li>
                <a href="{% url 'admin:foirequest_foimessage_changelist' %}?sender_public_body={{ original.pk }}">
                    {% trans "This public body's sent messages" %}
                </a>
            </li>
        {% endif %}
        {% if original.change_proposal_count %}
            <li>
                <a href="{% url 'publicbody-accept' pk=original.pk %}" target="_blank">{% trans "See change proposals" %}</a>
            </li>
        {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}
{% block after_field_sets %}
    {% if not original.pk %}
        <script id="prefill-map" type="application/json">{"id_regions": "{{ request.GET.regions }}", "id_name": "{{ request.GET.name }}"}</script>
        <script src="{% static 'admin/js/prefill-admin.js' %}"></script>
    {% endif %}
{% endblock %}
