{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools-items %}
{% if original.pk %}
  <li>
    <a href="{% url 'admin:foirequest_foirequest_changelist' %}?public_body={{ original.pk }}">
      {% trans "This public body's requests" %}
    </a>
  </li>
  <li>
    <a href="{% url 'admin:foirequest_foimessage_changelist' %}?recipient_public_body={{ original.pk }}">
      {% trans "This public body's received messages" %}
    </a>
  </li>
  <li>
    <a href="{% url 'admin:foirequest_foimessage_changelist' %}?sender_public_body={{ original.pk }}">
      {% trans "This public body's sent messages" %}
    </a>
  </li>
{% endif %}
{{ block.super }}
{% endblock %}

{% block after_field_sets %}
  {% if not original.pk %}
    <script>
    (function(){

      function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split('=');
          if (decodeURIComponent(pair[0]) == variable) {
            return decodeURIComponent(pair[1]);
          }
        }
      }

      document.getElementById('id_regions').value = getQueryVariable('regions') || '';
      document.getElementById('id_name').value = getQueryVariable('name') || '';
    }())
    </script>
  {% endif %}
{% endblock %}