{% extends "admin/change_list.html" %}
{% load i18n %}

{% block content %}
  {{ block.super }}
  <div>
    <form enctype="multipart/form-data" method="post" action="{% url 'admin:publicbody-publicbody-import_csv' %}">{% csrf_token %}
      <input type="url" name="url" value="" placeholder="http://example.com/data.csv"/>
      {% trans "or" %}
      <input type="file" name="file"/>
      <input type="submit" value="{% blocktrans with cl.opts.verbose_name_plural as name %}Import {{ name }}{% endblocktrans %}"/>
    </form>
  </div>
{% endblock %}
