{% load i18n %}
{% load foirequest_tags %}
{% load form_helper %}
{% load problemreport_tags %}
{% load guidance_tags %}
{% load content_helper %}
{% get_comment_list message as comment_list %}


<div class="alpha-message" id="{{ message.get_html_id }}" data-timeline-key="{{ message.timestamp|date:'Y-m' }}">

  <!-- head -->
  <div class="d-flex p-3 alpha-message__head">

    <!-- avatar -->
    <div class="alpha-message__avatar alpha-message__avatar--{% if message.is_response %}house{% else %}user{% endif %}"><i class="fa fa-{% if message.is_response %}bank{% else %}user{% endif %}" aria-hidden="true"></i></div>

    <!-- sender, recipient, message preview, meta infos -->
    <div class="d-flex flex-fill flex-column overflow-hidden">
      <!-- first row -->
      <div class="d-flex justify-content-between align-items-center">
        <!-- sender -->
        {% include "foirequest/alpha/body/message/sender.html" %}

        <!-- icons & timestamp -->
        <div class="d-flex flex-nowrap">
          {% if message.all_attachments %}
            <span class="alpha-message__badge">
              <span class="fa fa-paperclip"></span>
            </span>
          {% endif %}
          {% if comment_list %}
            <span class="alpha-message__badge">
              <span class="fa fa-comment-o"></span>
            </span>
          {% endif %}

          <!-- relative time -->
          <span class="alpha-message__relative-time d-flex align-items-center d-print-none text-nowrap smaller text-gray-600" title="{{ message.timestamp }}">
            {{ message.timestamp|relativetime }}
          </span>
        </div>
      </div>

      <!-- second row -->

      <!-- message preview (collapsed state) -->
      <div class="alpha-message__text-preview text-gray-600 smaller text-truncate">
        {% if message.content_hidden and not object|can_write_foirequest:request %}
          {% blocktrans %}This message is not yet public.{% endblocktrans %}
        {% else %}
          {% if not message.plaintext %}
            <i>{% trans 'No message text' %}</i>
          {% else %}
            {% redact_message_short message request %}
          {% endif %}
        {% endif %}
      </div>

      <!-- recipient and delivery details link (expanded state) -->
      <div class="alpha-message__details smaller">
        <!-- recipient -->
        {% if message.recipient_public_body.name %}
          <span class="text-gray-600 mr-1">
            {% blocktrans %}To{% endblocktrans %}
            {{ message.recipient_public_body.name }}
          </span>
        {% endif %}

        <!-- delivery details link-->
        <a href="#" class="alpha-message__meta-toggle text-body">
          Details
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>

      </div>
    </div>
  </div>

  <!-- meta details container -->
  {% include "foirequest/alpha/body/message/meta_container.html" %}

  <!-- body -->
  <div class="alpha-message__body alpha-message__wrap">

    <!-- guidance -->
    {% render_guidance_alpha message %}

    <!-- attachments -->
    {% include "foirequest/alpha/body/message/attachments/attachments.html" %}

    <!-- text -->
    {% if forloop.counter0 == 0 %}
      <div class="alpha-message__content-text">{% highlight_request message request %}</div>
    {% else %}
      {% if message.content_hidden %}
        {% if object|can_write_foirequest:request %}
          <div class="d-print-none alert alert-warning">
            <p>{% blocktrans %}This message may contain information that you may wish to not publish until after the whole request finished. The following message is therefore currently only visible to you.{% endblocktrans %}</p>
            <form class="form-horizontal disable-submit" method="post" action="{% url 'foirequest-approve_message' slug=object.slug message_id=message.pk %}">
              {% csrf_token %}
              <button class="btn btn-secondary" type="submit">
                {% trans "Publish message content" %}
              </button>
            </form>
          </div>
          <div class="alpha-message__content-text">{% redact_message message request %}</div>
        {% else %}
          <div class="alert alert-warning">
            <p>{% blocktrans %}This message is not yet public.{% endblocktrans %}</p>
          </div>
        {% endif %}
      {% else %}
        <div class="alpha-message__content-text">{% redact_message message request %}</div>
      {% endif %}
    {% endif %}
  </div>

  <div class="alpha-message__footer">

    <!-- footer buttons -->
    <div class="alpha-message__wrap d-flex py-3">

      <!-- Comments button -->
      <button
        type="button"
        class="btn btn-light btn-sm text-primary"
        data-toggle="collapse"
        aria-expanded="false"
        aria-controls="comments-{{ message.id }}"
        data-target="#comments-{{ message.id }}"
      >
        <span class="fa fa-comments"></span>
        {% with count=comment_list|length %}
          {{ count }} {% if count == 1 %}{% trans "Comment" %}{% else %}{% trans "Comments" %}{% endif %}
        {% endwith %}
      </button>

      <!-- Problem button-->
      {% render_problem_button message %}

      <!-- Guidance menu -->
      {% if request.user.is_staff %}
        <div class="dropdown">
          <button
            id="myDropdown"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            class="btn btn-light btn-sm ml-2"
          >
            {% trans "Guidance" %}
          </button>
          <div class="dropdown-menu smaller alpha-dropdown-menu" aria-labelledby="myDropdown">

            <form action="{% url 'guide-rerun_rules' message_id=message.id %}" method="post">
              {% csrf_token %}
              <a href="{% url 'admin:guide_guidance_changelist' %}?message={{ message.id }}" class="dropdown-item" target="_blank">
                {% trans "In admin" %}
              </a>
              <a href="{% url 'admin:guide_guidance_add' %}?prefill_message={{ message.id }}" class="dropdown-item" target="_blank">
                {% trans "Add custom" %}
              </a>
              <button type="submit" class="dropdown-item">{% trans "Rerun guidance" %}</button>
              <input name="notify" value="🚨 {% trans "Run + Notify" %}" type="submit" class="dropdown-item"/>
            </form>

          </div>
        </div>
      {% endif %}

    </div>

    <!-- comments list -->
    <div id="comments-{{ message.id }}" class="collapse {% if comment_list|length %}show{% endif %}">
      {% block before_comments %}{% endblock %}
      <div class="alpha-message__wrap pb-4">

        {% if not comment_list|length %}
          <span class="text-gray-600">{% trans "No comments yet." %}</span>
        {% else %}
          {% include "foirequest/alpha/body/message/comments/list.html" %}
        {% endif %}

        {% if request.user.is_authenticated %}
          <!-- comment reply button and form -->
          <div class="mt-3">
            <a class="btn btn-sm btn-light btn-block text-primary" data-toggle="collapse" aria-expanded="false" aria-controls="comment-form-{{ message.id }}" href="#comment-form-{{ message.id }}">
              {% if object.public %}
                {% trans "Write a public comment" %}
              {% else %}
                {% trans "Write a comment" %}
              {% endif %}
            </a>
            <div class="collapse pt-3" id="comment-form-{{ message.id }}">
              {% include "foirequest/alpha/body/message/comments/form.html" %}
            </div>
          </div>
        {% else %}
          <span class="text-gray-600 smaller">
            {% blocktrans with link=message.get_absolute_url|make_login_redirect_url %}Please <a href="{{ link }}" >login</a> to write a comment.{% endblocktrans %}
          </span>
        {% endif %}
      </div>

      {% block after_comments %}{% endblock %}
    </div>

  </div>

</div>