{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools-items %}
  {% if original.pk and not original.sent %}
    <li>
      <form method="post" action="{% url 'admin:foirequest-foimessage-resend_message' pk=original.pk %}">{% csrf_token %}
      <button type="submit" class="btn btn-secondary">{% blocktrans %}Resend message{% endblocktrans %}</button>
    </form></li>
  {% endif %}
  {% if original and original.is_email %}
    <li>
      <a href="{% url 'admin:foirequest-foimessage-download_eml' pk=original.pk %}">
        {% translate "Download as .eml" %}
      </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %}

