.alpha-attachment {
  line-height: 1.25;
  &__file-icon {
    font-size: 2.250rem;
    width: 3.125rem;
    height: 3.125rem;
    &--gray {
      color: $gray-400;
      background-color: $gray-200;
    }
    &--blue {
      color: $blue-400;
      background-color: $blue-200;
    }
  }
}