.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: $spacer * .5 0;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  &__element, &__separator {
    margin-right: $spacer * .5;
    > * {
      color: $gray-500;
      font-size: small;
      white-space: nowrap;
      @include media-breakpoint-up(lg) {
        font-size: $font-size-sm;
      }
    }
    &:last-child {
      margin-right: none;
      > * { color: $blue-800; }
    }
  }
}

.request-title {
  margin-bottom: 0;
  margin-top: $spacer * 1.5;
  // word-break: break-all;
  @include media-breakpoint-up(lg) {
    margin-top: $spacer * 2;
  }
}

.request-descr {
  position: relative;
  overflow: hidden;
  padding-bottom: $spacer;
  margin-bottom: $spacer;
  border-bottom: 1px solid $gray-300;
  &--collapsed {
    max-height: 400px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  @include media-breakpoint-up(md) {
    padding-bottom: 0;
    border-bottom: 0;
  }
  @include media-breakpoint-up(lg) {
    max-width: 40rem;
  }
}

.request-descr-read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 80px;
  background-image: linear-gradient(to bottom, rgba($gray-100, 0), $gray-100);
}

.info-box {
  $x-spacing-mobile: $spacer;
  $x-spacing-desktop: $spacer * 1.5;
  $y-spacing-mobile: $spacer * .75;
  $y-spacing-desktop: $spacer;
  @include media-breakpoint-up(md) {
    margin-top: $spacer * 1.5;
  }
  &__header {
    position: relative;
    padding: $spacer * 1.5 $x-spacing-mobile;
    @include media-breakpoint-up(lg) {
      padding: $spacer * 1.5;
    }
  }
    &__title {
      margin: 0;
    }
    // &__subtitle {}
    &__icon {
      background-color: $white;
      border-radius: 50%;
      width: 44px;
      height: 44px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 30px;
    }
  &__body {
    background-color: $gray-100;
  }
    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
      &__list-item {
        margin: $y-spacing-mobile $x-spacing-mobile;
        @include media-breakpoint-up(lg) {
          margin: $y-spacing-desktop $x-spacing-desktop;
        }
        a .fa-question-circle-o { color: $blue-800; }
        p { margin: 0; }
        &--inset {
          margin-left: 0;
          margin-right: 0;
          padding-left: $x-spacing-mobile;
          padding-right: $x-spacing-mobile;
          @include media-breakpoint-up(lg) {
            padding-left: $x-spacing-desktop;
            padding-right: $x-spacing-desktop;
          }
        }
        &--has-divider {
          padding-bottom: $y-spacing-mobile;
          border-bottom: 2px solid $gray-200;
          @include media-breakpoint-up(lg) {
            padding-bottom: $y-spacing-desktop;
          }
        }
        &--is-danger {
          color: darken($red, 7%);
          background-color: #FFDCD4;
          padding-top: $y-spacing-mobile;
          padding-bottom: $y-spacing-mobile;
          @include media-breakpoint-up(lg) {
            padding-top: $y-spacing-desktop;
            padding-bottom: $y-spacing-desktop;
          }
          a .fa-question-circle-o { color: darken($red, 7%); }
        }
      }
        &__list-label { font-weight: 600; }
        // &__list-value {}

  /*
    Info-box theme regular
  */
  &--regular {
    border: 2px solid $gray-300;
    box-shadow: 6px 6px 0px rgba(232, 235, 240, 0.76);
  }
  &--regular &__header { background-color: $gray-300 }
  &--regular &__title { color: $blue-800}
  &--regular &__subtitle { color: $gray-700}

  /*
    Info-box theme danger
  */
  &--danger {
    border: 2px solid $red;
    box-shadow: 6px 6px 0px rgba(255, 220, 212, 0.7);
  }
  &--danger &__header { background-color: $red }
  &--danger &__title { color: $white}
  &--danger &__subtitle { color: $white}

  /*
    Info-box thesme success
  */
  &--success {
    border: 2px solid $green;
    box-shadow: 6px 6px 0px rgba(232, 235, 240, 0.76);
  }
  &--success &__header { background-color: $green }
  &--success &__title { color: $white}
  &--success &__subtitle { color: $white}
}

.alpha-tabs {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  // &__tab {}
  &__tab-link {
    display: flex;
    align-items: center;
    padding: $spacer * .625 $spacer;
    color: $blue-800;
    font-weight: 600;
    font-size: $font-size-base;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    @include hover-focus() {
      text-decoration: none;
    }
    &:hover {
      border-bottom-color: $gray-300;
    }
    &.active {
      border-bottom-color: $blue-600;
    }
    @include media-breakpoint-up(sm) {
      padding: $spacer * .625 $spacer;
      font-size: $font-size-base * 1.125;
    }
    @include media-breakpoint-up(lg) {
      padding: $spacer * .625 $spacer * 1.5;
    }
  }
    &__counter {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: $spacer * .25;
      font-size: 10px;
      line-height: 1;
      color: $gray-700;
      background-color: #D7DEE5;
      border-radius: 50%;
      min-width: 20px;
      height: 20px;
      &--highlight {
        color: $gray-800;
        background-color: $yellow-200;
      }
    }
}