@import "../../variables";

@import "header";
@import "message";
@import "attachment";
@import "timeline";
@import "scrollIndicator";
@import "reply";

.alpha-dropdown-menu {
  .dropdown-item {
    font-weight: 700;
    &:hover {
      color: $blue-600;
    }
    &:active {
      background-color: $blue-200;
    }
  }
}
