.alpha-message {
  $message_box_shadow: 6px 6px 0px rgba(201, 210, 220, 0.23);
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  background-color: $white;
  box-shadow: $message_box_shadow;
  &--expanded {
    box-shadow:
      $message_box_shadow,
      -2px 0 0 $blue-300; // blue border left
  }
  &__head {
    cursor: pointer;
    display: flex;
    padding: $spacer;
  }
    &__avatar {
      flex: 0 0 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      background-color: $gray-200;
      border-radius: 50%;
      color: $gray-500;
      margin-right: $spacer * .5;
      &--house { font-size: 14px; }
      @include media-breakpoint-up(lg) {
        flex-basis: 44px;
        width: 44px;
        height: 44px;
        margin-right: $spacer;
        &--user { font-size: 18px; }
        &--house { font-size: 16px; }
      }
    }
    &__sender {
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;
    }
      &__sender-link {
        color: $body-color;
      }
    &__details { display: none; }
      &__details-link { cursor: pointer; }
      &__details-container {
        display: none;
        border: 1px solid $gray-500;
      }
    &--expanded &__text-preview { display: none; }
    &--expanded &__details { display: block; }
  &__body {
    display: none;
    margin-left: 76px;
    margin-right: 76px;
    padding-bottom: $spacer;
  }
  &--expanded &__body { display: block; }
    &__content-text {
      white-space: pre-wrap;
    }
}