.alpha-timeline {
  position: sticky;
  top: 0;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  border-left: 2px solid $gray-300;
  padding-left: $spacer;
  font-size: $font-size-sm;
  &__item {
    margin-bottom: $spacer * 3;
    &--active {
      color: red;
    }
  }
}