.alpha-timeline {
  position: sticky;
  top: 0;
  left: 0;
  // max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  // overflow-y: scroll;
  font-size: $font-size-sm;
  &__wrap {
    transition: transform .2s ease;
  }
    &__item {
      border-left: 2px solid $gray-300;
      padding-top: $spacer * .25;
      padding-left: $spacer;
      padding-bottom: $spacer * 1.5;
      transition: all .2s ease;
      color: $gray-500;
      a { color: $gray-500; }
      &--active {
        color: $gray-700;
        a { color: $gray-700; }
        border-left-color: $gray-500;
      }
      // &--overdue {
      //   color: $overdue-color-1;
      //   a { color: $overdue-color-1; }
      //   border-color: $overdue-color-2;
      // }
      // &--active#{&}--overdue {
      //   border-color: $overdue-color-1;
      // }
    }
      &__month {
        font-weight: 600;
      }
      &__item--overdue &__overdue-time {
        color: darken($red, 7%);
      }
      // &__item--active#{&}__item--overdue &__overdue-time { color: darken($red, 7%); }
}