{% load i18n %}
<script type="text/javascript">
  var Froide = Froide || {};
  Froide.url = Froide.url || {};
  Froide.url.searchPublicBody = "{% url 'publicbody-search_json' %}";
  Froide.url.autocompletePublicBody = "{% url 'publicbody-autocomplete' %}";
  Froide.url.showPublicBody = "{% url 'publicbody-show_json' pk=0 format='json' %}";
  Froide.template = Froide.template || {};
Froide.template.publicBodyListingInfo = '<a href="{% templatetag openvariable %}url{% templatetag closevariable %}" class="target-new"><i class="icon-info-sign"></i></a>';
</script>
<div class="public_body-chooser" data-inputname="{{ name }}">
  <div class="publicbody-search form-search">
    <div class="input-append">
      <input type="search" value="{{ topic }}" class="search-public_bodies search-query span4" id="id_{{ name }}" placeholder="{% blocktrans %}Search Term{% endblocktrans %}"/>
      <button type="button" class="btn search-public_bodies-submit"><i class="icon-search"></i>{% blocktrans %}Search{% endblocktrans %}</button>
    </div>
    <div class="searchexamples help-block">{% blocktrans %}Try something like:{% endblocktrans %} 
      <a href="?topic={% trans "Environment" %}" class="searchexample">{% trans "Environment" %}</a> {% trans "or" %}
      <a href="?topic={% trans "Ministry of Labour" %}" class="searchexample">{% trans "Ministry of Labour" %}</a><br/>
      <a href="{% url 'help-about' %}">{% trans "Write to us if a public body is missing" %}</a>
    </div>
  </div>
  <div class="search-spinner" style="display:none">
    <img src="{{ STATIC_URL }}img/spinner.gif" alt="Loading..."/>
  </div>
  <ul class="search-results" style="display:none">
    <li class="empty-result" style="display:none">{% blocktrans %}No Public Bodies found for this query.{% endblocktrans %}</li>
  </ul>
  {% if value %}
  <label class="radio">
    <input type="radio" name="{{ name }}" value="{{ value }}" checked="checked"/>
    {{ value_label }}
  </label>
  {% endif %}
</div>