<div id="publicbody-chooser-{{ widget.attrs.id }}" class="publicbody-chooser">
  <publicbody-chooser name="{{ widget.name }}"
  :form="{{ widget.json }}"
  :config="{{ config }}"
  scope="pb-{{ widget.attrs.id }}"
  defaultsearch="{% if widget.search %}{{ widget.search }}{% endif %}"
  >
    {% if widget.value %}
    <label>
      <input type="radio" name="{{ widget.name }}" value="{% if widget.value %}{{ widget.value }}{% endif %}"/>
      {% if widget.value_label %}{{ widget.value_label }}{% endif %}
    </label>
    {% endif %} 
  </publicbody-chooser> 
</div>
