{% load i18n %}
<form method="get" action="{% url 'publicbody-search' %}">
  <div class="col-lg-6">
    <div class="input-group">
      <input class="form-control" type="search" placeholder="{% trans "Search Terms" %}" name="q" value="{{ query }}" autocomplete="off"/>
      <span class="input-group-btn">
        <button class="btn btn-success" type="submit">
          <span class="glyphicon glyphicon-search"></span>
          {% blocktrans %}Search all Public Bodies{% endblocktrans %}
        </button>
      </span>
    </div>
  </div>
</form>
