{% extends 'publicbody/base.html' %}

{% load i18n %}
{% load form_helper %}

{% block title %}{{ object.name }} - {{ SITE_NAME }}{% endblock %}

{% block metadescription %}{% blocktrans with name=object.name classification=object.classification juris=object.jurisdiction.name site_name=SITE_NAME %}{{ name }} is a {{ classification }} in {{ juris }} on {{ site_name }}{% endblocktrans %}{% endblock %}

{% block app_body %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h3>
      {% blocktrans with name=object.name %}Propose a change for “{{ name }}”{% endblocktrans %}
    </h3>
    <form action="" method="post">
      {% csrf_token %}
      {% render_form form %}
      <button class="btn btn-primary" type="submit">
        {% trans "Propose change" %}
      </button>
    </form>
  </div>
</div>
{% endblock %}
