{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{object.name}} - {{SITE_NAME}}{% endblock %}

{% block body %}
<div class="state-header" style="background-image: url('{{ STATIC_URL }}img/jurisdictions/{{ object.slug }}_panorama.jpg')">
  <div class="row">
    <div class="span12 state-headline">
      <h1>{% blocktrans with name=object.name %}Freedom of Information<br/>in {{ name }}{% endblocktrans %}</h1>
      <h2>{% blocktrans %}Ask Public Bodies for administrative information — it's your right.{% endblocktrans %}</h2>
    </div>
  </div>
  <ul class="state-points thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <h3>{% trans "Which Public Bodies?" %}</h3>
        {% url 'publicbody-show-pb_jurisdiction' slug=object.slug as pb_url %}
        <p>{% trans "All bodies that work on administrative tasks of this jurisdiction." %}</p>
        <p>{% blocktrans with pb_count=pb_count url=pb_url %}Make a request to one of <a href="{{ url }}">{{ pb_count }} Public Bodies.</a>{% endblocktrans %}</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <h3>{% trans "What Information?" %}</h3>
        <p>{% trans "Contracts, memos, reports and other documents of the administration: you have the right to know." %}</p>
        <p><a href="{% url 'foirequest-make_request' %}">{% trans "Make a request!" %}</a></p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <h3>{% trans "What right?" %}</h3>
        <p>{% blocktrans with name=object.name %}The freedom of information law in {{ name }} allows you access to administrative information. {% endblocktrans %}</p>
        <p><a href="{{ laws.0.get_absolute_url }}">{% trans "Get to know your right!" %}</a></p>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
