{% extends 'helper/search/search_base.html' %}
{% load i18n %}
{% load humanize %}
{% load searchtags %}
{% load search_helper %}

{% block search_title %}
  {% trans "Public Bodies" %}
{% endblock %}


{% block search_form_filters %}
  <div class="row">
    {% if "jurisdiction" in show_filters and form.jurisdiction.field.choices|length > 1 %}
      <div class="col-md-6">
        {{ form.jurisdiction }}
      </div>
    {% else %}
      {{ form.jurisdiction }}
    {% endif %}

    {% if "category" in show_filters %}
      <div class="col-md-6">
        {{ form.category }}
      </div>
    {% else %}
      {{ form.category }}
    {% endif %}
  </div>
{% endblock %}

