{% extends 'base.html' %}
{% load url from future %}
{% load i18n %}

{% block body %}
<h2>{% blocktrans %}Public Body{% endblocktrans %}</h2>
<p>{% blocktrans %}The following Public Bodies can be found here:{% endblocktrans %}</p>
<div>
  {% regroup object_list|dictsortreversed:"topic" by topic as classified_list %}
  {% for classified in classified_list %}
  <h3>{{ classified.grouper }}
    <ul>
      {% for object in classified.list %}
    <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
    {% empty %}
    <li>{% blocktrans %}No Public Bodies yet{% endblocktrans %}</li>
  {% endfor %}
  </ul>
  {% endfor %}
</div>
{% endblock %}
