{% extends 'publicbody/base.html' %}

{% load i18n %}

{% block body %}

<div class="row">
  <div class="col-lg-12">
    <h2>
      {% blocktrans %}Public Bodies by Topic{% endblocktrans %}
    </h2>
    <div class="row">
      {% include "publicbody/_search_form.html" %}
    </div>
  </div>
</div>

<div class="row">
  {% for topic in topics %}
    <div class="col-sm-4 col-md-3 col-lg-3">
  	  <a class="thumbnail publicbody-item" href="{% url 'publicbody-show_topic' topic=topic.slug %}">
    		<img src="{{ STATIC_URL }}img/topics/{{ topic.slug }}.png" alt="{{ topic.name }}"/>
        <h4 class="text-center">{{ topic.name }}</h4>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}
