{% extends 'publicbody/base.html' %}

{% load i18n %}

{% block body %}
<h2>{% blocktrans %}Public Bodies by Topic{% endblocktrans %}</h2>

{% include "publicbody/_search_form.html" %}

<ul class="thumbnails">
  {% for topic in topics %}
  <li class="span3">
  	<a class="thumbnail iconed-item clearfix" href="{% url 'publicbody-show_topic' topic=topic.slug %}">
  		<div class="iconed-icon fixed-height">
    		<img src="{{ STATIC_URL }}img/topics/{{ topic.slug }}.png" alt="{{ topic.name }}"/>
    	</div>
    	<div class="iconed-description">
    		<h4>{{ topic.name }}</h4>
    	</div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
