{% extends 'publicbody/base.html' %}

{% load i18n %}

{% block body %}
<h2>{% blocktrans %}Public Bodies by Topic{% endblocktrans %}</h2>

<form>
  <input type="search"/>
  <input type="submit"/>
</form>

<p><a href="">{% blocktrans %}in alphabetical order{% endblocktrans %}</a> or <a href=""></a></p>


<ul class="topic-list">
  {% regroup object_list by topic as classified_list %}
  {% for classified in classified_list %}
  <li class="span-8{% if forloop.counter|divisibleby:3 %} last{% endif %}">
  <h4 class="{{ classified.grouper }}"><a href="">{{ classified.grouper }}</a></h4>
  </li>
  {% endfor %}
</ul>
{% endblock %}
{#
    <ul>
      {% for object in classified.list %}
    <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
    {% empty %}
    <li>{% blocktrans %}No Public Bodies yet{% endblocktrans %}</li>
  {% endfor %}
  </ul>
  #}
