{% extends 'publicbody/base.html' %}
{% load i18n %}

{% block body %}

<div class="row">
  <div class="span10">
    <h2>{% blocktrans %}Search Results for &quot;{{ query }}&quot; in Public Bodies{% endblocktrans %}</h2>
    {% include "publicbody/_search_form.html" %}
    <ul class="unstyled">
      {% for object in page.object_list %}
        <li>
          {% include "publicbody/snippets/publicbody_item.html" %}
        </li>

      {% empty %}
        <li>
          <p>
            {% blocktrans %}No relevant Public bodies found for "{{ query }}".{% endblocktrans %}
          </p>
          <p>
            <a href="{% url 'publicbody-list' %}">{% blocktrans %}You can browse the list of Public Bodies.{% endblocktrans %}</a>
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>


{% endblock %}

