{% extends 'publicbody/base.html' %}

{% load i18n %}
{% load markup %}

{% block app_body %}
<h2>{{ object.name }} ({{ object.jurisdiction.name }})</h2>
<dl>
  <dt>{% blocktrans %}Link to law text:{% endblocktrans %}</dt>
  <dd>
  	<a href="{{ object.url }}" target="_blank" rel="noopener">{% blocktrans with name=object.name juris=object.jurisdiction.name %}Law text of {{ name }} ({{ juris }}){% endblocktrans %}</a>
  </dd>
  {% if object.created %}
	  <dt>{% blocktrans %}Came into effect on{% endblocktrans %}:</dt>
	  <dd>{{ object.created|date:"DATE_FORMAT" }}</dd>
  {% endif %}
  {% if object.updated %}
	  <dt>{% blocktrans %}Last update on{% endblocktrans %}:</dt>
	  <dd>{{ object.updated|date:"DATE_FORMAT" }}</dd>
  {% endif %}
  {% if object.mediator %}
	  <dt>{% blocktrans %}Mediating authority{% endblocktrans %}:</dt>
	  <dd><a href="{{ object.mediator.get_absolute_url }}">{{ object.mediator.name }}</a></dd>
  {% endif %}
</dl>

<div>
	{{ object.long_description|markdown }}
</div>

{% endblock %}
