{% load i18n %}

<div class="d-flex flex-wrap mb-2">
  {% for attachment in attachment_list|slice:":3" %}
    {% include "foirequest/body/message/attachments/item.html" %}
  {% endfor %}

  <!-- wrap everything after third attachment -->
  {% if attachment_list|length > 3 %}
    <div style="display: none;">
      {% for attachment in attachment_list|slice:"3:" %}
        {% include "foirequest/body/message/attachments/item.html" %}
      {% endfor %}
    </div>
    <div class="d-flex flex-fill align-items-center justify-content-center mb-2 mr-2 rounded border border-light">
      <a href="#" class="font-weight-bold small py-3 alpha-attachment__more-trigger">
        {% blocktrans with count=attachment_list|length|add:"-3" %}
          Show {{ count }} more attachments
        {% endblocktrans %}
      </a>
    </div>
  {% endif %}
</div>