{% load i18n %}
{% load humanize %}
{% load form_helper %}
{% load foirequest_tags %}
<div class="tab-content">
    <div class="scroll-indicator">
        <div class="scroll-indicator__line"></div>
    </div>
    {% include "foirequest/body/correspondence.html" %}
    {% if has_documents %}
        {% include "foirequest/body/documents.html" %}
    {% endif %}
    {% block request_top_pane %}
    {% endblock request_top_pane %}
    {% if object|can_manage_foirequest:request %}
        {% include "foirequest/body/settings.html" %}
    {% endif %}
</div>
