{% load i18n %}
{% load team_tags %}
{% load foirequest_tags %}

<div
role="tabpanel"
class="tab-pane fade"
id="settings-panel"
aria-labelledby="settings-tab"
>
  <div class="container">
    {% get_team_form object as team_form %}
    {% trans "Assign team to request" as legend %}
    {% trans "Set team" as submit_button %}
    {% url 'foirequest-set_team' slug=object.slug as submit_url %}
    {% include "team/_assign_team_form.html" with object=object form=team_form submit_url=submit_url legend=legend submit_button=submit_button %}

  </div>

  <div class="container">
    {% get_project_form object as project_form %}
    {% trans "Assign request to project" as legend %}
    {% trans "Set project" as submit_button %}
    {% url 'foirequest-set_project' slug=object.slug as submit_url %}
    {% include "foirequest/_assign_project_form.html" with object=object form=project_form submit_url=submit_url legend=legend submit_button=submit_button %}
  </div>

  {# If Meta Law #}
  {% if object.response_messages and object.law.meta %}
    <div class="container mt-3 p-3">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div role="tabpanel" class="tab-pane d-print-none" id="concrete-law">
            <h4>{% trans "Set Law" %}</h4>
            <form method="post" class="disable-submit" action="{% url 'foirequest-set_law' slug=object.slug %}">
              {% csrf_token %}
              <p>{% blocktrans %}This request was made under multiple information laws. If it is apparent from the reply under which law the request was answered, please choose this law below. If it is not obvious, leave it as it is.{% endblocktrans %}</p>
              {{ object.get_concrete_law_form.as_p }}
              <button type="submit" class="btn btn-primary">{% blocktrans %}Set Concrete Law{% endblocktrans %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if not object.public %}
    <div class="container bg-white mt-3 p-3">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h4>{% trans "Secret Short URL" %}</h4>
          <p class="small help">
            {% trans "This URL gives read access to others." %}
          </p>
          <p>
            <input type="text"
              value="{{ object.get_accessible_link }}"
              data-toggle="tooltip"
              title="{% trans 'Click to copy' %}"
              data-copied="{% trans 'URL copied' %}"
              class="form-control input-sm copy-text" readonly/>
          </p>
        </div>
      </div>
    </div>
  {% endif %}
</div>