{% load comments i18n %}
{% load form_helper %}

{% get_comment_form for message as form %}

<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  <input type="hidden" name="next" value="{{ message.request.get_absolute_url }}#comments-{{ message.id }}" />
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% endif %}
  {% endfor %}

  {% if user.private %}
    {% if user == object.user %}
      <div class="alert alert-info">
        {% trans "You have a private account. Your comment will show “requester” as the author." %}
      </div>
    {% else %}
      <div class="alert alert-warning">
        {% trans "Your real name will be shown with your comment on requests that are not your own." %}
      </div>
    {% endif %}
  {% endif %}

{% render_field form.comment %}

  <div class="text-right">
    <button type="submit" name="post" class="btn btn-secondary">
      <span class="fa fa-comment"></span> {% trans "Post Comment" %}
    </button>
  </div>
</form>

