{% load i18n %}
{% load content_helper %}

{% if not comment_list|length %}
  <span class="text-body-secondary">{% translate "No comments yet." %}</span>
{% else %}
  {% include "froide_comments/list.html" with object=object comment_list=comment_list %}
{% endif %}

{% if request.user.is_authenticated %}
  {# comment reply button and form #}
  <div class="mt-3">
    <div class="d-grid">
      <a class="btn btn-sm btn-outline-secondary text-primary" data-bs-toggle="collapse" aria-expanded="false" aria-controls="comment-form-{{ object.id }}" href="#comment-form-{{ object.id }}">
        {% if object.public %}
          {% trans "Write a public comment" %}
        {% else %}
          {% trans "Write a comment" %}
        {% endif %}
      </a>
    </div>
    <div class="collapse pt-3" id="comment-form-{{ object.id }}">
      {% include "froide_comments/form.html" %}
    </div>
  </div>
{% else %}
  <span class="text-gray-600 smaller">
    {% blocktranslate with link=object.get_absolute_url|make_login_redirect_url %}Please <a href="{{ link }}" >login</a> to write a comment.{% endblocktranslate %}
  </span>
{% endif %}
