{% load i18n %}
{% if foirequest_requestpage_tour %}
    <div class="alert alert-success ajax-parent">
        <p>
            <strong>{% blocktrans %}Welcome to your new request page! Can we give you a tour?{% endblocktrans %}</strong>
        </p>
        <div class="row">
            <div class="col-auto">
                <button data-tour="foirequest_requestpage_tour"
                        data-tourdone="#cancel-tour"
                        class="btn btn-success">{% translate "Yes, show me!" %}</button>
            </div>
            <div class="col-auto">
                <form class="ajaxified"
                      action="{% url 'api-user-preference' key='foirequest_requestpage_tour' %}"
                      method="post">
                    {% csrf_token %}
                    <input type="hidden" name="value" value="1" />
                    <button type="submit" id="cancel-tour" class="btn btn-secondary">{% translate "No, thanks." %}</button>
                </form>
            </div>
        </div>
    </div>
{% elif foirequest_messagereceived_tour %}
    <div class="alert alert-info ajax-parent">
        <p>
            <strong>{% blocktrans %}You received a reply! Can we give you a tour of your options?{% endblocktrans %}</strong>
        </p>
        <div class="row">
            <div class="col-auto">
                <button data-tour="foirequest_messagereceived_tour"
                        data-tourdone="#cancel-tour"
                        class="btn btn-success">{% translate "Yes, show me!" %}</button>
            </div>
            <div class="col-auto">
                <form class="ajaxified"
                      action="{% url 'api-user-preference' key='foirequest_messagereceived_tour' %}"
                      method="post">
                    {% csrf_token %}
                    <input type="hidden" name="value" value="1" />
                    <button type="submit" id="cancel-tour" class="btn btn-secondary">{% translate "No, thanks." %}</button>
                </form>
            </div>
        </div>
    </div>
{% endif %}
