<div class="tab-content py-sm-3">
  <div
    role="tabpanel"
    class="tab-pane fade active show"
    id="correspondence"
    aria-labelledby="correspondence-tab"
  >
    <div class="container px-0 px-lg-3">
      <div class="row mx-0 mx-lg-n3">
        {% comment %}
          JavaScript calculates the heights of these containers.
          Don't add any other containers here.
        {% endcomment %}
        <div class="px-0 px-lg-3 col-lg-8">
          {% include "foirequest/alpha/body/correspondence.html" %}
        </div>
        <div class="px-0 px-lg-3 col-lg-4">
          {% include "foirequest/alpha/body/timeline.html" %}
        </div>
      </div>
    </div>
  </div>
  
  <div
    role="tabpanel"
    class="tab-pane fade"
    id="actions"
    aria-labelledby="actions-tab"
  >
    Actions tab
  </div>
</div>

{% block after_foirequest_messages %}
  {% if object.same_as_count %}
    <div class="d-print-none" id="identical">
      <h5>{% blocktrans with counter=object.same_as_count|intcomma count count=object.same_as_count %}One identical request{% plural %}{{ counter }} identical requests{% endblocktrans %}</h5>
    </div>
  {% endif %}
  {% if object.same_as %}
    <div class="d-print-none" id="identical">
      <p>
        {% blocktrans %}This request is identical to:{% endblocktrans %}
        <a href="{{ object.same_as.get_absolute_url }}">{{ object.same_as.title }}</a>
      </p>
    </div>
  {% endif %}
{% endblock after_foirequest_messages %}