{% load content_helper %}

<div id="timeline" class="alpha-timeline">
  <div class="alpha-timeline__wrap">
    {% block foirequest_timeline %}
      {% for key, value in object.get_messages_by_month.items %}
        <div class="alpha-timeline__item" data-key="{{ value.first_of_month_date|date:'Y-m' }}">
          <a href="#{{ value.first_message_id }}" class="alpha-timeline__month">
            {% if value.is_same_year %}{{ value.first_of_month_date|date:'F' }}{% else %}{{ value.first_of_month_date|date:'F Y' }}{% endif %}
          </a>
        </div>
      {% endfor %}
    {% endblock foirequest_timeline %}
  </div>
</div>