{% load i18n %}
{% load foirequest_tags %}

{% block extra_head %}
  {% if object|can_write_foirequest:request %}
  {% with object.get_set_tags_form as set_tags_form %}
    {{ set_tags_form.media.css }}
  {% endwith %}
  {% endif %}
{% endblock extra_head %}

<div class="container">
  <div class="row">
    <!-- left column (title, description, tags etc.) -->
    <div class="col-md-6 col-lg-7 col-xl-8 mb-4">

      <div class="d-flex flex-column">

        <!-- title -->
        <h2 class="request-title">{{ object.title }}</h2>

        <!-- recipient -->
        <div class="mt-3 text-gray-500">
          {% blocktrans %}Request to:{% endblocktrans %}

          {% if object.public_body %}
            <a class="text-gray-500 font-weight-bold" href="{{ object.public_body.get_absolute_url }}">{{ object.public_body.name }}</a>
          {% else %}
            {% blocktrans %}Not yet known{% endblocktrans %}
          {% endif %}
        </div>

        <!-- description -->
        <div class="mt-3">
          <div class="request-descr request-descr--collapsed">
            {{ object.get_description|urlizetrunc:40|linebreaks }}
            <div class="request-descr-read-more">
              <button type="button" class="btn btn-light btn-sm btn-block expand-descr-btn">{% blocktrans %}Read all{% endblocktrans %}</button>
            </div>
          </div>
        </div>

        {% if object.summary or object|can_write_foirequest:request and object.reply_received %}
        <!-- result summary -->
        <div class="mt-3">
          <h5>{% trans "Result of request" %}</h5>
            <div>
            {% if not object.summary and object|can_write_foirequest:request %}
              <p class="text-muted mb-0">
                {% translate "What have you learned from this request? Write a short summary of the results." %}
              </p>
            {% endif %}
            {% if object.summary %}
              <div class="request-descr request-descr--collapsed">
                {{ object.summary|urlizetrunc:40|linebreaks }}
                <div class="request-descr-read-more">
                  <button type="button" class="btn btn-light btn-sm btn-block expand-descr-btn">{% blocktrans %}Read all{% endblocktrans %}</button>
                </div>
              </div>
            {% endif %}
            {% if object|can_write_foirequest:request %}
              <a href="#" data-inlineedit="#request-summary-form">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                {% if object.summary %}{% trans "Edit summary" %}{% else %}{% trans "Write summary" %}{% endif %}
              </a>
            {% endif %}
          </div>
          {% if object|can_write_foirequest:request %}
            <div class="mb-3 request-summary-form d-none" id="request-summary-form">
              <form method="post" class="disable-submit" action="{% url 'foirequest-set_summary' slug=object.slug %}">
                {% csrf_token %}
                {% if object.summary %}
                  <p>{% blocktrans %}Have you received the information you need? What have you learned from it?{% endblocktrans %}</p>
                {% endif %}
                <textarea rows="8" class="form-control mb-3" name="summary" placeholder="{% trans 'Summary of the result of your request' %}">{{ object.summary }}</textarea>
                <button type="submit" class="btn btn-primary mr-2">
                  {% blocktrans %}Save{% endblocktrans %}
                </button>
                <button type="button" class="btn btn-secondary" data-inlineeditcancel="true">
                  {% blocktrans %}Cancel{% endblocktrans %}
                </button>
              </form>
            </div>
          {% endif %}
        </div>
        {% endif %}

        <!-- tags -->
        <div class="request-tags mt-3 mb-3">
          <div>
            <!-- tags list -->
            {% with object.tags.all as tags %}
              {% if tags %}
                <div class="request-tags-list">
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    {% for tag in tags %}
                      <li class="mr-2 smaller">
                        <a href="{% url 'foirequest-list' tag=tag.slug %}" class="text-gray-500">
                          <i class="fa fa-tags" aria-hidden="true"></i>
                          <span>{{ tag.name }}</span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
            {% endwith %}
            {% if object|can_write_foirequest:request %}
              <a href="#" data-inlineedit="#request-tags-form"><i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Add Tags" %}</a>
            {% endif %}
          </div>

          <!-- tags form-->
          {% if object|can_write_foirequest:request %}
            <div class="request-tags-form mb-3 d-none" id="request-tags-form">
              <form method="post" action="{% url 'foirequest-set_tags' slug=object.slug %}">
                {% csrf_token %}
                <div class="mb-3">
                  {% with object.get_set_tags_form as set_tags_form %}
                    {{ set_tags_form.tags }}
                  {% endwith %}
                </div>
                <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
                <button class="btn btn-secondary" data-inlineeditcancel="true" type="button">{% trans "Cancel" %}</button>
              </form>
            </div>
          {% endif %}

        </div>

      </div>

    </div>

    <!-- right column (info box) -->
    <div class="col-md-6 col-lg-5 col-xl-4">
      {% include "foirequest/alpha/header/info-box.html" %}
    </div>
  </div>
</div>


{% if object.campaign %}
  <div class="container mt-4">
    {% include object.campaign.banner_templates %}
  </div>
{% endif %}


<!-- tabs -->
<div class="container px-0 mt-4 mt-lg-0">
  <div style="position: relative; bottom: -2px;">
    <ul class="nav alpha-tabs" role="tablist" data-active-tab="{{ active_tab }}">
      <li class="alpha-tabs__tab">
        <a
          href="#correspondence-panel"
          id="correspondence-tab"
          data-toggle="tab"
          class="alpha-tabs__tab-link active"
          data-toggle="tab"
          aria-controls="correspondence-panel"
          aria-selected="true"
          role="tab"
        >
          <span>{% trans "Correspondence" %}</span>
          <span class="alpha-tabs__counter">{{ object.messages|length }}</span>
        </a>
      </li>

      {# TODO: set status tab: show when people come from email? #}
      {% comment %} {% if active_tab == 'set-status' %}
        <li class="alpha-tabs__tab">
          <a
            href="#set-status"
            id="set-status-tab"
            data-toggle="tab"
            class="alpha-tabs__tab-link"
            data-toggle="tab"
            aria-controls="set-status"
            aria-selected="false"
            role="tab"
          >
            <span>{% trans "Set status" %}</span>
          </a>
        </li>
      {% endif %} {% endcomment %}

    </ul>
  </div>
</div>

{% block scripts %}
{% endblock scripts %}