{% load i18n %}
{% load foirequest_tags %}

{% block extra_head %}
  {% if object|can_write_foirequest:request %}
  {% with object.get_set_tags_form as set_tags_form %}
    {{ set_tags_form.media.css }}
  {% endwith %}
  {% endif %}
{% endblock extra_head %}

<div class="container">


  {% if not object.public and object|can_read_foirequest_anonymous:request %}
  <div class="alert alert-warning">
    <h4>{% trans "This request is not public!" %}</h4>
    <p>
      {% trans "You clicked a special URL that gave you access. Share the original link responsibly." %}
    </p>
  </div>
  {% elif object|can_read_foirequest_anonymous:request %}
  <div class="alert alert-warning">
    <h4>{% trans "Special access" %}</h4>
    <p>
      {% trans "You clicked a special URL that gave you access. Share the original link responsibly." %}
    </p>
  </div>
  {% endif %}

  {% if not object.is_foi %}
  <div class="alert alert-info">
    {% blocktrans %}This request is not an FoI request. This site is only for requesting specific, non-personal information from public bodies.{% endblocktrans %}
  </div>
  {% endif %}

  {% block foirequest_header %}{% endblock %}

  <div class="row">
    <!-- left column (title, description, tags etc.) -->
    <div class="col-md-6 col-lg-7 col-xl-8 mb-4">

      <div class="d-flex flex-column">

        <!-- title -->
        <h2 class="request-title">{{ object.title }}</h2>

        <!-- recipient -->
        <div class="mt-3 text-gray-500">
          {% blocktrans %}Request to:{% endblocktrans %}

          {% if object.public_body %}
            <a class="text-gray-500 font-weight-bold" href="{{ object.public_body.get_absolute_url }}">{{ object.public_body.name }}</a>
          {% else %}
            {% blocktrans %}Not yet known{% endblocktrans %}
          {% endif %}
        </div>

        {% if object.project %}
          {% if object.project.public or object|can_write_foirequest:request %}
            <!-- project -->
            <div class="mt-3 text-gray-500">
              {% blocktrans %}Project:{% endblocktrans %}
              <a class="text-gray-500 font-weight-bold" href="{{ object.project.get_absolute_url }}">
                {{ object.project.title }}
              </a>
            </div>
          {% endif %}
        {% endif %}

        <!-- description -->
        <div class="mt-3">
          <div class="request-descr request-descr--collapsed">
            {{ object.get_description|urlizetrunc:40|linebreaks }}
            <div class="request-descr-read-more">
              <button type="button" class="btn btn-light btn-sm btn-block expand-descr-btn">{% blocktrans %}Read all{% endblocktrans %}</button>
            </div>
          </div>
        </div>

        {% if object.summary or object|can_write_foirequest:request and object.reply_received %}
        <!-- result summary -->
        <div class="mt-3">
          <h5>
            {% trans "Result of request" %}
            {% if object|can_write_foirequest:request and object.summary %}
              <a href="#" data-inlineedit="#request-summary-form" data-inlineeditpresentation="#request-summary">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span class="sr-only">{% trans "Edit summary" %}</span>
              </a>
            {% endif %}
          </h5>
            <div id="request-summary">
            {% if not object.summary and object|can_write_foirequest:request %}
              <p class="text-muted font-italic mb-0">
                {% translate "What have you learned from this request? Write a short summary of the results." %}
              </p>
            {% endif %}
            {% if object.summary %}
              <div class="request-descr request-descr--collapsed">
                {{ object.summary|urlizetrunc:40|linebreaks }}
                <div class="request-descr-read-more">
                  <button type="button" class="btn btn-light btn-sm btn-block expand-descr-btn">{% blocktrans %}Read all{% endblocktrans %}</button>
                </div>
              </div>
            {% endif %}
            {% if not object.summary and object|can_write_foirequest:request %}
              <a href="#" data-inlineedit="#request-summary-form" data-inlineeditpresentation="#request-summary">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                {% trans "Write summary" %}
              </a>
            {% endif %}
          </div>
          {% if object|can_write_foirequest:request %}
            <div class="mb-3 request-summary-form d-none" id="request-summary-form" data-autofocus="[name='summary']">
              <form method="post" class="disable-submit" action="{% url 'foirequest-set_summary' slug=object.slug %}">
                {% csrf_token %}
                {% if object.summary %}
                  <p>{% blocktrans %}Have you received the information you need? What have you learned from it?{% endblocktrans %}</p>
                {% endif %}
                <textarea rows="8" class="form-control mb-3" name="summary" placeholder="{% trans 'Summary of the result of your request' %}">{{ object.summary }}</textarea>
                <button type="submit" class="btn btn-primary mr-2">
                  {% blocktrans %}Save{% endblocktrans %}
                </button>
                <button type="button" class="btn btn-secondary" data-inlineeditcancel="true">
                  {% blocktrans %}Cancel{% endblocktrans %}
                </button>
              </form>
            </div>
          {% endif %}
        </div>
        {% endif %}

        <!-- tags -->
        <div class="request-tags mt-3 mb-3">
          <div id="request-tags-list">
            <!-- tags list -->
            {% with object.tags.all as tags %}
              {% if tags %}
                <div class="request-tags-list">
                  <ul class="list-unstyled d-flex flex-wrap mb-0">
                    {% for tag in tags %}
                      <li class="mr-2 smaller">
                        <a href="{% url 'foirequest-list' tag=tag.slug %}" class="text-gray-500">
                          <i class="fa fa-tags" aria-hidden="true"></i>
                          <span>{{ tag.name }}</span>
                        </a>
                      </li>
                    {% endfor %}
                    <li class="mr-2 smaller">
                      <a href="#" data-inlineedit="#request-tags-form" data-inlineeditpresentation="#request-tags-list">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        <span class="sr-only">{% trans "Edit tags" %}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              {% endif %}
              {% if not tags and object|can_write_foirequest:request %}
                  <a href="#" data-inlineedit="#request-tags-form"><i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Add tags" %}</a>
              {% endif %}
            {% endwith %}
          </div>

          <!-- tags form-->
          {% if object|can_write_foirequest:request %}
            <div class="request-tags-form mb-3 d-none" id="request-tags-form" data-autofocus=".choices__input.choices__input--cloned">
              <form method="post" action="{% url 'foirequest-set_tags' slug=object.slug %}">
                {% csrf_token %}
                <div class="mb-3">
                  {% with object.get_set_tags_form as set_tags_form %}
                    {{ set_tags_form.tags }}
                  {% endwith %}
                </div>
                <button class="btn btn-sm btn-primary" type="submit">{% trans "Save" %}</button>
                <button class="btn btn-sm btn-secondary" data-inlineeditcancel="true" type="button">{% trans "Cancel" %}</button>
              </form>
            </div>
          {% endif %}

        </div>

      </div>

    </div>

    <!-- right column (info box) -->
    <div class="col-md-6 col-lg-5 col-xl-4">
      {% include "foirequest/alpha/header/info-box.html" %}
    </div>
  </div>
</div>

{% if object.campaign %}
  <div class="container mt-4">
    {% include object.campaign.banner_templates %}
  </div>
{% endif %}

{% block foirequest_below_header %}{% endblock %}

<!-- tabs -->
<div class="container px-0 mt-4">
  <div style="position: relative; bottom: -2px;">
    <ul class="nav alpha-tabs" role="tablist" data-active-tab="{{ active_tab }}">
      <li class="alpha-tabs__tab">
        <a
          href="#correspondence-panel"
          id="correspondence-tab"
          data-toggle="tab"
          class="alpha-tabs__tab-link active"
          data-toggle="tab"
          aria-controls="correspondence-panel"
          aria-selected="true"
          role="tab"
        >
          <span>{% trans "Correspondence" %}</span>
          <span class="alpha-tabs__counter">{{ object.messages|length }}</span>
        </a>
      </li>

      {% if object|can_manage_foirequest:request %}
        <li class="alpha-tabs__tab ml-auto">
          <a
            href="#settings-panel"
            id="settings-tab"
            data-toggle="tab"
            class="alpha-tabs__tab-link"
            data-toggle="tab"
            aria-controls="settings-panel"
            aria-selected="true"
            role="tab"
          >
            <span>{% trans "Settings" %}</span>
          </a>
        </li>
      {% endif %}

    </ul>
  </div>
</div>

{% block scripts %}
{% endblock scripts %}