{% load i18n %}
{% load foirequest_tags %}
{% load permission_helper %}

{% comment %}
  Info box colors:
    green:
      - status_is_final and is_successful
    red:
      - is_overdue or has_been_refused
{% endcomment %}

<div
  id="infobox"
  class="info-box mb-3 info-box--{% if object.is_overdue or object.resolution == 'refused' %}danger{% elif object.status_is_final and object.is_successful or object.resolution == 'partially_successful' %}success{% else %}regular{% endif %}"
>

  <!-- header (status, status icon) -->
  <div class="info-box__header d-flex flex-nowrap justify-content-between align-items-center">
    <div>
      <h3 class="h5 info-box__title">{{ object.readable_status }}</h3>
      <div class="info-box__subtitle">
        {% if object.awaits_response and object.status_representation != 'awaiting_response' %}
          {% trans 'Awaiting response' %}
        {% endif %}
      </div>
    </div>
    {% if object.status_representation %}
      <div class="info-box__icon ml-1 flex-shrink-0 status-{{ object.status_representation }}"></div>
    {% endif %}
  </div>

  <!-- body  -->
  <div class="info-box__body">

    <!-- edit button -->
    {% if object|can_write_foirequest:request %}
      <div class="bg-blue-10 px-4 py-2">
        <a href="#" class="info-box__edit-button">
          <span class="{% if active_tab == 'set-status' %}d-none{% endif %}"><i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Edit request status" %}</span>
          <span class="{% if active_tab != 'set-status' %}d-none{% endif %}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> {% trans "Back" %}</span>
        </a>
      </div>
    {% endif %}

    <ul class="info-box__list {% if active_tab == 'set-status' %}d-none{% endif %}">


      {% if not object.public and object.is_foi and object|can_write_foirequest:request %}
        <li class="info-box__list-item info-box__list-item--inset bg-yellow-10 d-flex my-0 py-2 border-top border-yellow-20 d-print-none">
          <form class="form-inline disable-submit" action="{% url 'foirequest-make_public' slug=object.slug %}" method="post">
            {% csrf_token %}
            <p>
              {% blocktrans %}This request is <strong>not public</strong>.{% endblocktrans %}
            </p>
            <p class="m-2 text-right">
              <button type="submit" class="btn ml-auto btn-success">{% blocktrans %}Make public{% endblocktrans %}</button>
            </p>
          </form>
        </li>
      {% endif %}

      {# Admin/moderation links #}
      {% if object|can_moderate_foirequest:request %}
        <li class="info-box__list-item info-box__list-item--inset bg-blue-10 d-flex my-0 border-top border-blue-20">

          {% if request.user.is_staff and request.user|has_perm:"foirequest.view_foirequest" %}
            <div class="align-self-center mr-1">
              <a class="d-block" href="{% url 'admin:foirequest_foirequest_change' object.id %}">
                <i class="fa fa-cog"></i>
                {% trans "Admin" %}
              </a>
            </div>
          {% endif %}
          {% if not object.is_foi %}
            <span class="smaller text-danger"><strong>{% trans "Marked as NOT FoI" %}</strong></span>
          {% else %}
            <form id="mark-not-foi-form" class="ajaxified" method="post" action="{% url 'foirequest-mark_not_foi' slug=object.slug %}">
              {% csrf_token %}
              <button class="btn btn-link" type="submit">
              <i class="fa fa-ban"></i>
                {% trans "Not an FOI request" %}
              </button>
            </form>
            <div style="display:none" id="mark-not-foi-form-success">
              {% trans "Marked as NOT FoI" %}
            </div>
          {% endif %}

        </li>
      {% endif %}

      <!-- date -->
      <li class="info-box__list-item">
        <div class="info-box__list-label">{% blocktrans %}Date{% endblocktrans %}</div>
        <div class="info-box__list-value">{{ object.first_message|date:"j. F Y" }}</div>
      </li>

      <!-- due date -->
      <li
        class="info-box__list-item {% if object.is_overdue %}info-box__list-item--is-danger info-box__list-item--inset{% endif %}"
        {% if object.is_overdue %}
          title="{{ object.due_date|date:'DATE_FORMAT' }} - {% blocktrans with due=object.due_date|timesince %}{{ due }} ago{% endblocktrans %}"
        {% else %}
          title="{{ object.due_date|date:'DATE_FORMAT' }} - {% blocktrans with due=object.due_date|timeuntil %}in {{ due }}{% endblocktrans %}"
        {% endif %}
      >
        <div class="info-box__list-label">
          {% blocktrans %}Due date{% endblocktrans %}
          {% block foirequest_explain_deadline %}{% endblock %}
        </div>
        <div class="info-box__list-value">
          <span>
            {{ object.due_date|date:"DATE_FORMAT" }}
            {% if object|can_write_foirequest:request %}
              <a href="#" data-inlineedit="#request-duedate-form" data-inlineeditpresentation="#null">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span class="sr-only">{% trans "Edit due date" %}</span>
              </a>
            {% endif %}
          </span>
          {% if object|can_write_foirequest:request %}
            <div class="d-none" id="request-duedate-form">
              <small class="text-mute">
                {% translate "Extend deadline by a number of months." %}
              </small>
              <form class="disable-submit" method="post" action="{% url 'foirequest-extend_deadline' slug=object.slug %}">
                {% csrf_token %}
                <div class="input-group input-group-sm mb-1">
                  <input class="form-control" type="number" min="0" max="15" name="time" value="1">
                  <div class="input-group-append">
                    <span class="input-group-text">{{ object.law.get_max_response_time_unit_display }}</span>
                    <button class="btn btn-sm btn-outline-secondary" type="submit">
                      {% trans "Extend deadline" %}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          {% endif %}
        </div>
      </li>

      <!-- Costs -->
      {% if object.costs > 0 %}
        <li class="info-box__list-item">
          <div class="info-box__list-label">{% blocktrans %}Cost of information:{% endblocktrans %}</div>
          <div class="info-box__list-value">
            {{ object.costs|floatformat:2 }} {{ froide.currency }}

            {% if object|can_write_foirequest:request %}
              <a href="#" class="info-box__edit-link">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span class="sr-only">{% trans "Edit costs" %}</span>
              </a>
            {% endif %}
          </div>
        </li>
      {% endif %}

      <!-- follow request -->
      {% block followers %}
        <li class="info-box__list-item info-box__list-item--has-divider">
          {% include "foirequestfollower/show.html" %}
        </li>
      {% endblock followers %}

      {% if object.is_public %}
        <li class="info-box__list-item info-box__list-item--has-divider">

          <!-- copy url -->
          <div class="mb-2 mb-lg-3">
            <a href="{{ object.get_absolute_domain_short_url }}" data-toggle="tooltip" title="{% trans 'Click to copy' %}" data-copied="{% trans 'URL copied' %}" class="copy-short-url-trigger">
              <i class="fa fa-copy" aria-hidden="true"></i>
              {% blocktrans %}Copy Short-URL{% endblocktrans %}
            </a>
          </div>

          <!-- share links -->
          {% block social_sharing %}
            <div>
              <a href="https://twitter.com/share?url={{ object.get_absolute_domain_short_url|urlencode }}" target="_blank" rel="noopener">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                {% trans "Tweet request" %}
              </a>
              &nbsp;<br class="d-sm-none"/>
              <a href="https://www.facebook.com/share.php?u={{ object.get_absolute_domain_short_url|urlencode }}" target="_blank" rel="noopener">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                {% blocktrans %}Share request{% endblocktrans %}
              </a>
            </div>
          {% endblock %}
        </li>
      {% endif %}

      <!-- rss/download links -->
      <li class="info-box__list-item">
        <div class="d-flex justify-content-between">
          <a href="{% url 'foirequest-feed' slug=object.slug %}">
            <i class="fa fa-rss" aria-hidden="true"></i>
            {% trans "RSS Feed" %}
          </a>
          {% if object|can_read_foirequest_authenticated:request %}
            <div class="dropdown">
              <button id="downloadActions" type="button" class="btn btn-link mt-n2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans 'Download' %}
              </button>
              <div class="dropdown-menu alpha-dropdown-menu" aria-labelledby="downloadActions">
                <a class="dropdown-item" href="{% url 'foirequest-download' slug=object.slug %}">
                  {% trans "Download as ZIP" %}
                </a>
                <a class="dropdown-item" href="{% url 'foirequest-pdf' slug=object.slug %}">
                  {% trans "Download as PDF" %}
                </a>
              </div>
            </div>
          {% endif %}
        </div>

      </li>

    </ul>


    {# edit interface #}
    {% if object|can_write_foirequest:request %}
    <div class="info-box__edit-panel px-4 mt-2 mb-4 {% if active_tab != 'set-status' %}d-none{% endif %}">
      <form class="form-horizontal disable-submit" method="post" action="{% url 'foirequest-set_status' slug=object.slug %}#set-status">
        {% csrf_token %}
        {% if status_form %}
          {% include "foirequest/alpha/header/_set_status.html" %}
        {% else %}
          {% with status_form=object.get_status_form %}
            {% include "foirequest/alpha/header/_set_status.html" %}
          {% endwith %}
        {% endif %}
        <button class="btn btn-primary" type="submit">{% blocktrans %}Set status{% endblocktrans %}</button>
      </form>
    </div>
    {% endif %}
  </div>



</div>