{% extends "document/base.html" %}

{% load i18n %}
{% load static %}
{% load markup %}

{% block body %}
<div class="container mt-3 mb-5">
    <h2>{{ object.title }}</h2>
    {% if object.description %}
      <p>
         {{ object.description|markdown }} 
      </p>
    {% endif %}
    {% if object.foirequest %}
    <p>
        {% blocktrans with title=object.foirequest.title request_url=object.foirequest.get_absolute_url %}
        This document is part of the request ”<a href="{{ request_url }}">{{ title }}</a>”.
        {% endblocktrans %}
    </p>
    {% endif %}
</div>

<div class="container-sm-full">
  <iframe src="{% static 'document/viewer/web/viewer.html' %}?file={{ object.get_file_url | urlencode }}" frameborder="0" style="width: 100%; height: 90vh; border: 0;"></iframe>
</div>

<div class="container mb-5">
  <div class="text-right">
      <small>
          {# expose direct links through redirects in case they get copied #}
          <a href="{{ object.get_file_url }}">
              {% trans "Download original" %}
          </a>
      </small>
  </div>
</div>
{% endblock %}
