{% extends "filingcabinet/document_detail.html" %}

{% load i18n %}
{% load static %}
{% load markup %}

{% block document_top %}
<div class="container mt-3 mb-5">
    <h2>{{ object.title }}</h2>
    {% if not object.public %}
      <span class="badge badge-secondary">{% trans "private" %}</span>
    {% endif %}
    {% if object.description %}
      <p>
         {{ object.description|markdown }} 
      </p>
    {% endif %}
    {% if object.foirequest %}
    <p>
        {% blocktrans with title=object.foirequest.title request_url=object.foirequest.get_absolute_url %}
        This document is part of the request ”<a href="{{ request_url }}">{{ title }}</a>”.
        {% endblocktrans %}
    </p>
    {% endif %}
</div>
{% endblock document_top %}
