{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load block_helper %}
{% load form_helper %}

{% block navbar %}
  {% include "header_reduced.html" %}
{% endblock %}


{% block app_body %}
<h3>
{% blocktrans %}Upload documents{% endblocktrans %}
</h3>

<p class="lead">
  {% trans "You can upload large PDF documents here." %}
</p>

<form action="" method="post">
  {% csrf_token %}
  {% render_form form %}
  <file-uploader :config="{{ config }}" class="document-upload mb-3 mt-3"></file-uploader>
  <div class="mt-3">
    <button type="submit" class="btn btn-lg btn-primary">
      {% trans "Create documents" %}
    </button>
  </div>
</form>

{% endblock %}


{% block scripts %}
  {{ block.super }}
  {% addtoblock "js" %}
    <script src="{% static 'js/common.js' %}" defer></script>
  {% endaddtoblock %}
  {% addtoblock "js" %}<script async src="{% static 'js/document.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'css/common.css' %}"/>{% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'css/document.css' %}"/>{% endaddtoblock %}
{% endblock %}
