{% load i18n %}
{% load foirequest_tags %}
{% load form_helper %}

<form class="disable-submit" method="post" action="{% url 'foirequest-send_message' slug=object.slug %}#write-message" enctype="multipart/form-data">
  {% csrf_token %}
  <h4>{% blocktrans %}Send message to public body{% endblocktrans %}</h4>
  {% if object.is_overdue %}
    <p>{% blocktrans %}Your request is <b>overdue</b>. You should send a reminder to the Public Body!{% endblocktrans %}</p>
  {% else %}
    {% if object.reply_received %}
      <p>
        {% blocktrans %}
        You can reply to the public body here.
        {% endblocktrans %}
      </p>
    {% else %}
      <p>
        {% blocktrans %}
        Here you can send another message to this public body.
        {% endblocktrans %}
      </p>
    {% endif %}
  {% endif %}
  {% block send_message_form_pre %}{% endblock %}
  {% if send_message_form %}
    {% render_form send_message_form horizontal=False %}
  {% else %}
    {% with send_message_form=object.get_send_message_form %}
      {% render_form send_message_form horizontal=False %}
    {% endwith %}
  {% endif %}
  <button class="btn btn-primary" type="submit">{% blocktrans %}Send Message{% endblocktrans %}</button>
  <p class="form-text text-body-secondary">
    <small>
      {% trans "If you need to provide an alternative email address, use this one:" %}<br/>
      <strong>{% alternative_address object %}</strong>
      <br/>
      {% trans "It will still go to your request here." %}
    </small>
  </p>
</form>
