.breadcrumb-container {
  background-color: $gray-100;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: $spacer * .5 0;
  background-color: inherit;
  overflow: hidden;
  margin: 0;
  &-item {
    margin-right: $spacer * .5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &, > * {
      color: $gray-500;
      font-size: small;
      white-space: nowrap;
      @include media-breakpoint-up(lg) {
        font-size: $font-size-sm;
      }
    }
    &:last-child {
      margin-right: none;
      > * { color: $blue-800; }
    }
  }
  &-item + &-item {
    padding-left: 0;
  } 
}