.btn {
  white-space: normal;
  cursor: pointer;
}
.btn .on-hover {
    display: none;
}

.btn:hover .on-hover {
    display: inline;
}

.btn:hover .on-display {
    display: none;
}

.hover-btn-success {
  @extend .btn-outline-success;
  background-color: #fff;
}

.hover-btn-success:hover {
  @extend .btn-success;
}

.hover-btn-danger {
  @extend .btn-outline-secondary;
}

.btn.hover-btn-danger:hover {
  @extend .btn-danger;
}

.btn-warning-blink {
  @extend .btn-warning;
  animation: warning-blink 1s ease-in-out infinite;
}
.btn-warning-blink:hover {
  animation: none;
}

@keyframes warning-blink {
  0% {
    background-color: $warning;
  }
  50% {
    background-color: lighten($warning, 25%);
  }
}