.btn {
  white-space: normal;
  cursor: pointer;
}
.btn .on-hover {
  display: none;
}

.btn:hover .on-hover {
  display: inline;
}

.btn:hover .on-display {
    display: none;
}

@include media-breakpoint-up(md) {
  .btn .hover-detail {
    display: none;
  }

  .btn:hover .hover-detail {
    display: inline-block;
  }
}

.hover-btn-success {
  @extend .btn-outline-success;
  background-color: #fff;
}

.hover-btn-success:hover {
  @extend .btn-success;
}

.hover-btn-danger {
  @extend .btn-outline-secondary;
}

.btn.hover-btn-danger:hover {
  @extend .btn-danger;
}

.btn-warning-blink {
  @extend .btn-warning;
  animation: warning-blink 1s ease-in-out infinite;
}
.btn-warning-blink:hover {
  animation: none;
}

@keyframes warning-blink {
  0% {
    background-color: $warning;
  }
  50% {
    background-color: lighten($warning, 25%);
  }
}

.btn-group-forms {
  position: relative;
  display: inline-flex;
  vertical-align: middle; // match .btn alignment given font-size hack above

  .btn {
    position: relative;
    flex: 1 1 auto;

    // Bring the hover, focused, and "active" buttons to the front to overlay
    // the borders properly
    @include hover {
      z-index: 1;
    }
    &:focus,
    &:active,
    &.active {
      z-index: 1;
    }
  }
}

.btn-group-forms {
  // Prevent double borders when buttons are next to each other
  > .btn:not(:first-child),
  > form:not(:first-child) > .btn {
    margin-left: -$btn-border-width;
  }

  // Reset rounded corners
  > .btn:not(:last-child):not(.dropdown-toggle),
  > form:not(:last-child) > .btn {
    @include border-right-radius(0);
  }

  > .btn:not(:first-child),
  > form:not(:first-child) > .btn {
    @include border-left-radius(0);
  }
}
