.btn .on-hover {
  display: none;
}

.btn:hover .on-hover {
  display: inline;
}

.btn:hover .on-display {
  display: none;
}

.hover-btn-success {
  @include button-outline-variant(map-get($theme-colors, 'success'));
  background-color: var(--#{$prefix}body-bg);
}

.hover-btn-success:hover {
  @include button-variant(
    map-get($theme-colors, 'success'),
    map-get($theme-colors, 'success')
  );
}

.hover-btn-danger {
  @include button-outline-variant(map-get($theme-colors, 'secondary'));
}

.btn.hover-btn-danger:hover {
  @include button-variant(
    map-get($theme-colors, 'danger'),
    map-get($theme-colors, 'danger')
  );
}

.btn-outline-redact {
  @include button-outline-variant(map-get($theme-colors, 'dark'));
  border-color: var(--#{$prefix}body-color);
  color: var(--#{$prefix}body-color);
}

.action-link {
  font-weight: 500;
  transition: font-weight 0.3s ease;

  &:hover {
    text-decoration: none;
    font-weight: 600;
  }
}

a,
.btn,
.action-link {
  &.arrow::before {
    content: '→ ';
  }

  &.arrow-end::after {
    content: ' →';
  }
}
