
.comments-container {
    margin: 0.5em 0 0;
}

.comments-container > a {
    font-size:0.9em;
}

.comments-list {
    margin-left: 1em;
}

.comments-list p {
    margin-bottom: 0.5em;
}

.comments-list dt {
    font-weight: normal;
    color: #999;
    font-size: 0.8em;
}

.moderator {
    background-color: #C4FFD6;
}
