$footer-color: $gray-400;
$footer-color-hover: $gray-100;

.footer {
  padding-top: $spacer;

  background-color: $gray-900;
  color: $footer-color;

  .container {
    padding-top: $spacer;
  }

  h6 {
    color: $gray-100;
    margin-bottom: $spacer * 0.5;
    margin-top: $spacer;
  }
}

.footer__credits {
  a {
    color: $footer-color;
  }
  a:hover {
    color: $footer-color-hover;
  }
}

.footer__networks {
  @extend .list-unstyled;
  font-size: $font-size-lg;

  li {
    display: inline-block;
    width: 2rem;
    text-align: center;
  }
  a {
    color: $footer-color;
  }
  a:hover {
    color: $footer-color-hover;
    text-decoration: none;
  }
}


.footer__menu {
  @extend .list-unstyled;

  li {
    font-size: $font-size-sm;
    padding: $spacer*0.5 0 0;

    a {
      color: $footer-color;
    }
    a:hover {
      color: $footer-color-hover;
    }

    @keyframes highlight_pulse {
      0% {
        transform: scale(1, 1);
      }

      50% {
        transform: scale(1.1, 1.1);
      }

      100% {
        transform: scale(1, 1);
      }
    }

    .footer__highlight {
      display: block;
      transform-origin: left bottom;
      animation: 3s linear 0s highlight_pulse;
      animation-iteration-count: infinite;
    }
    .footer__highlight:hover {
      animation: none;
    }
  }
}
