.help-block {
  @extend .small;
  @extend .text-body-secondary;
}

.field-required {
  &::after {
    content: '*';
    color: var(--#{$prefix}danger);
  }
}

.no-required-asterisk {
  .field-required {
    &::after {
      content: '';
    }
  }
}
