
.rss-icon {
    background-repeat: no-repeat;
    background-position:0 3px;
    padding-left: 20px;
    background-image: url('~img/rss-icon.png');
}

.atom-icon {
    background-repeat: no-repeat;
    background-position:0 3px;
    padding-left: 20px;
    background-image: url('~img/atom-icon.png');
}
