@import "../variables.scss";

$highlight: $yellow;

.target-primary:target {
  @extend .border-success;
}

.small {
    color: #666;
    font-size:0.8em;
}

.small a {
    text-decoration: none;
    color: #666;
}

.small a:hover {
    text-decoration: underline;
    color: #666;
}


.highlight {
    background: $highlight;
}

.top-buffer {
    margin-top:20px;
}


.time-small {
    color: #666;
    font-size:0.8em;
}

[v-cloak] {
  display: none;
}

.hidden-text {
  display: none;
}

.text-unlink {
  cursor: default;
  color: #333;
  &:hover {
    text-decoration: none;
    color: #333;
  }
}

input.copy-text {
  cursor: pointer;
  background-color: #fff;
}

.select2-container {
  min-width: 100px;
}

.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
}

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.aspect-ratio-16x9 {
  padding-bottom: 56.25%;
}

.aspect-ratio-4x3 {
  padding-bottom: 75%;
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  transition: opacity .3s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

.is-new {
  animation-name: is-new-flash;
  animation-duration: 1500ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

@keyframes is-new-flash {
  0% {
      background-color: $highlight;
      opacity: 1;
  }
  100% {
      background-color: inherit;
  }
}