.target-primary:target {
  @extend .border-success;
}

.small {
    color: #666;
    font-size:0.8em;
}

.small a {
    text-decoration: none;
    color: #666;
}

.small a:hover {
    text-decoration: underline;
    color: #666;
}


.highlight {
    background: #FFFC78;
}

.top-buffer {
    margin-top:20px;
}


.time-small {
    color: #666;
    font-size:0.8em;
}

[v-cloak] {
  display: none;
}

.hidden-text {
  display: none;
}


input.copyinput {
    cursor: text;
    background-color: #fff;
}
