.nav-compact > li > a{
  padding: 2px 15px !important;
}

.nav-compact .nav-header {
  padding-top: 15px;
}

.nav-compact .nav-link.active {
  font-weight: bold;
}

.navbar-brand-name {
  display: inline-block;
  transform: translateY(11px);
  font-size: 1.5rem;
}

@include media-breakpoint-up(md) {
  #header .navbar-brand {
    transform: translateY(11px);

    .navbar-brand-name {
      font-size: 1.8rem;
    }
  }
}

.navbar-logo {
  display: inline-block;
}

@media (max-width: 400px) {
  .navbar-toggler-title {
    display: none;
  }
}

.navbar .nav > li > a:hover {
    color: #06C;
}

.navbar-secondary {
  padding-top: 0;
}

.navbar-collapse {
  flex-wrap: wrap;
}

.navbar-nav-secondary {
  &.navbar-nav .nav-link {
    color: $gray-500;
  }
}

@include media-breakpoint-up(md) {

  .navbar-nav-secondary {
    padding-bottom: $spacer;
    width: 100%;
    order: -1;
    justify-content: flex-end;

    .nav-item {
      background-color: $gray-100;
      margin-left: $spacer * 0.25;

      &.special-nav-secondary-item {
        border-radius: 0px;
        background: theme-color("danger");
        font-weight: bold;
        .nav-link {
          color: $white !important;
        }
      }

      .nav-link {
        padding: $spacer * 0.25;
      }
    }
  }
}

.account-dropdown-link {
  padding: 0 !important;
  margin: 8px 0;
  background-color: transparent !important;

  .account-name {
      float: left;
      font-size: 60%;
      margin: 2px 0 0 5px;
      line-height: 110%;
  }
}

@include media-breakpoint-down(sm) {
  .account-dropdown-link {
    display: none;
  }

  .account-dropdown .dropdown-menu {
    border: 0;
    display: block;
  }

  .dropdown-item {
    padding: 0.25rem 0;
  }

}
