
.icon {
    display: block;
    width: 60px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;

    &.--has-fee::after {
      content: '';
      background-image: url('~froide/froide/static/img/status/icon-fee.svg');
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      bottom: -0.6rem;
      right: 0;
    }
}

.small-icon {
    background-repeat: no-repeat;
    background-position: 0 3px;
    padding-left: 20px;
    margin-right: 0.5rem;
}

.status-successful {
    background-image: url('~froide/froide/static/img/status/icon-successful.svg')
}
.status-partially_successful {
    background-image: url('~froide/froide/static/img/status/icon-partially_successful.svg')
}
.status-refused {
    background-image: url('~froide/froide/static/img/status/icon-refused.svg')
}
.status-user_withdrew {
    background-image: url('~froide/froide/static/img/status/icon-user_withdrew.svg')
}
// .status-user_withdrew_costs {
//     background-image: url('~froide/froide/static/img/status/icon-user_withdrew_costs.svg')
// }
// .status-publicbody_needed {
//     background-image: url('~froide/froide/static/img/status/icon-publicbody_needed.svg')
// }
.status-awaiting_response {
    background-image: url('~froide/froide/static/img/status/icon-awaiting_response.svg')
}
.status-overdue {
    background-image: url('~froide/froide/static/img/status/icon-overdue.svg')
}
.status-asleep {
    background-image: url('~froide/froide/static/img/status/icon-asleep.svg')
}
.status-not_held {
    background-image: url('~froide/froide/static/img/status/icon-not_held.svg')
}
.status-has_fee {
    background-image: url('~froide/froide/static/img/status/icon-has_fee.svg')
}

.status-awaiting_classification {
    background-image: url('~froide/froide/static/img/status/icon-awaiting_classification.svg')
}

.js .status-section {
    display:none;
}
