
.tag-list {
    list-style-type: none;
    padding: 0;
}

.tag-list li {
    display: inline;
}

.tag-list li a {
    font-size: 0.8em;
   text-decoration: none;
}

.tag-list li a:hover {
   text-decoration: underline;
}


ul.tagit {
    width: 100% !important;
}

.tagit-form {
    font-size: 80%;
}
