body {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

h1, h2, h3, h4, h5, h6 {
  &:not(:first-child) {
    margin-top: ($spacer * 1.5);
  }
}
