{% load i18n %}
{% load foirequest_tags %}
{% load content_helper %}

<div class="alpha-attachment d-flex flex-grow-0 rounded bg-gray-100 p-2 mr-2 mb-2">
  <!-- maybe wrap attachment with <a>-tag -->  
  
  <div class="alpha-attachment__file-icon {% if not attachment.approved %}alpha-attachment__file-icon--gray{% else %}alpha-attachment__file-icon--blue{% endif %} flex-shrink-0 rounded mr-2 d-flex align-items-center justify-content-center">
    <i class="fa {{ attachment|fontawesome_filetype_icon }}" aria-hidden="true"></i>
  </div>

  <div class="">
    <!-- filename -->
    <div class="text-nowrap smaller" title="{{ attachment.name }}">
      <strong>
        {% if object|can_write_foirequest:request and attachment.allow_link %}
          <a id="{{ attachment.get_html_id }}" class="text-body" href="{{ attachment.get_absolute_url }}">
            {{ attachment.name|truncatefilename }}
          </a>
        {% else %}
          {{ attachment.name|truncatefilename }}
        {% endif %}
      </strong>
    </div>

    <!-- attachments badges -->
    <div class="d-flex">
      {% if attachment.approved or attachment.redacted %}

        <!-- approved or redacted badges-->

        {% if attachment.redacted %}
          <span class="mr-1 badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{% blocktrans %}This attachment contains personally identifying information and cannot be published.{% endblocktrans %}">
            {% blocktrans %}protected original{% endblocktrans %}
          </span>
        {% endif %}
        {% if attachment.converted and not attachment.approved %}
          <span class="mr-1 badge badge-secondary" data-toggle="tooltip" data-placement="top" title="{% blocktrans %}This attachment has been converted to PDF and cannot be published.{% endblocktrans %}">
            {% blocktrans %}protected original{% endblocktrans %}
          </span>
        {% endif %}
        {% if attachment.approved %}
          {% if object.public %}
            <span class="mr-1 badge badge-success">
              {% blocktrans %}public{% endblocktrans %}
            </span>
          {% else %}
            <span class="mr-1 badge badge-info">
              {% blocktrans %}visible to you{% endblocktrans %}
            </span>
          {% endif %}
          {% if attachment.is_mail_decoration %}
            <span data-toggle="tooltip" data-html="true" title="<h6>{{ attachment.name }}</h6> <img src='{{ attachment.get_authorized_absolute_domain_file_url }}' alt='{{ attachment.name }}'/>">
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            </span>
          {% endif %}
        {% endif %}
        {% if attachment.is_redacted %}
          <span class="mr-1 badge badge-dark">
            {% blocktrans %}redacted{% endblocktrans %}
          </span>
        {% endif %}

      {% else %}

        <!-- unapproved badges-->

        {% if attachment.pending %}
          <span class="mr-1 badge badge-info">
            {% blocktrans %}PDF Pending{% endblocktrans %}
          </span>
        {% endif %}
        <span class="mr-1 badge badge-warning">
          {% blocktrans %}Not public!{% endblocktrans %}
        </span>
        {% if attachment.is_mail_decoration and object|can_write_foirequest:request %}
          <span data-toggle="tooltip" data-html="true" title="<h6>{{ attachment.name }}</h6> <img src='{{ attachment.get_authorized_absolute_domain_file_url }}' alt='{{ attachment.name }}'/>">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
          </span>
        {% endif %}

      {% endif %}
    </div>
    <!-- attachment badges end -->

    <!-- filesize -->
    <div class="text-gray-600 small">{{ attachment.size|filesizeformat }}</div>

  </div>

</div>