{% load i18n %}
{% load foirequest_tags %}

{% block before_attachments %}{% endblock %}

{% if message.all_attachments %}
  <div class="mb-3">

    <!-- approved attachments -->
    {% if message.approved_attachments %}
      {% if object|can_write_foirequest:request %}
        <div class="font-weight-bold smaller mb-2 text-gray-600">{% trans 'Approved attachments' %}:</div>
      {% endif %}
      {% include "foirequest/alpha/body/message/attachments/list.html" with attachment_list=message.approved_attachments %}
    {% endif %}

    <!-- unapproved attachments -->
    {% if message.unapproved_attachments %}
      <div class="font-weight-bold smaller mb-2 text-gray-600">{% trans 'Unapproved attachments' %}:</div>
      {% include "foirequest/alpha/body/message/attachments/list.html" with attachment_list=message.unapproved_attachments %}
    {% endif %}

    {% if message.hidden_attachments %}
      <!-- irrelevant attachments -->
      <div id="{{ message.get_html_id }}-decoattachments" class="collapse">
        {% include "foirequest/alpha/body/message/attachments/list.html" with attachment_list=message.hidden_attachments %}
      </div>
    {% endif %}

    <!-- attachments footer -->
    {% if object|can_write_foirequest:request or message.hidden_attachments %}

      <hr class="mt-2">

      <div class="d-flex flex-column flex-sm-row smaller">
        {% if object|can_write_foirequest:request %}
          {% comment %}
            TODO: check if at least one attachment can be edited
          {% endcomment %}
          <!-- manage attachments link -->
          <a
            href="{% url 'foirequest-manage_attachments' slug=object.slug message_id=message.pk %}"
            class="mb-2 mb-sm-0"
          >
            <i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Manage attachments" %}
          </a>
        {% endif %}

        {% if message.hidden_attachments %}
          <!-- irrelevant attachments -->
          <a
            data-toggle="collapse"
            href="#{{ message.get_html_id }}-decoattachments"
            role="button" aria-expanded="false"
            aria-controls="{{ message.get_html_id }}-decoattachments"
            class="ml-sm-3"
          >
            <i class="fa fa-eye-slash" aria-hidden="true"></i> {% trans "Show irrelevant attachments" %}
          </a>
        {% endif %}
      </div>

      <hr>

    {% endif %}

  </div>
{% endif %}

{% block after_attachments %}{% endblock %}