{% load i18n %}

{% block before_attachments %}{% endblock %}

{% if message.all_attachments %}
  <div class="mb-3">

    {% for attachment in message.listed_attachments %}
      {% if attachment not in message.hidden_attachments %}
        {% include "foirequest/alpha/body/message/attachments/attachment.html" %}
      {% endif %}
    {% endfor %}

    {% if message.hidden_attachments %}
      <a data-toggle="collapse" href="#{{ message.get_html_id }}-decoattachments" role="button" aria-expanded="false" aria-controls="{{ message.get_html_id }}-decoattachments" class="smaller">
        {% trans "Show irrelevant attachments" %}
      </a>
      <div id="{{ message.get_html_id }}-decoattachments" class="collapse">
      {% for attachment in message.hidden_attachments %}
        {% include "foirequest/alpha/body/message/attachments/attachment.html" %}
      {% endfor %}
      </div>
    {% endif %}
    
  </div>
{% endif %}

{% block after_attachments %}{% endblock %}