{% load i18n %}
{% load foirequest_tags %}

{% block before_attachments %}{% endblock %}

{% if message.all_attachments %}
  <div class="mb-3">

    <!-- approved attachments -->
    {% if message.approved_attachments %}
      <div clasS="font-weight-bold smaller mb-2 text-gray-600">{% trans 'Approved attachments:' %}</div>
      <div class="d-flex flex-wrap mb-2">
        {% for attachment in message.approved_attachments %}
          {% include "foirequest/alpha/body/message/attachments/attachment.html" %}
        {% endfor %}
      </div>
    {% endif %}
    
    <!-- unapproved attachments -->
    {% if message.unapproved_attachments %}
      <div clasS="font-weight-bold smaller mb-2 text-gray-600">{% trans 'Unapproved attachments:' %}</div>
      <div class="d-flex flex-wrap mb-2">
        {% for attachment in message.unapproved_attachments %}
          {% include "foirequest/alpha/body/message/attachments/attachment.html" %}
        {% endfor %}
      </div>
    {% endif %}

    {% if message.hidden_attachments %}
      <!-- irrelevant attachments -->
      <div id="{{ message.get_html_id }}-decoattachments" class="collapse">
        <div class="d-flex flex-wrap mb-2">
          {% for attachment in message.hidden_attachments %}
            {% include "foirequest/alpha/body/message/attachments/attachment.html" %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <hr class="mt-2">
      
    {% if object|can_write_foirequest:request %}
      {% comment %}
        TODO: check if at least one attachment can be edited
      {% endcomment %}
      <!-- manage attachments link -->
      <a href="{% url 'foirequest-upload_attachments' slug=object.slug message_id=message.pk %}#attachment-{{ attachment.id }}" class="smaller">
        <i class="fa fa-pencil" aria-hidden="true"></i> {% trans "Manage attachments" %}
      </a>
    {% endif %}
      
    {% if message.hidden_attachments %}
      <!-- irrelevant attachments -->
      <a data-toggle="collapse" href="#{{ message.get_html_id }}-decoattachments" role="button" aria-expanded="false" aria-controls="{{ message.get_html_id }}-decoattachments" class="smaller ml-2">
        <i class="fa fa-eye-slash" aria-hidden="true"></i> {% trans "Show irrelevant attachments" %}
      </a>
    {% endif %}
    
    <hr>
    
  </div>
{% endif %}

{% block after_attachments %}{% endblock %}