{% load comments i18n %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      {{ field }}
    {% endif %}
    {% endfor %}
    {% if form.comment.errors %}{{ form.comment.errors }}{% endif %}
    <p{% if form.comment.errors %} class="error"{% endif %}>
      {{ form.comment.label_tag }} {{ form.comment }}
    </p>
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
  </p>
</form>

