{% extends "admin/change_form.html" %}
{% load i18n %}
{% block object-tools-items %}
  {% url 'admin:foirequest_foirequest_changelist' as req_urls %}
  {% if req_urls %}
    <li>
      <a href="{{ req_urls }}?user={{ original.pk }}">
        {% trans "This users requests" %}
      </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {{ block.super }}
  {% if original.pk and not original.is_superuser and perms.account.change_user %}
    <form method="post" action="{% url 'admin:admin-account_user-become_user' pk=original.pk %}">
      {% csrf_token %}
      <button type="submit" style="text-align:left">
        {% blocktrans %}Become user{% endblocktrans %}
      </button>
    </form>
  {% endif %}
{% endblock %}
