.object-action-row {
    padding: 12px 14px 12px;
    margin: 0 0 20px;
    background: var(--darkened-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: baseline;
}
.object-action-row input, .object-action-row select {
    height: 2.1875rem;
    line-height: 0.9375rem;
}
