{% load i18n %}

<h4>
  {% blocktrans %}Important Notes:{% endblocktrans %}
</h4>
<ul>
  <li>
    {% blocktrans %}Write your request in <strong>simple, precise language</strong>.{% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}Ask for <strong>specific</strong> documents or information.{% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}Keep it <strong>focused and concise</strong>.{% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}This site is <strong>public</strong>. Everything you type and any response will be published.{% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}Do <strong>not include</strong> personal information in your request.{% endblocktrans %}
  </li>
  <li>
    {% blocktrans %}Do <strong>not ask</strong> for personal information.{% endblocktrans %}
  </li>
</ul>
