{% load i18n %}
<div class="iconed-item clearfix">
  <div class="iconed-icon">
    <img src="{{ STATIC_URL }}img/topics/{{ object.topic_slug }}.png" alt="{{ object.topic_auto }}" title="{{ object.topic_auto }}"/>
  </div>
  <div class="iconed-description">
    <a href="{% if object.get_absolute_url %}{{ object.get_absolute_url }}{% else %}{{ object.url }}{% endif %}">
      <h4>{{ object.name }}</h4>
    </a>
    {% if object.jurisdiction.name %}
      {{ object.jurisdiction.name }}
    {% else %}
      {{ object.jurisdiction }}
    {% endif %}
  </div>
</div>