{% load i18n %}
{% load form_helper %}
{% load permission_helper %}

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Field" %}</th>
      <th>{% trans "Value" %}</th>
      {% for key, proposal in proposals.items %}
        <th>
          <span title="{{ proposal.timestamp }}">
            {% if request.user.is_staff and request.user|has_perm:"account.view_user" %}
              {{ proposal.user.get_full_name }} ({{ proposal.user.email }})
            {% else %}
              {{ proposal.timestamp | date:"SHORT_DATETIME" }}
            {% endif %}
          </span>
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if proposals %}
    <tr>
      <td>
        {% trans "Proposal" %}
      </td>
      <td>
        <div class="form-check">
          <input class="form-check-input proposal" type="radio" id="proposal_id" name="proposal_id" value="" required>
          <label class="form-label" for="proposal_id">
            {% trans "Change, without accepting" %}
          </label>
        </div>
      </td>
      {% for key, proposal in proposals.items %}
        <td>
          <div class="form-check">
            <input class="form-check-input proposal" type="radio" name="proposal_id" id="proposal_id-{{ key }}" value="{{ key }}" required>
            <label class="form-check-label" for="proposal_id-{{ key }}">
                {% trans "Accept this proposal" %}
            </label>
          </div>
        </td>
      {% endfor %}
    </tr>
    {% endif %}
    {% for field in form %}
      <tr>
        <td>{{ field.label }}</td>
        <td data-proposal="" data-value="{{ field.value }}" data-field="{{ field.name }}">
          {{ field }}
        </td>
        {% for key, proposal in proposals.items %}
          {% with val=proposal.data|get_item_by_key:field.name %}
          <td data-proposal="{{ key }}" data-value="{{ val }}" data-field="{{ field.name }}" {% if val != field.value %} style="color:red"{% endif %}>
            {% with label_name=field.name|add:"_label" %}
              {% if proposal.data|get_item_by_key:label_name %}
                {{ proposal.data|get_item_by_key:label_name }}
              {% else %}
                {{ val|linebreaksbr }}
              {% endif %}
            {% endwith %}
          </td>
          {% endwith %}
        {% endfor %}
      </tr>
      {{ form.field }}
    {% endfor %}

    {% if proposals %}
    <tr>
      <td>
        {% trans "Delete proposal" %}
      </td>
      <td></td>
      {% for key, proposal in proposals.items %}
        <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="proposal_delete" id="proposal_delete-{{ proposal.user.id }}" value="{{ proposal.user.id }}">
            <label class="form-check-label" for="proposal_delete-{{ proposal.user.id }}">
              {% trans "Delete" %}
            </label>
          </div>
        </td>
      {% endfor %}
    </tr>
    {% endif %}
  </tbody>

</table>
</div>
