{% load i18n %}

<form method="post" action="{% url 'foirequestfollower-follow' slug=object.slug %}" class="ajaxified" id="followrequest-form-{{ object.pk }}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if following and not follow_only %}
    <button class="input-large btn hover-btn-danger btn-block" type="submit">
      <span class="on-hover">
        <i class="fa fa-remove" aria-hidden="true"></i>
        {% trans "Unfollow request" %}
      </span>
      <span class="on-display">
        <i class="fa fa-star" aria-hidden="true"></i>
        {% trans "You follow this request" %}
      </span>
    </button>
  {% elif not following %}
    <button class="input-large btn hover-btn-success btn-block" type="submit">
      <span class="on-hover">
        <i class="fa fa-star" aria-hidden="true"></i>
        {% trans "Follow request?" %}
      </span>
      <span class="on-display">
        <i class="fa fa-star-o" aria-hidden="true"></i>
        {% trans "Follow request?" %}
      </span>
    </button>
  {% endif %}
</form>

{% if verbose %}
  <div id="followrequest-form-{{ object.pk }}-success" style="display:none">
    <p class="muted">
      <small>
        {% if following %}
          <i class="fa fa-remove"></i>
          {% blocktrans %}You will not get notified anymore.{% endblocktrans %}
        {% else %}
          <i class="fa fa-check"></i>
          {% trans "You will receive notifications!" %}
        {% endif %}
      </small>
    </p>
  </div>
  <p class="form-text text-muted">
    <small>
      {% blocktrans %}Get notified by email of changes.{% endblocktrans %}
    </small>
  </p>
{% endif %}
