{% load i18n %}
{% load follower_tags %}

{% if can_follow %}

  {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'foirequestfollower-follow' pk=object.pk %}" class="ajaxified" id="followrequest-form-{{ object.pk }}">
      {% csrf_token %}
      {% if following and not follow_only %}
        <button class="btn btn-sm btn-outline-success hover-btn-danger" type="submit">
          <span class="on-hover">
            <i class="fa fa-remove" aria-hidden="true"></i>
            {% trans "Unfollow request" %}
          </span>
          <span class="on-display">
            <i class="fa fa-bell" aria-hidden="true"></i>
            {% trans "Following request" %}
          </span>
        </button>
      {% elif not following %}
        <button class="btn btn-sm btn-outline-primary" type="submit">
          <span class="on-hover">
            <i class="fa fa-bell" aria-hidden="true"></i>
            {% trans "Follow request?" %}
          </span>
          <span class="on-display">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            {% trans "Follow request?" %}
          </span>
        </button>
      {% endif %}
      
      {% include "foirequestfollower/follow_count_badge.html" with count=object.follow_count %}

    </form>
  {% else %}
    <button id="followrequest-form-{{ object.pk }}-modal-trigger" data-toggle="modal" data-target="#followrequest-form-{{ object.pk }}-modal" class="btn btn-sm btn-outline-primary">
      <span class="on-hover">
        <i class="fa fa-bell" aria-hidden="true"></i>
        {% trans "Follow request?" %}
      </span>
      <span class="on-display">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
        {% trans "Follow request?" %}
      </span>
    </button>

    {% include "foirequestfollower/follow_count_badge.html" with count=object.follow_count %}

  {% endif %}

  {% if verbose %}
    <p>
      <small class="text-muted">
        {% blocktrans %}Get notified by email of changes.{% endblocktrans %}
      </small>
    </p>
  {% endif %}

  {% if not request.user.is_authenticated %}
    <!-- modal form -->
    <div id="followrequest-form-{{ object.pk }}-modal" class="modal fade" role="dialog" aria-labelledby="followrequest-form-{{ object.pk }}-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        {% include "foirequestfollower/_email_follow_form.html" %}
      </div>
    </div>
  {% endif %}

{% endif %}