{% load follower_tags i18n %}
<form method="post" action="{% url 'foirequestfollower-follow' slug=object.slug %}" class="ajaxified" id="followrequest-form">
  {% csrf_token %}
  {% if followform %}
    {{ followform.as_p }}
    <button type="submit" class="btn btn-default">{% trans "Follow request" %}</button>
  {% else %}
    {% followrequest object user "followform" %}
    {{ followform.as_p }}
    {% if followform.following %}
      <button class="input-large btn btn-default hover-btn-danger" type="submit">
        <span class="on-hover">
          <span class="glyphicon glyphicon-remove"></span>
          {% trans "Unfollow request" %}
        </span>
        <span class="on-display">
          <span class="glyphicon glyphicon-star"></span>
          {% trans "You follow this request" %}
        </span>
      </button>
      <p class="help-block">
        <small>
          {% blocktrans %}You get notified of changes.{% endblocktrans %}
        </small>
      </p>
    {% else %}
      <button class="input-large btn hover-btn-success" type="submit">
        <span class="on-hover">
          <span class="glyphicon glyphicon-star"></span>
          {% trans "Follow request?" %}
        </span>
        <span class="on-display">
          <span class="glyphicon glyphicon-star-empty"></span>
          {% trans "Follow request?" %}
        </span>
      </button>
      <p class="help-block">
        <small>
          {% blocktrans %}Get notified by email of changes.{% endblocktrans %}
        </small>
      </p>
    {% endif %}
  {% endif %}
</form>
<div id="followrequest-form-success" style="display:none">
  <p class="muted">
    <small>
      {% if not followform.following %}
        <span class="glyphicon glyphicon-ok"></span>
        {% trans "You will receive notifications!" %}
      {% else %}
        <span class="glyphicon glyphicon-remove"></span>
        {% blocktrans %}You will not get notified anymore.{% endblocktrans %}
      {% endif %}
    </small>
  </p>
</div>