{% extends 'base.html' %}

{% load url from future %}
{% load i18n %}

{% block title %}Hamburgisches Transparenzgesetz - {{ SITE_NAME }}{% endblock %}

{% block body %}
<div class="state-header" style="background-image: url('{{ STATIC_URL }}img/jurisdictions/{{ object.slug }}_panorama.jpg')">
  <div class="row">
    <div class="span12 state-headline">
      <h1>Hamburgisches<br/>Transparenzgesetz</h1>
      <h2>Fragen Sie Behörden nach Informationen – es ist Ihr gutes Recht.</h2>
    </div>
  </div>
  <ul class="state-points thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <h3>{% trans "Which Public Bodies?" %}</h3>
        {% url 'publicbody-show-pb_jurisdiction' slug=object.slug as pb_url %}
        <p>{% trans "All bodies that work on administrative tasks of this jurisdiction." %}</p>
        <p>{% blocktrans with pb_count=pb_count url=pb_url %}Make a request to one of <a href="{{ url }}">{{ pb_count }} Public Bodies.</a>{% endblocktrans %}</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <h3>{% trans "What Information?" %}</h3>
        <p>{% trans "Contracts, memos, reports and other documents of the administration: you have the right to know." %}</p>
        <p><a href="{% url 'foirequest-make_request' %}">{% trans "Make a request!" %}</a></p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <h3>{% trans "What right?" %}</h3>
        <p>{% blocktrans with name=object.name %}The freedom of information law in {{ name }} allows you access to administrative information. {% endblocktrans %}</p>
        <p><a href="{{ laws.0.get_absolute_url }}">{% trans "Get to know your right!" %}</a></p>
      </div>
    </li>
  </ul>
</div>

<div class="row">
  <div class="span8">
    <h4>Hamburgisches Transparenzgesetz tritt in Kraft: Initiative beantragt Offenlegung der Elbphilharmonieverträge</h4>

<p>Hamburg (5.10.2012) - Am morgigen Samstag tritt das Hamburgische Transparenzgesetz in Kraft. Das Gesetz verpflichtet die Stadt Informationen wie Senatsbeschlüsse, Verträge zur Daseinsvorsorge und Gutachten im Internet zu veröffentlichen. Das von der Volksinitiative "Transparenz schafft Vertrauen" initiierte Transparenzgesetz, das im Juni 2012 einstimmig von der Bürgerschaft beschlossen wurde, vollzieht damit den Paradigmenwechsel vom Amtsgeheimnis zur Transparenz.</p>

<p>Die erste Anwendung des Gesetzes hat es auch schon gegeben. „Wir haben heute Vormittag einen Antrag auf Einsicht in die Verträge zur Elbphilharmonie gestellt,“ so Gregor Hackmack vom Verein Mehr Demokratie und Vertrauensperson der Volksinitiative.</p>

<p>Die Stadt hat nun sechs Monate Zeit, mit dem Baukonzern Hochtief über die Veröffentlichung zu verhandeln. Viel Spielraum besteht dabei nach Ansicht von Hackmack nicht: "Das Gesetz ist eindeutig: Wenn es derartige Kostenexplosionen gibt, besteht ein öffentliches Interesse - und ein Vertrag muss veröffentlicht werden.“</p>

<p>Der eigentliche Kern des Transparenzgesetz, ein über das Internet öffentlich zugängliches Informationsregister, wird es in spätestens zwei Jahren geben. Darin muss die Stadt dann zeitnah Verträge, Gutachten, Statistiken und weitere Daten für alle Bürger kostenlos zugänglich machen. Die Umsetzung des Informationsregisters wird von einem Beirat begleitet, an dem auch die Initiative beteiligt ist. „Durch das Gesetz wird Verwaltungshandeln für die Menschen leichter nachvollziehbar,“ so Gerd Leilich von Transparency International und Vertrauensperson der Initiative. „Transparenz ist der natürliche Feind von Korruption und Misswirtschaft.“
</p>

<p>Um allen Menschen einen einfachen Zugang zu Behörden-Informationen zu ermöglichen, hat sich die Initiative erfolgreich dafür eingesetzt, dass das Portal Frag den Staat nach Hamburg kommt. „Ziel von Frag den Staat ist es, dass Anfragen leicht gestellt werden und ihre Bearbeitung transparent ist,“ so Stefan Wehrmeyer, der das unabhängige Portal betreibt.</p>

<p>Hintergrund:<br/>
Mehr Demokratie, Transparency International und der Chaos Computer Club haben 2011 die Volksinitiative Transparenz schafft Vertrauen gegründet und binnen 6 Wochen über 15.000 Unterschriften gesammelt. Das Gesetz wurde öffentlich in einem Wiki geschrieben.
Nach einer Anhörung im Justizausschuss hat die Initiative erst mit der SPD und dann mit allen Fraktionen über eine Übernahme verhandelt. Das Gesetz wurde am 13. Juni einstimmig in der Bürgerschaft verabschiedet und löst das bisher geltende Informationsfreiheitsgesetz ab.</p>

<p>Kontakt: <a href="mailto:info@transparenzgesetz.de">info@transparenzgesetz.de</a></p>

  </div>
  <div class="span4">
    <h3>Fakten zu FragDenStaat.de</h3>
    <dl>
      <dt>Online seit</dt>
      <dd>1. August 2011</dd>
      <dt>Anfragen nach dem IFG</dt>
      <dd>mehr als 2000 Anfragen</dd>
      <dt>FragDenStaat.de gibt es</dt>
      <dd>in Berlin, Brandenburg, NRW<br/>
        auf Bundesebene und jetzt auch in Hamburg</dd>
      <dt>FragDenStaat.de wird betrieben von</dt>
      <dd>der <a href="http://www.okfn.de">Open Knowledge Foundation e.V.</a></dd>
      <dt>Finanziert duch</dt>
      <dd><a href="{% url 'help-donate' %}">Spenden</a> und<br/>ehrenamtliche Arbeit</dd>
      <dt>Unterstützt von</dt>
      <dd>Transparency International, Mehr Demokratie und <a href="{% url 'help-about' %}#unterstuetzer">vielen weiteren Organisationen</a></dd>
    </dl>
  </div>
</div>
{% endblock %}
