.account-snippet,
#meta-infos .last,
.social,
.no-print,
#footer,
.foirequest-overview,
.toggle,
.warning,
.notice,
#header-content nav {
	display: none;
}

.page-break  {
	display:block;
	page-break-before:always;
}

.print-only {
	display: inline !important;
}

.print-show {
	display: block !important;
}


h2 {
	text-align: left;
}

a:link:after, a:visited:after {content: "" !important;}