body {
    background-color: #fff;
    margin:0;
    font-size:12pt;
    font-family: 'Helvetica Neue',Helvetica,arial,sans-serif;
    color: #333333;
}

.page-break  { display:none; }


.nav-compact > li > a{
    padding: 2px 15px !important;
}

.nav-compact .nav-header {
    padding-top: 15px;
}

.navbar .navbar-brand {
  height: 50px;
  background-position: 15px 10px;
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbar .navbar-brand > span {
        display:none;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .navbar .navbar-form {
        display: none;
    }
}

.navbar .nav > li > a:hover {
    color: #06C;
}

.request-well {
    background-color: white;
    border-top: 0;
}


.special-nav-item a span{
    color: #333 !important;
    padding: 0.5em;
    background: #d9edf7;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    text-shadow: none;
}

.special-nav-item a:hover span {
    color: #fff !important;
    background: #428bca;
    text-shadow: none;
}

.account-dropdown {
    padding: 0 !important;
    margin: 10px 0;
    background-color: transparent !important;
}

.account-dropdown img {
    float: left;
}

.account-dropdown .account-name {
    float: left;
    font-size: 60%;
    margin: 2px 0 0 5px;
    line-height: 110%;
}

.account-login {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 75%;
    line-height: 110% !important;
}

.inline {
    display: inline;
}


#main {
    /*padding: 10px;*/
/*    -moz-box-shadow: 0px 0px 10px #ccc;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;*/
}

#small_main {
    width:480px;
    margin: 10px auto;
    padding: 1.5em;
    /* border: 1px solid #ccc;*/
    -moz-box-shadow: 0px 0px 15px #ccc;
    -webkit-box-shadow: 0px 0px 15px #ccc;
    box-shadow: 0px 0px 15px #ccc;
}



strong {
    color: #222;
}

.heroine-unit {
  padding: 3% 3% 3% 4%;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.heroine-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.heroine-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
}

#main-folders {
    background-image: url('../img/folders.jpg');
}

#main-foirequests {
    opacity: 0.8;
}

.frontpage-teaser {
    color: #333;
}

.frontpage-teaser small {
  text-align: right;
}

.frontpage-teaser h3 {
  margin-top: 0;
}

#sample-letter {
    font-family: Georgia,serif;
    font-size: 1em;
    white-space: nowrap;
    white-space: pre-wrap;
}


.publicbody-item {
    height: 120px;
    padding-top: 20px;
    margin-top: 1em;
}

#footer {
    font-size: 80%;
    color: #666;
    margin-top: 2em;
    display: block;
}

input:focus {
    -moz-box-shadow: 0px 0px 5px #7FB0E1;
    -webkit-box-shadow: 0px 0px 5px #7FB0E1;
    box-shadow: 0px 0px 5px #7FB0E1;
}

#footer ul li {
    display:inline;
    margin-right: 2em;
}

.important-form {
    background-color: #FFE9EE;
}

.errorlist {
    margin: 0;
    color: #b94a48;
    list-style-type: none;
    padding: 15px 0 0 0;
}

.foirequest fieldset {
    margin-top: 1em;
}

.foirequest fieldset.active legend{
    display: block;
}

.foirequest legend{
    display: none;
}

.full-text-checkbox {

    padding: 5px 20px 0 0;
}

.full-text-checkbox > label {
    color: #aaa;
    font-size: 80%;
    font-weight: normal;
}

.foirequest .text {
    white-space: nowrap;
    white-space: pre-line;
    word-wrap: break-word;
}


.search-results {
    max-height: 12em;
    overflow-y: auto;
    outline: 1px solid #aaa;
}

.search-result {
    cursor: pointer;
}

.search-result:hover {
    background-color: #f5f5f5;
}

.search-result.active {
   background-color: #dff0d8;
}

.search-result > label {
    font-weight: normal;
    cursor: pointer;
}

.search-result > label > small{
    margin-left: 5px;
    color: #999;
}

.search-result > label > input {
    margin: 0 5px;
}

.search-examples > a {
    color: #777;
}

.autocomplete {
    background: #fff;
    padding: 0 5px;
    border:1px solid #999;
    cursor:default;
    text-align:left;
    max-height:250px;
    overflow:auto;
    margin: 3px 0 0;
    width: 100% !important;
}

.autocomplete div {
    padding:2px 5px;
    white-space:nowrap;
    overflow:hidden;
}
.autocomplete strong {
    color:#000;
}

.autocomplete > div.selected {
    background:#F0F0F0;
}

.hidden-text {
  display: none;
}

.show-text {
  background-color: #eee;
  padding: 0.5em 1em;
  display: block;
}

.js .js-hidden {
    display:none;
}

.js-hidden:target {
    display:block;
}

.focussed:target {
    background-color: #FFE9EE;
    border: 1px red solid;
}

.focussed:target .js-hidden {
    display:block;
}

.focussed:target .toggle {
    display:none;
}

.focussed:target .toggle-div {
    display:block !important;
}

.no-js #review-button {
    display:none;
}

#lightbox-background {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .80;
    z-index: 9999;
}
.lightbox {
    display: none;
    background: #fff;
    padding: 20px;
    border: 20px solid #fff;
    float: left;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.close-button {
    float: right;
    margin: 1em;
}

*html #lightbox-background {
    position: absolute;
}
*html .lightbox {
    position: absolute;
}

#review-text {
    white-space: nowrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Times New Roman", Times, serif;
    color: #000;
    background-color: white;
    padding: 0.25em;
    border: 1px solid #ccc;
    height: 14em;
    max-height: 10em;
    overflow: auto;
}

.rss-icon {
    background-repeat: no-repeat;
    background-position:0 3px;
    padding-left: 20px;
    background-image: url('../img/rss-icon.png');
}

.atom-icon {
    background-repeat: no-repeat;
    background-position:0 3px;
    padding-left: 20px;
    background-image: url('../img/atom-icon.png');
}

.highlight {
    background: #FFFC78;
}

.foirequest-info h2{
    margin:0;
}

.message-container {
    border-bottom: 1px solid #ddd;
    padding: 0 0 0.75em;
    margin: 0 0 0.75em;
}


.message {
    border: 2px solid #aaa;
    /* -moz-box-shadow: 0px 0px 15px #ccc;*/
    /* -webkit-box-shadow: 0px 0px 15px #ccc;*/
    /* box-shadow: 0px 0px 15px #ccc;*/
    padding:10px;
    margin: 0;
}

.message-received {
    background-color: #FFF9DC;
}

.message-postal {
    background-image: url('../img/status/gone_postal_big.png');
    background-position: 99% 5px;
    background-repeat: no-repeat;
}

.message-escalated {
    background-color: #FFE9EE;
}

.message-table {
    border-spacing: 0px;
}

.message-table td.key {
    text-align:right;
    color: #999;
    vertical-align:top;
    font-weight: bold;
    width: 10%;
}

.message-table td.key:after {
    content: ":";
}

.message-table td.value-padding-right {
    padding-right:65px;
}

.message-table tbody tr:nth-child(even) td, .message tbody tr.even td {
    background: transparent;
}

.message-table  td {
    padding: 0px 0px 2px 0.5em;
}

.message-table, .message-table td ul {
    margin-bottom: 0.4em;
}

.content-text {
    white-space: nowrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.events {
    color: #999;
    font-size: 0.8em;
    margin: 0.5em 0 0;
}

.events ol {
    margin-bottom: 0;
    list-style-type: none;
}

.event {
    color: #999;
}

.event a {
    color: #999;
    text-decoration: none;
}

.event a:hover {
    text-decoration: underline;
}

.comments-container {
    margin: 0.5em 0 0;
}

.comments-container > a {
    font-size:0.9em;
}

.js .comment-form {
    display:none;
}

.comment-form:target {
    display:block !important;
}

.comments-list {
    margin-left: 1em;
}

.comments-list p {
    margin-bottom: 0.5em;
}

.comments-list dt {
    font-weight: normal;
    color: #999;
    font-size: 0.8em;
}

.moderator {
    background-color: #C4FFD6;
}

.section {
    padding: 1em;
    margin: 0 0.5em 1em 0;
    border: 1px solid #ccc;
}

.js .status-section {
    display:none;
}

.legal-text {
    white-space: nowrap;
    white-space:pre-line;
}

.topic-list {
    list-style-type: none;
    width: 100%;
    margin:1em 0 1em;
}

.topic-list > li {
    float:left;
}

.topic-list > li div {
    padding: 1em 1em 1.2em;
    margin: 0.5em 1em;
    border-radius: 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.topic-list > li div:hover {
    background-color: #41D05F;
}

.topic-list > li h4 {
    margin: 0px;
    height: 40px;
    width: 70%;
    padding-left: 50px;
    background: transparent url('../img/arrow.png') 0px 0px no-repeat;
}

.topic-list > li a h4 {
    color: #06c;
}

.topic-list > li div:hover h4 {
    /* color:#09f;*/
    color: #fff;
    text-decoration: none !important;
}
.topic-list > li div:hover a {
    /* color:#09f;*/
    color: #fff;
    text-decoration: none !important;
}


.topic-list > li > p {
    color: #999;
}

.topic-icon {
    background-repeat: none;
    background-position: 0 0;
}

.small {
    color: #666;
    font-size:0.8em;
}

.small a {
    text-decoration: none;
    color: #666;
}

.small a:hover {
    text-decoration: underline;
    color: #666;
}

.time-small {
    color: #666;
    font-size:0.8em;
}

.tag-list {
    list-style-type: none;
    padding: 0;
}

.tag-list li {
    display: inline;
}

.tag-list li a {
    font-size: 0.8em;
   text-decoration: none;
}

.tag-list li a:hover {
   text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.icon {
    display: block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position:0 0px;
}

.small-icon {
    background-repeat: no-repeat;
    background-position:0 3px;
    padding-left: 20px;
    /*margin-bottom: 2px;*/
}

.small-icon.status-successful {
    background-image: url('../img/status/successful_small.png')
}
.small-icon.status-partially_successful {
    background-image: url('../img/status/partially_successful_small.png')
}
.small-icon.status-refused {
    background-image: url('../img/status/refused_small.png')
}
.small-icon.status-user_withdrew {
    background-image: url('../img/status/user_withdrew_small.png')
}
.small-icon.status-user_withdrew_costs {
    background-image: url('../img/status/user_withdrew_costs_small.png')
}
.small-icon.status-publicbody_needed {
    background-image: url('../img/status/publicbody_needed_small.png')
}
.small-icon.status-awaiting_response {
    background-image: url('../img/status/awaiting_response_small.png')
}
.small-icon.status-overdue {
    background-image: url('../img/status/overdue_small.png')
}
.small-icon.status-asleep {
    background-image: url('../img/status/asleep_small.png')
}
.small-icon.status-not_held {
    background-image: url('../img/status/not_held_small.png')
}
.small-icon.status-has_fee {
    background-image: url('../img/status/has_fee_small.png')
}

.icon.status-successful {
    background-image: url('../img/status/successful.png')
}
.icon.status-partially_successful {
    background-image: url('../img/status/partially_successful.png')
}
.icon.status-refused {
    background-image: url('../img/status/refused.png')
}
.icon.status-user_withdrew {
    background-image: url('../img/status/user_withdrew.png')
}
.icon.status-user_withdrew_costs {
    background-image: url('../img/status/user_withdrew_costs.png')
}
.icon.status-publicbody_needed {
    background-image: url('../img/status/publicbody_needed.png')
}
.icon.status-awaiting_response {
    background-image: url('../img/status/awaiting_response.png')
}
.icon.status-overdue {
    background-image: url('../img/status/overdue.png')
}
.icon.status-asleep {
    background-image: url('../img/status/asleep.png')
}
.icon.status-not_held {
    background-image: url('../img/status/not_held.png')
}
.icon.status-has_fee {
    background-image: url('../img/status/has_fee.png')
}

.icon.status-awaiting_classification {
    background-image: url('../img/status/awaiting_classification.png')
}

.red {
    color: red;
}

.green {
    background-color: #C4FFD6;
}

#followrequest-form p {
    margin: 0;
}

#followrequest-form label {
    font-weight: normal;
    font-size: 12pt;
}

.foldin {
/*    color: #999;
    overflow: hidden;
    max-height: 90px;
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all 5s ease;*/
}

.message-content:hover .foldin {
    /* content height should never become bigger than this */
    /*max-height: 1000px;*/
/*    color: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

.sidebar h3 {
    font-size: 1em;
    margin-top: 0;
}

.hover-visible {
    visibility: hidden;
}

.hover-parent:hover .hover-visible{
    visibility: visible;
}

.center {
    text-align: center;
}

.socialshareprivacy {
    opacity: 0.5;
}

.info .socialshareprivacy {
    opacity: 1;
}

.socialshareprivacy:hover {
    opacity: 1;
}

.banner {
    width: 998px;
    margin: 0 auto;
}

.state-header {
    background: center top no-repeat;
}

.state-header .state-headline {
    text-align: center;
}

.state-header h1 {
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0px 0px 5px #fff;
    padding-top: 0.5em;
    margin-top: 0;
}

.state-header h2 {
    font-weight: normal;
    font-size: 110%;
}

.state-headline-white {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
}

.above-panorama {
  padding-bottom: 1em;
}

.above-panorama .thumbnail {
    border-color: transparent;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
}

.message-nav.affix {
    position: static;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  /* Widen the fixed sidebar */
  .message-nav.affix,
  .message-nav.affix-bottom {
    width: 263px;
  }
  .message-nav.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 10px;
    right: 83px;
  }
  .message-nav.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .message-nav.affix-bottom,
  .message-nav.affix {
    width: 263px;
  }
}

.message-nav li a {
    padding: 5px 15px 5px !important;
}

.message-nav li.active a {
    font-weight: bold;
}

.message-nav li {
    line-height: 12px;
}

.message-nav li.nav-header {
    margin-top: 10px;
    margin-bottom: 5px;
}

input.copyinput {
    cursor: text;
    background-color: #fff;
}

.btn .on-hover {
    display: none;
}

.btn:hover .on-hover {
    display: inline;
}

.btn:hover .on-display {
    display: none;
}

.btn.hover-btn-danger:hover {
  color:#fff;background-color:#d9534f;border-color:#d43f3a
}

.btn.hover-btn-warning:hover {
  color:#fff;background-color:#f0ad4e;border-color:#eea236
}

.btn.hover-btn-success:hover {
  color:#fff;background-color:#5cb85c;border-color:#4cae4c
}

.btn-inverse {
  color: #ffffff;
  background-color: #333333;
  border-color: #cccccc;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ebebeb;
  background-color: #333333;
  border-color: #adadad;
}

.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none;
}

.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #000000;
  border-color: #cccccc;
}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-error hr {
  border-top-color: #e6c1c7;
}

.alert-error .alert-link {
  color: #953b39;
}

.top-buffer {
    margin-top:20px;
}

.pdf-canvas-container {
    position: relative;
}

.pdf-canvas-container canvas {
    outline: 1px solid #ddd;
}

.pdf-redaction {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: crosshair;
}

.control-group .controls ul {
    list-style-type: none;
}

.control-group .controls ul li input[type="radio"],
.control-group .controls ul li input[type="checkbox"] {
    margin-top: 0;
}