body {
    background-color: #fff;
    margin:0;
    font-size:12pt;
    font-family: 'Helvetica Neue',Helvetica,arial,sans-serif;
    color: #333333;
}

.page-break  { display:none; }
.print-only { display: none; }

.navbar-inner {
    background-image: none !important;
}

.navbar .brand {
    font-family: 'Kreon', arial, serif;
    background: transparent url('../img/logo.png') no-repeat 3px 10px;
    padding:0 0 0 45px;
    margin-left: 0px;
}

.navbar .brand,
.navbar .brand:hover {
    text-decoration:none;
    color: #06C;
}

.navbar .nav>li>a {
    padding: 20px 15px 20px;
}

.navbar .divider-vertical {
    height: 60px;
}

.navbar-search {
    margin-top: 15px;
}

.navbar .btn, .navbar .btn-group {
    margin-top: 16px;
}

@media (max-width: 440px) {
    .nav .first-divider {
        display: none;
    }
    .navbar .brand {
        height: 60px;
    }
    .navbar .brand h1 {
        display: none;
    }
}

@media (min-width: 979px) and (max-width: 1080px) {
    .nav .first-divider {
        display: none;
    }
    .navbar .brand {
        height: 60px;
    }
    .navbar .brand h1 {
        display: none;
    }
}

.navbar .nav > li > a:hover {
    color: #06C;
}

.request-nav {
    margin-bottom: 0;
    border-bottom: 0;
}

.request-well {
    background-color: white;
    border-top: 0;
}

.special-nav-item a span{
    margin-left: 0.4em;
    color: #333 !important;
    padding: 0.5em;
    background: rgba(0, 153, 255, 0.2);
    /* text-decoration: underline !important;*/
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    text-shadow: none;
}

.special-nav-item a:hover span {
    color: #fff !important;
    background: rgba(0, 153, 255, 1.0);
    text-shadow: none;
}

.account-snippet {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.account-snippet img {
    float: left;
    padding-right: 5px;
}

.account-snippet .account-name {
    float:left;
    font-size: 60%;
    margin: 5px 0 0;
    line-height: 110%;
}

.account-login {
    font-size: 75%;
    line-height: 110%;
    padding: 15px 15px 10px !important;
}

.inline {
    display: inline;
}


#main {
    /*padding: 10px;*/
/*    -moz-box-shadow: 0px 0px 10px #ccc;
    -webkit-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;*/
}

#small_main {
    width:480px;
    margin: 10px auto;
    padding: 1.5em;
    /* border: 1px solid #ccc;*/
    -moz-box-shadow: 0px 0px 15px #ccc;
    -webkit-box-shadow: 0px 0px 15px #ccc;
    box-shadow: 0px 0px 15px #ccc;
}

.make-request-button {
    background-color: #41D05F;
    background-image: url('../img/request.png');
    background-position: 12px 50%;
    background-repeat: no-repeat;
    padding-left: 70px !important;
}

.explore-requests-button {
    background-color: #41D05F;
    background-image: url('../img/explore.png');
    background-position: 12px 50%;
    background-repeat: no-repeat;
    padding-left: 70px !important;
}

.make-request-icon {
    background-image: url('../img/tiny_request.png');
    background-position: 0px 50%;
    background-repeat: no-repeat;
    padding-left: 18px !important;
}


strong {
    color: #222;
}

.heroine-unit {
  padding: 3% 3% 3% 4%;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.heroine-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}

.heroine-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
}

#main-folders {
    background-image: url('../img/folders.jpg');
}

#main-foirequests {
    opacity: 0.8;
}

.frontpage-teaser {
    color: #333;
}

#sample-letter {
    font-family: Georgia,serif;
    font-size: 1em;
    white-space: nowrap;
    white-space: pre-wrap;
}

.iconed-item {
    margin: 10px 0 0;
}

.iconed-item .iconed-icon {
    float: left;
}

.iconed-item .iconed-description {
    margin-left: 45px;
}

.iconed-item .iconed-description h4 {
    margin: 0;
}

.dl-foirequest {
    margin: 0;
}

.dl-foirequest dt, .dl-foirequest dd {
    margin: 0;
    display: inline;
}

.fixed-height {
    height: 40px;
}

@media (min-width: 768px) and (max-width: 1199px) {

    .fixed-height {
        height: 90px;
    }

}

#footer {
    font-size: 80%;
    color: #666;
    margin-top: 2em;
    display: block;
}

input:focus {
    -moz-box-shadow: 0px 0px 5px #7FB0E1;
    -webkit-box-shadow: 0px 0px 5px #7FB0E1;
    box-shadow: 0px 0px 5px #7FB0E1;
}

#footer ul li {
    display:inline;
    margin-right: 2em;
}

.important-form {
    background-color: #FFE9EE;

}

form.foirequest fieldset.active > div{
    background-color: #FFE9EE;
    /* outline: 1px solid #7FB0E1;*/
    /* -moz-box-shadow: 0px 0px 15px #7FB0E1;*/
    /* -webkit-box-shadow: 0px 0px 15px #7FB0E1;*/
    /* box-shadow: 0px 0px 15px #7FB0E1;*/
}

form.foirequest fieldset.active legend{
    color: #444;
}

form.foirequest legend{
    padding:0;
    color: #aaa;
    font-weight:normal;
}

form.foirequest fieldset > div, form.foirequest .letter {
    padding: 1px 20px 5px 20px;
}

.js form.foirequest div.js-hidden {
    display:none;
}

.errorlist {
    margin: 0;
    background-color: #f2dede;
    color: #b94a48;
    padding: 0.8em;
    border: 2px solid #b94a48;
    list-style-type:none;
}

form.foirequest ol {
    margin:0;
    padding-left:0px;
    list-style-type:none;
}

form.foirequest > ol > li{
    margin-bottom:2em;
}

.search-results {
    max-height: 12em;
    overflow-y: auto;
}

.public_body-chooser ul {
    list-style-type:none;
    padding:0;
    margin:0;
    border:1px solid #ccc;
}

.publicbody-search {
    margin:0.5em 0;
}

.search-public_bodies {
    width:60%;
}

.searchexamples {
    font-size: 0.8em;
}

.searchexample {

}

.autocomplete {
    background: #fff;
    padding: 0 5px; 
    border:1px solid #999;
    cursor:default; 
    text-align:left; 
    max-height:250px; 
    overflow:auto; 
    margin: 3px 0 0;
    width: 100% !important;
}

.autocomplete div {
    padding:2px 5px;
    white-space:nowrap;
    overflow:hidden;
}
.autocomplete strong {
    color:#000;
}

.autocomplete > div.selected {
    background:#F0F0F0;
}

.search-spinner {
    margin: 0 20px;
}

#new-public_body {
    width:80%;
    font-size:0.75em;
    margin-left:2em;
    padding:5px;
    border-bottom:1px solid #aaa;
    border-left:1px solid #aaa;
    border-right:1px solid #aaa;
    background-color: #ddd;
}

#new-public_body textarea {
    height:3em;
    width:auto;
}

form.foirequest div.error {
    width:40%;
}

form.foirequest div.error ul{
    margin: 0;
}

form.foirequest .lawinfo {
    display: block;
    color: #666;
    font-weight: normal;
}

form.foirequest .letter {
    background-color: white;
}

form.foirequest .letter textarea {
    margin: 0;
    font-size:14px;
    background-color: white;
    height: 80px;
    color: #333;
}

form.foirequest .text a {
    color: #999;
    font-size: 80%;
    text-decoration: none
}

form.foirequest .text {
    white-space: nowrap;
    white-space: pre-line;
    word-wrap: break-word;
    background-color: white;
    font-size:14px;
}

form.foirequest .text-like {
    background-color: white;
    font-size:14px;
}

form.foirequest .text em {
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
}

form.foirequest .text label {
    white-space: normal;
    display: block;
    margin:0;
}

form.foirequest #post_address {
    white-space: nowrap;
    white-space: pre-line;
}

.js .js-hidden {
    display:none;
}

.js-hidden:target {
    display:block;
}

.focussed:target {
    background-color: #FFE9EE;
    border: 1px red solid;
}

.focussed:target .js-hidden {
    display:block;
}

.focussed:target .toggle {
    display:none;
}

.focussed:target .toggle-div {
    display:block !important;
}

.no-js #review-button {
    display:none;
}

#step-review {
    background-color: #FFE9EE;
}

#lightbox-background {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: .80;
    z-index: 9999;
}
.lightbox {
    display: none;
    background: #fff;
    padding: 20px;
    border: 20px solid #fff;
    float: left;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.close-button {
    float: right;
    margin: 1em;
}

*html #lightbox-background {
    position: absolute;
}
*html .lightbox {
    position: absolute;
}

#review-text {
    white-space: nowrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Times New Roman", Times, serif;
    color: #000;
    background-color: white;
    padding: 0.25em;
    border: 1px solid #ccc;
    height: 14em;
    max-height: 10em;
    overflow: auto;
}

.rss-icon {
    background-repeat: no-repeat;
    background-position:0 3px;
    padding-left: 20px;
    background-image: url('../img/rss-icon.png');
}

.atom-icon {
    background-repeat: no-repeat;
    background-position:0 3px;
    padding-left: 20px;
    background-image: url('../img/atom-icon.png');
}

.highlight {
    background: #FFFC78;
}

.foirequest-info h2{
    margin:0;
}

.message-container {
    border-bottom: 1px solid #ddd;
    padding: 0 0 0.75em;
    margin: 0 0 0.75em;
}


.message {
    border: 2px solid #aaa;
    /* -moz-box-shadow: 0px 0px 15px #ccc;*/
    /* -webkit-box-shadow: 0px 0px 15px #ccc;*/
    /* box-shadow: 0px 0px 15px #ccc;*/
    padding:10px;
    margin: 0;
}

.message-received {
    background-color: #FFF9DC;
}

.message-postal {
    background-image: url('../img/status/gone_postal_big.png');
    background-position: 99% 5px;
    background-repeat: no-repeat;
}

.message-escalated {
    background-color: #FFE9EE;
}

.message-table {
    border-spacing: 0px;
}

.message-table td.key {
    text-align:right;
    color: #999;
    vertical-align:top;
    font-weight: bold;
    width: 10%;
}

.message-table td.key:after {
    content: ":";
}

.message-table td.value-padding-right {
    padding-right:65px;
}

.message-table tbody tr:nth-child(even) td, .message tbody tr.even td {
    background: transparent;
}

.message-table  td {
    padding: 0px 0px 2px 0.5em;
}

.message-table, .message-table td ul {
    margin-bottom: 0.4em;
}

.content-text {
    white-space: nowrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.events {
    color: #999;
    font-size: 0.8em;
    margin: 0.5em 0 0;
}

.events ol {
    margin-bottom: 0;
    list-style-type: none;
}

.event {
    color: #999;
}

.event a {
    color: #999;
    text-decoration: none;
}

.event a:hover {
    text-decoration: underline;
}

.comments-container {
    margin: 0.5em 0 0;
}

.comments-container > a {
    font-size:0.9em;
}

.js .comment-form {
    display:none;
}

.comment-form:target {
    display:block !important;
}

.comments-list {
    margin-left: 1em;
}

.comments-list p {
    margin-bottom: 0.5em;
}

.comments-list dt {
    font-weight: normal;
    color: #999;
    font-size: 0.8em;
}

.moderator {
    background-color: #C4FFD6;
}

.section {
    padding: 1em;
    margin: 0 0.5em 1em 0;
    border: 1px solid #ccc;
}

.js .status-section {
    display:none;
}

.legal-text {
    white-space: nowrap;
    white-space:pre-line;
}

.topic-list {
    list-style-type: none;
    width: 100%;
    margin:1em 0 1em;
}

.topic-list > li {
    float:left;
}

.topic-list > li div {
    padding: 1em 1em 1.2em;
    margin: 0.5em 1em;
    border-radius: 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.topic-list > li div:hover {
    background-color: #41D05F;
}

.topic-list > li h4 {
    margin: 0px;
    height: 40px;
    width: 70%;
    padding-left: 50px;
    background: transparent url('../img/arrow.png') 0px 0px no-repeat;
}

.topic-list > li a h4 {
    color: #06c;
}

.topic-list > li div:hover h4 {
    /* color:#09f;*/
    color: #fff;
    text-decoration: none !important;
}
.topic-list > li div:hover a {
    /* color:#09f;*/
    color: #fff;
    text-decoration: none !important;
}


.topic-list > li > p {
    color: #999;
}

.topic-icon {
    background-repeat: none;
    background-position: 0 0;
}

.small {
    color: #666;
    font-size:0.8em;
}

.small a {
    text-decoration: none;
    color: #666;
}

.small a:hover {
    text-decoration: underline;
    color: #666;
}

.time-small {
    color: #666;
    font-size:0.8em;
}

.tag-list {
    list-style-type: none;
    padding: 0;
}

.tag-list li {
    display: inline;
}

.tag-list li a {
    font-size: 0.8em;
   text-decoration: none;
}

.tag-list li a:hover {
   text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.smallicon {
    background-repeat: no-repeat;
    background-position:0 3px;
    padding-left: 20px;
    /*margin-bottom: 2px;*/
}

.red {
    color: red;
}

.green {
    background-color: #C4FFD6;
}

#followrequest-form p {
    margin: 0;
}

#followrequest-form label {
    font-weight: normal;
    font-size: 12pt;
}

.foldin {
/*    color: #999;
    overflow: hidden;
    max-height: 90px;
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all 5s ease;*/
}

.message-content:hover .foldin {
    /* content height should never become bigger than this */
    /*max-height: 1000px;*/
/*    color: #333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}

.sidebar h3 {
    font-size: 1em;
    margin-top: 0;
}

.hover-visible {
    visibility: hidden;
}

.hover-parent:hover .hover-visible{
    visibility: visible;
}

.center {
    text-align: center;
}

.socialshareprivacy {
    opacity: 0.5;
}

.info .socialshareprivacy {
    opacity: 1;
}

.socialshareprivacy:hover {
    opacity: 1;
}

.banner {
    width: 998px;
    margin: 0 auto;
}

.state-header {
    background: center top no-repeat;
    margin-bottom: 2em;
}

.state-header .state-headline {
    text-align: center;
}

.state-header h1 {
    font-size: 48px;
    font-weight: bold;
    text-shadow: 0px 0px 5px #fff;
    padding-top: 0.5em;
}

.state-header h2 {
    font-weight: normal;
    font-size: 110%;
}

.state-header .state-points {
    margin: 0 10%;
}

.state-header .state-points > li {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
}

.state-header .state-points h3 {
    margin-top: 0;
    font-size: 110%;
}

.state-header .state-points .thumbnail {
    border-color: transparent;
}

.message-nav li {
    line-height: 12px;
    margin-top: 0;
}

.message-nav li.nav-header {
    margin-top: 0;
}

input.copyinput {
    cursor: text;
    background-color: #fff;
}

.btn .on-hover {
    display: none;
}

.btn:hover .on-hover {
    display: inline;
}

.btn:hover .on-display {
    display: none;
}

.btn.hover-btn-danger:hover {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn.hover-btn-warning:hover {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn.hover-btn-success:hover {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.pdf-canvas-container {
    position: relative;
}

.pdf-canvas-container canvas {
    outline: 1px solid #ddd;
}

.pdf-redaction {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: crosshair;
}

.control-group .controls ul {
    list-style-type: none;
}

.control-group .controls ul li input[type="radio"],
.control-group .controls ul li input[type="checkbox"] {
    margin-top: 0;
}