{% load i18n %}
<form action="" method="GET" class="form-inline mt-3 mb-3">
  <div class="row">
    <div class="col-12">
      <label class="sr-only" for="id_q">{{ title }}</label>
      <div class="input-group">
        <input type="search" id="id_q" name="q" value="{% if view.query %}{{ view.query }}{% endif %}" placeholder="{% trans "Search your requests by title" %}" class="form-control"/>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-secondary">{% trans "Search" %}</button>
        </span>
      </div>
    </div>
  </div>
</form>
