{% load i18n %}
{{ output }}
<div>
<canvas id="{{ name }}-canvas" width="250" height="30"></canvas>
<script type="text/javascript">
  (function(){
    var canvas_id = "{{ name }}-canvas";
    var canvas = document.getElementById(canvas_id);
    var text = document.getElementById('id_{{ name }}');
    var phrase = text.placeholder;
    var ctx = canvas.getContext('2d');
    ctx.textBaseline = "top";
    ctx.font = "14pt Arial";
    ctx.fillStyle = "#000";
    ctx.fillText(phrase, 0, 0);
  }());
</script>
</div>