{% extends custom_base %}
{% load i18n %}
{% load floppyforms %}

{% block body %}
{% if user.is_authenticated %}
<h2>{% blocktrans %}You are now logged in.{% endblocktrans %}</h2>
{% if simple %}
  <script>
    if (window.opener && window.opener.loggedInCallback){
      window.opener.loggedInCallback({
        "email": '{{ user.email|escapejs }}',
        'name': '{{ user.first_name|escapejs }}',
        'last_name': '{{ user.last_name|escapejs }}',
        'address': '{{ user.get_profile.address|escapejs }}'
      });
    }
    window.close();
  </script>
{% endif %}
{% else %}
<div class="row">
  <div class="span6">
    <div class="well">
      <h2>{% blocktrans %}Please Log In{% endblocktrans %}</h2>
      <form class="form-horizontal" method="post" action="{% url 'account-login' %}{% if simple %}?simple{% endif %}">
        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
        {% form form using "bootstrap/horizontal.html" %}

        <button type="submit" class="btn">{% blocktrans %}Log In{% endblocktrans %}</button>
      </form>
    </div>
    <h4>{% blocktrans %}In case you forgot your password...{% endblocktrans %}</h4>
    <p>{% blocktrans %}... we can send you a reset link to your email address.{% endblocktrans %}</p>
    <form class="form-horizontal" method="post" action="{% url 'account-send_reset_password_link' %}">
      {% csrf_token %}
      {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
      {% form reset_form using "bootstrap/horizontal.html" %}
      <button type="submit" class="btn">{% blocktrans %}Send reset link{% endblocktrans %}</button>
    </form>
  </div>
{% if not simple %}
<div class="span6">
  <h3>{% blocktrans %}Don't have an account? Sign up!{% endblocktrans %}</h3>
  <form class="form-horizontal" method="post" action="{% url 'account-signup' %}">
    {% csrf_token %}
    {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
    {% form signup_form using "bootstrap/horizontal.html" %}
    <button type="submit" class="btn">{% blocktrans %}Sign Up{% endblocktrans %}</button>
  </form>
</div>
{% endif %}
</div>
{% endif %}
{% endblock %}

