{% extends custom_base %}

{% load i18n %}
{% load form_helper %}

{% block app_body %}
{% if user.is_authenticated %}
<h2>{% blocktrans %}You are now logged in.{% endblocktrans %}</h2>
{% if simple %}
  <script>
    if (window.opener && window.opener.loggedInCallback) {
      window.opener.loggedInCallback({
        'id': '{{ user.id }}',
        'email': '{{ user.email|escapejs }}',
        'first_name': '{{ user.first_name|escapejs }}',
        'last_name': '{{ user.last_name|escapejs }}',
        'address': '{{ user.address|escapejs }}',
        'private': {% if not user.private %}true{% else %}false{% endif %},
        'csrf_token': "{% csrf_token %}"
      })
    }
    window.close()
  </script>
{% endif %}
{% else %}
<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">
        {% blocktrans %}Log in{% endblocktrans %}
      </h5>
      <div class="card-body">
        <p class="visible-sm visible-xs">
          <a href="#signup">
            {% blocktrans %}Don't have an account? Click here to sign up!{% endblocktrans %}
          </a>
        </p>
        <form class="form-horizontal" method="post" action="{% url 'account-login' %}{% if simple %}?simple{% endif %}">
          {% csrf_token %}
          {% if next %}<input type="hidden" name="next" value="{{ next }}"/>{% endif %}
          {% render_form form %}
          <div class="clearfix">
            <button type="submit" class="btn btn-primary btn-lg pull-right">
              {% blocktrans %}Log In{% endblocktrans %}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="card mb-3">
      <h5 class="card-header">
        {% blocktrans %}In case you forgot your password...{% endblocktrans %}
      </h5>
      <div class="card-body">
        <p>
          {% blocktrans %}... we can send you a reset link to your email address.{% endblocktrans %}
        </p>
        <form class="form-horizontal" method="post" action="{% url 'account-send_reset_password_link' %}">
          {% csrf_token %}
          {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
          {% endif %}
          {% render_form reset_form %}
          <div class="clearfix">
            <button type="submit" class="btn btn-secondary pull-right">
              {% blocktrans %}Send reset link{% endblocktrans %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% if not simple %}
    <div class="col-lg-6 col-md-6">
      <div class="card mb-3 target-primary" id="signup">
        <h5 class="card-header">
          {% blocktrans %}Don't have an account? Sign up!{% endblocktrans %}
        </h5>
      <div class="card-body">
        <form class="form-horizontal" method="post" action="{% url 'account-signup' %}">
          {% csrf_token %}
          {% if next %}
            <input type="hidden" name="next" value="{{ next }}"/>
          {% endif %}
          {% render_form signup_form %}
          <div class="clearfix">
            <button type="submit" class="btn btn-success pull-right btn-lg">
              {% blocktrans %}Sign Up{% endblocktrans %}
            </button>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
</div>
{% endif %}
{% endblock %}
