{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}
{% load frontendbuild %}
{% block title %}
    {% trans "New account" %}
{% endblock %}
{% block navbar %}{% endblock %}
{% block app_container %}
    <div class="row mt-5 justify-content-center">
        <div class="col-6 col-md-3">
            <img src="{% static 'img/onboarding/confirm-email.svg' %}"
                 alt="{% trans 'You got mail' %}">
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-8 text-center">
            <h1>{% trans "Please confirm your email address!" %}</h1>
            {% if title %}
                <p class="lead">
                    {% blocktrans with title=title %}
            Your request “{{ title }}” will only be sent to the public body, when you confirm your email address.
          {% endblocktrans %}
                </p>
            {% endif %}
        </div>
    </div>
    <div class="row mb-5 justify-content-center">
        <div class="col-md-8">
            {% if email %}
                <ol class="lead">
                    <li>
                        {% blocktrans%}Check your emails for your account{% endblocktrans %}
                        <br />
                        <strong class="highlight">{{ email }}</strong>
                    </li>
                    <li>
                        {% blocktrans %}
            Click the <strong class="highlight">confirmation link</strong> in the email from {{ SITE_NAME }}.
          {% endblocktrans %}
                    </li>
                </ol>
            {% else %}
                <p class="lead">
                    {% trans "Please go to your email account and <strong>click the confirmation link.</strong>" %}
                </p>
            {% endif %}
            {% if title %}
                <p class="lead">{% trans "If you do not confirm your email address, we cannot send your request." %}</p>
            {% endif %}
        </div>
    </div>
    {% addfrontendbuild "makerequest_purgestorage.js" %}
{% endblock %}
