{% extends "account/show.html" %}

{% load i18n %}

{% block pre_table %}
  <div class="row">
    <div class="col-lg-8">
      {% trans "Search your draft requests" as search_title %}
      {% include "account/_account_search.html" with title=search_title %}
      <p>
        {% if view.query %}
          {% blocktrans with query=view.query count request_count=page_obj.paginator.count %}
            Your search for “{{ query }}” produced one search result.
          {% plural %}
            Your search for “{{ query }}” produced {{ request_count }} search results.
          {% endblocktrans %}
        {% else %}
          {% blocktrans count request_count=page_obj.paginator.count %}
            You have one request draft.
          {% plural %}
            You have {{ request_count }} request drafts.
          {% endblocktrans %}
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}

{% block table_head %}
  <th>{% blocktrans %}Date{% endblocktrans %}</th>
  <th>{% blocktrans %}Title{% endblocktrans %}</th>
  <th></th>
  <th></th>
{% endblock table_head %}


{% block table_row %}
<tr>
  <td>
    {{ object.save_date|date:"DATETIME_FORMAT" }}
  </td>
  <td>
    {% with pbcount=object.publicbodies.count %}
      {% if pbcount == 1 %}
        {% blocktrans with subject=object.subject name=object.publicbodies.all.0.name %}“{{ subject }}” to {{ name }}{% endblocktrans %}
      {% else %}
        {% blocktrans with subject=object.subject count count=pbcount %}“{{ subject }}” to one public body{% plural %}“{{ subject }}” to {{ count }} public bodies{% endblocktrans %}
      {% endif %}
    {% endwith %}
    {% if object.request_or_project %}
      <br/><small>
        {% blocktrans with title=object.request_or_project.title url=object.request_or_project.get_absolute_url %}
          last used for <a href="{{ url }}">
            {{ title }}
          </a>
        {% endblocktrans %}
      </small>
    {% endif %}
  </td>
  <td>
    <a href="{{ object.get_absolute_url }}" class="btn btn-primary">
      <i class="fa fa-edit" aria-hidden="true"></i>
      {% blocktrans %}Edit{% endblocktrans %}
    </a>
  </td>
  <td>
    <form action="{% url 'foirequest-delete_draft' %}" method="post">
      {% csrf_token %}
      <input type="hidden" value="{{ object.pk }}" name="draft_id"/>
      <button type="submit" class="btn btn-danger">
        <i class="fa fa-remove"></i>
        {% trans "Delete" %}
      </button>
    </form>
  </td>
</tr>
{% endblock %}
