{% extends 'base.html' %}
{% load i18n %}
{% load markup %}

{% block body %}
<div class="row">
  <div class="span8">
    <h2>{% trans "Your Account" %}</h2>
  </div>
  <div class="span4">
    <a href="{% url 'account-settings' %}" class="btn pull-right">
      <i class="icon icon-wrench"></i>
      {% trans "Your account settings" %}
    </a>
  </div>
</div>

<div class="row">
  <div class="span12">
    {% if own_requests %}
      <h3>
        {% blocktrans count counter=own_requests|length %}One request that needs your attention{% plural %}{{ counter }} requests that need your attention{% endblocktrans %}
      </h3>
      <ul class="unstyled">
        {% for object in own_requests %}
          <li>
            {% include "foirequest/snippets/request_item.html" %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="span12">
    <h3>
      {% trans "Your followed requests" %}
    </h3>
    {% if followed_events %}
      <p>{% trans "Recent event on your followed requests:" %}</p>
      <ul>
      {% regroup followed_events by request as event_list %}
      {% for req in event_list %}
        <li>
          <a href="{{ req.grouper.get_absolute_url }}">
            {{ req.grouper.title }}
          </a>
          <ul>
            {% for event in req.list %}
            <li>
              <span class="no-print" title="{{ event.timestamp }}">
                {% blocktrans with time=event.timestamp|timesince %}{{ time }} ago{% endblocktrans %}
              </span>
              <span class="print-only">
                  {{ event.timestamp|date:"DATETIME_FORMAT" }}
              </span>
              : {{ event.as_html }}
            </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      {% if following %}
          {% blocktrans count counter=following %}Your are following one request, but there are no recent events.{% plural %}You are following {{ counter }} requests, but there are no recent events.{% endblocktrans %}
      {% else %}
          {% trans "You don't follow any requests." %}
      {% endif %}
    {% endif %}
    <p>
      <a href="#followed-requests" class="toggle">{% trans "Show all the requests that you are following." %}</a>
    </p>
    <div id="followed-requests" style="display:none">
      <ul>
      {% for followed in followed_requests %}
        {% with object=followed.request %}
          {% include "foirequest/snippets/request_item.html" %}
        {% endwith %}
      {% empty %}
        <li>
          {% trans "You don't follow any requests. Click the follow button on a request page to follow it." %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>


{% if not user.is_active %}
  <p>{% blocktrans with email=user.email %}Your account is not active. You need to click on the link we send to your address {{ email }}.{% endblocktrans %}</p>
{% else %}
<div class="span12">
  <table class="table table-hover">
    <caption>{% blocktrans %}Your Freedom of Information Requests{% endblocktrans %}</caption>
    <thead>
      <tr>
        <th>{% blocktrans %}Title{% endblocktrans %}</th>
        <th>{% blocktrans %}Recipient{% endblocktrans %}</th>
        <th>{% blocktrans %}Status{% endblocktrans %}</th>
        <th>{% blocktrans %}Last Message{% endblocktrans %}</th>
        <th>{% blocktrans %}Public{% endblocktrans %}</th>
      </tr>
    </thead>
    <tbody>
  {% for foirequest in foirequests %}
    <tr>
      <td>
        <a href="{{ foirequest.get_absolute_url }}">{{ foirequest.title }}</a>
      </td>
      <td>
        {% if foirequest.public_body %}
        <a href="{{ foirequest.public_body.get_absolute_url }}">{{ foirequest.public_body.name }}</a>
        {% else %}
        {% blocktrans %}Not yet set{% endblocktrans %}
        {% endif %}
      </td>
      <td>
        {{ foirequest.readable_status }}
        {% if foirequest.status == "awaiting_response" %}
          {% if foirequest.due_date %}
          <br/>
          {% blocktrans with date=foirequest.due_date|date:"DATE_FORMAT" %}until {{ date }}{% endblocktrans %}
          {% endif %}
        {% endif %}
      </td>
      <td>{{ foirequest.last_message|date:"DATE_FORMAT" }}</td>
      <td>{% if foirequest.public %}{% blocktrans %}Yes{% endblocktrans %}
        {% else %}{% blocktrans %}No{% endblocktrans %}{% endif %}
      </td>
    </tr>
  {% endfor %}
    </tbody>
  </table>

</div>
{% endif %}
{% endblock %}

