{% load breadcrumb_helper %}

{% get_breadcrumbs view as breadcrumbs %}
{% if breadcrumbs != None %}
  <nav class="container-md" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
        <li class="breadcrumb-item{% if forloop.last %} active{% endif %}"
            {% if forloop.last %}aria-current="page"{% endif %}>
          {% if breadcrumb|has_link %}
            <a href="{{ breadcrumb.1 }}">{{ breadcrumb.0 }}</a>
          {% else %}
            {{ breadcrumb }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
