{% load i18n %}
{% load static %}

{# Translators: meta keywords #}
<meta name="keywords" content="{% if keywords %}{{ keywords }}{% else %}{% trans 'Freedom of Information Requests, Freedom of Information Law, Public Body Information' %}{% endif %}" />
{# Translators: meta description #}
<meta name="description" content="{% if description %}{{ description }}{% else %}{% block metadescription %}{% blocktrans with site=SITE_NAME %}{{ site }} helps you to make freedom of information requests to public bodies{% endblocktrans %}{% endblock %}{% endif %}"/>

{% block additional_meta %}
{% endblock %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/logo/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/logo/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/logo/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/logo/manifest.json' %}">
<link rel="mask-icon" href="{% static 'img/logo/safari-pinned-tab.svg' %}" color="#0069d0">
<link rel="shortcut icon" href="{% static 'img/logo/favicon.ico' %}">
<meta name="msapplication-config" content="{% static 'img/logo/browserconfig.xml' %}">
<meta name="theme-color" content="#ffffff">
