{% extends "helper/admin_base_action.html" %}

{% load i18n l10n %}
{% load form_helper %}
{% load static %}

{% block action_title %}{% trans 'Accept proposal' %}{% endblock %}

{% block breadcrumbs_action_label %}
  {% trans 'Accept proposals' %}
{% endblock %}

{% block admin_change_form_document_ready %}
  {{ block.super }}
  <script src="{% static 'js/publicbody_changes.js' %}" charset="utf-8"></script>
{% endblock %}

{% block action_content %}
<form action="" method="post">{% csrf_token %}
  <div>

    <table>
      <thead>
        <tr>
          <th>{% trans "Field" %}</th>
          <th>{% trans "Value" %}</th>
          {% for key, proposal in proposals.items %}
            <th>
              <span title="{{ proposal.timestamp }}">
                {{ proposal.user.get_full_name }} ({{ proposal.user.email }})
              </span>
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {% trans "Proposal" %}
          </td>
          <td>
            <label>
              <input type="radio" name="proposal_id" class="proposal" value="" required>
              {% trans "Change, without accepting" %}
            </label>
          </td>
          {% for key, proposal in proposals.items %}
            <td>
              <label>
                <input type="radio" name="proposal_id" class="proposal" value="{{ key }}" required>
                {% blocktrans with name=proposal.user.first_name %}Accept proposal of {{ name }}{% endblocktrans %}
              </label>
            </td>
          {% endfor %}
        </tr>
        {% for field in form %}
          <tr>
            <td>{{ field.label }}</td>
            <td data-proposal="" data-value="{{ field.value }}" data-field="{{ field.name }}">
              {{ field }}
            </td>
            {% for key, proposal in proposals.items %}
              {% with val=proposal.data|get_item_by_key:field.name %}
              <td data-proposal="{{ key }}" data-value="{{ val }}" data-field="{{ field.name }}" {% if val != field.value %} style="color:red"{% endif %}>
                {% with label_name=field.name|add:"_label" %}
                  {% if proposal.data|get_item_by_key:label_name %}
                    {{ proposal.data|get_item_by_key:label_name }}
                  {% else %}
                    {{ val|linebreaksbr }}
                  {% endif %}
                {% endwith %}
              </td>
              {% endwith %}
            {% endfor %}
          </tr>
          {{ form.field }}
        {% endfor %}

        <tr>
          <td>
            {% trans "Delete proposal" %}
          </td>
          <td></td>
          {% for key, proposal in proposals.items %}
            <td>
              <label>
                <input type="checkbox" name="proposal_delete" value="{{ proposal.user.id }}">
                {% trans "Delete" %}
              </label>
            </td>
          {% endfor %}
        </tr>
      </tbody>

    </table>

    <input type="hidden" name="action" value="accept_change_proposal" />
    <p>
      <input type="submit" value="{% blocktrans %}Accept change proposal{% endblocktrans %}" />
    </p>
  </div>
  {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
  {% endfor %}
</form>
{% endblock %}

