{% extends "helper/admin_base_action.html" %}
{% load i18n l10n static %}
{% load leaflet_tags %}
{% block action_title %}
    {% trans 'Show Georegions' %}
{% endblock %}
{% block breadcrumbs_action_label %}
    {% trans 'Show Georegions' %}
{% endblock %}
{% block action_content %}
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
  .leaflet-container {  /* all maps */
    width:  100%;
    height: 80vh;
}
    </style>
    {% leaflet_map "map" callback="main_map_init" creatediv=False %}
    <div id="map" class="leaflet-container"></div>
    {% if no_regions %}
        <h2>{% trans "No geo region available for these public bodies" %}</h2>
        <ul>
            {% for obj in no_regions %}<li>{{ obj.name }}</li>{% endfor %}
        </ul>
    {% endif %}
    <button id="generate-geojson">Generate GeoJSON</button>
    <a href="" id="download-geojson">Download</a>
    {{ regions|json_script:"georegions_data" }}
    <script src="{% static 'js/georegion/admin_georegions.js' %}"></script>
{% endblock %}
