{% extends "helper/admin_base_action.html" %}

{% load i18n l10n %}
{% load leaflet_tags %}

{% block action_title %}{% trans 'Show Georegions' %}{% endblock %}

{% block breadcrumbs_action_label %}
  {% trans 'Show Georegions' %}
{% endblock %}

{% block action_content %}
{% leaflet_js %}
{% leaflet_css %}
<style>
  .leaflet-container {  /* all maps */
    width:  100%;
    height: 80vh;
}
</style>
{% leaflet_map "main" callback="main_map_init" %}

{% if no_regions %}
  <h2>{% trans "No geo region available for these public bodies" %}</h2>
  <ul>
  {% for obj in no_regions %}
    <li>
      {{ obj.name}}
    </li>
  {% endfor %}
  </ul>
{% endif %}

<button id="generate-geojson">Generate GeoJSON</button>
<a href="" id="download-geojson">Download</a>

<script type="text/javascript">
  var initUrl = '/api/v1/georegion/?id='
  var regions = {{ regions|safe }};
  var geoGetter = window.location.hash.indexOf('centroid') !== -1 ? 'centroid' : 'geom'
  var features = []
    function main_map_init (map, options) {
      var regionIds = []
      for (var reg in regions) {
        regionIds.push('' + reg)
      }
      getData(initUrl + regionIds.join(','), map)

      var button = document.querySelector('#generate-geojson');
      button.addEventListener('click', generateGeoJson);
    }
    function generateGeoJson () {
      var fc = { "type": "FeatureCollection",
          "features": features
      }
      var blob = new Blob([JSON.stringify(fc)], {
        type: 'application/json',
        name: 'data.geojson'
      })
      var link = document.querySelector('#download-geojson')
      link.download = 'data.geojson'
      link.target = '_blank'
      link.rel = 'noopener'
      link.href = window.URL.createObjectURL(blob)
    }
    function getData (url, map) {
      window.fetch(url).then(function(response) {
        return response.json()
      }).then(function(data) {
        if (data.meta.next) {
          getData(data.meta.next, map)
        }
        var geoData = data.objects.map(function(x) {
          features.push({ "type": "Feature",
            "geometry": x[geoGetter],
            "properties": {
              "pb_id": regions[x.id],
              "name": x.name,
              "population": x.population,
              "kind": x.kind,
              "kind_detail": x.kind_detail,
              "region_id": x.id
            }
          })
          return x[geoGetter]
        })

        console.log(geoData.length)
        var layer = L.geoJson(geoData, {
          style: function() {
            return {
              fillOpacity: 0.9
            }
          }
        })
        layer.addTo(map);
        map.fitBounds(layer.getBounds())
      })
    }
</script>

{% endblock %}
