{% load i18n %}
{% load markup %}
{% load form_helper %}

<div class="btn-group btn-group-sm ml-auto">
  <button type="button" class="btn btn-light" data-toggle="modal" data-target="#problemreport-{{ message.pk }}">
    {% if not message.problemreports_count %}
      {% trans "Problem?" %}
    {% else %}
      <span class="fa fa-exclamation-circle"></span>
      {% blocktrans count counter=message.problemreports_count %}Problem{% plural %}Problems{% endblocktrans %}
      <span class="badge {% if message.problemreports_unresolved_count %}badge-warning{% else %}badge-white{% endif %}">
        {{ message.problemreports_count }}
      </span>
    {% endif %}
  </button>
</div>

<div class="modal" tabindex="-1" role="dialog" id="problemreport-{{ message.pk }}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {% if not message.problemreports_count %}
            {% trans "Report a problem" %}
          {% else %}
            {% trans "Problem reports" %}
          {% endif %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if message.problemreports %}
          <h6>
            {% trans "Previously reported problems" %}
          </h6>
          <p>
            {% trans "Moderators are already informed about the following problems:" %}
          </p>
          <div class="table-responsive">
            <table class="table table-sm">
              {% comment %} <thead>
                <tr>
                  <th>{% trans "Problem" %}</th>
                  <th>{% trans "Date" %}</th>
                  <th>{% trans "State" %}</th>
                </tr>
              </thead> {% endcomment %}
              <tbody>
              {% for report in message.problemreports %}
                <tr>
                  <td>
                    <span class="badge badge-white">
                      {{ report.get_kind_display }}
                    </span>
                  </td>
                  <td>
                    {% if report.auto_submitted %}
                      <span class="badge badge-dark">
                        {% trans "auto detected" %}
                      </span>
                    {% else %}
                      {{ report.timestamp|date:"SHORT_DATETIME_FORMAT" }}
                    {% endif %}
                  </td>
                  <td>
                    {% if report.resolved %}
                      <span class="badge badge-success">
                        {% trans "Resolved" %}
                      </span>
                    {% else %}
                      <span class="badge badge-secondary">
                        {% trans "Pending" %}
                      </span>
                    {% endif %}
                  </td>
                </tr>
                {% if report.description or report.resolution %}
                  <tr>
                    <td colspan="3" class="border-top-0">
                      {% if report.description %}
                        <p>{{ report.description | linebreaksbr }}</p>
                      {% endif %}
                      {% if report.resolution %}
                        <h6>{% trans "Resolution" %}</h6>
                        {{ report.resolution | markdown}}
                      {% endif %}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      <h6>
        {% trans "Report a new problem" %}
      </h6>
      <form action="{% url 'problem-report' message_pk=message.pk %}" method="post">
        {% csrf_token %}
        {% render_form message.problemreports_form %}
        <div class="d-flex">
          <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal" aria-label="Close">
            {% trans "Cancel" %}
          </button>
          <button type="submit" class="btn btn-primary">
            {% trans "Report problem" %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
