{% extends "base.html" %}

{% load i18n %}
{% load block_helper %}
{% load static %}

{% block title %}{% trans "Moderation dashboard" %}{% endblock %}

{% block body %}
<div class="container-fluid">
<h2 class="mt-3">{% trans "Moderation" %}</h2>

<moderation-dashboard
  id="moderation-dashboard"
  :initial-publicbodies="{{ publicbodies_json }}"
  :config="{{ config_json }}"
>
  <div class="spinner-border" role="status"></div> 
</moderation-dashboard>

</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
 {% addtoblock "js" %}
  <script async src="{% static 'js/common.js' %}"></script>
  {% endaddtoblock %}
  {% addtoblock "js" %}
  <script async src="{% static 'js/moderation.js' %}"></script>
  {% endaddtoblock %}
  {% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
  {% endaddtoblock %}
  {% addtoblock "css" %}
  <link rel="stylesheet" href="{% static 'css/moderation.css' %}"/>
  {% endaddtoblock %}
{% endblock %}