{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load frontendbuild %}

{% block title %}{% trans "Moderation dashboard" %}{% endblock %}

{% block body %}
<div class="container-fluid">
<h2 class="mt-3">{% trans "Moderation" %}</h2>

<moderation-dashboard
  id="moderation-dashboard"
  :initial-publicbodies="{{ publicbodies_json }}"
  :initial-unclassified="{{ unclassified_json }}"
  :initial-unclassified-count="{{ unclassified_count }}"
  :initial-attachments="{{ attachments_json }}"
  :initial-attachments-count="{{ attachments_count }}"
  :config="{{ config_json }}"
>
  <div class="spinner-border" role="status"></div> 
</moderation-dashboard>

</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}

  {% addfrontendbuild "moderation.js" %}

{% endblock %}
