@use 'sass:map';

$custom-colors: (
  'gray-100': $gray-100,
  'gray-200': $gray-200,
  'gray-300': $gray-300,
  'gray-400': $gray-400,
  'gray-500': $gray-500,
  'gray-600': $gray-600,
  'gray-700': $gray-700,
  'gray-800': $gray-800,
  'gray-900': $gray-900,

  'blue-10': $blue-10,
  'blue-20': $blue-20,
  'blue-30': $blue-30,
  'blue-100': $blue-100,
  'blue-200': $blue-200,
  'blue-300': $blue-300,
  'blue-400': $blue-400,
  'blue-500': $blue-500,
  'blue-600': $blue-600,
  'blue-700': $blue-700,
  'blue-800': $blue-800,

  'yellow-100': $yellow-100,
  'yellow-200': $yellow-200,
  'yellow-300': $yellow-300,

  'black': #000
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$font-sizes: map.merge(
  $font-sizes,
  (
    'sm': $font-size-sm,
    'lg': $font-size-lg,
    'base': $font-size-base
  )
);

$utilities: (
  'display': (
    responsive: true,
    print: true,
    property: display,
    class: d,
    values: inline inline-block block grid inline-grid flex inline-flex contents
      none
  ),
  'bg-opacity': (
    css-var: true,
    class: bg-opacity,
    values: (
      90: 0.9
    )
  ),
  'position': (
    responsive: true,
    property: position,
    values: static relative absolute fixed sticky
  ),
  'max-width': (
    responsive: true,
    property: max-width,
    class: mw,
    values: (25: 25%, 50: 50%, 100: 100%)
  )
);
