@use 'sass:map';
@use 'sass:list';

@each $name in $froide-theme {
  .text-bg-#{$name} {
    color: var(--froide-#{$name}-color);
    background-color: var(--froide-#{$name}-bg);
    --#{$prefix}heading-color: var(--froide-#{$name}-color);
  }
  .bg-#{$name} {
    background-color: var(--froide-#{$name}-bg);
  }
  .text-#{$name} {
    color: var(--froide-#{$name}-color);
    --#{$prefix}heading-color: var(--froide-#{$name}-color);
  }
}

// This gives us text-bg classes for the color-mode compatibole
// bootstrap colors

$bootstrap-extras: (
  'body': (
    'body-color',
    'body-bg'
  ),
  'body-secondary': (
    'secondary-color',
    'secondary-bg'
  ),
  'body-tertiary': (
    'tertiary',
    'tertiary-bg'
  ),
  'light-subtle': (
    'light-text-emphasis',
    'light-bg-subtle'
  ),
  'dark-subtle': (
    'dark-text-emphasis',
    'dark-bg-subtle'
  )
);

@each $name, $vars in $bootstrap-extras {
  .text-bg-#{$name} {
    $color: list.nth($vars, 1);
    $bg: list.nth($vars, 2);

    color: var(--#{$prefix}#{$color});
    background-color: var(--#{$prefix}#{$bg});
    --#{$prefix}heading-color: var(--froide-#{$name}-color);
  }
}
