@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

/* Overwrite variables here */

$blue:    #0069d0;
$red:     #ff002a;
$black:   #112233;

$gray-100: #f1f1f1;
$gray-200: #d0d0d0;
$gray-500: #687683;

$navbar-light-color: $black;

@import "~bootstrap/scss/variables";
