@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

/* Overwrite variables here */

$blue:    #3676ff !default;
$purple:  #7768ae !default;
$pink:    #D52E83 !default;
$red:     #F4534E !default;
$orange:  #e1bc29 !default;
$yellow:  #FCED00 !default;
$green:   #3bb273 !default;
$teal:    #45D2A2 !default;
$cyan:    #57DDD5 !default;
$black:   #112233 !default;

$highlight-yellow:  #FFFC78 !default;
$somber-blue: #2A66B0 !default;

$gray-100: #f1f1f1 !default;
$gray-200: #d0d0d0 !default;
$gray-500: #687683 !default;

$navbar-light-color: $black !default;

@import "~bootstrap/scss/variables";
