{% extends "base.html" %}

{% load static i18n %}
{% load account_tags %}
{% load form_helper %}

{% block title %}{% translate "Two-factor login" %}{% endblock %}

{% block navbar %}
  {% include "header_minimal.html" %}
{% endblock %}

{% block app_body %}
<h1>
  {% translate "Two-factor login" %}
</h1>
<p>
  {% translate "Open your authenticator app to get an authentication code." %}
</p>

{% get_mfa_keys as mfa_keys %}

<form method="POST" class="disable-submit">
  {% csrf_token %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  {% endif %}
  <div class="mb-3 row">
    <label class="fw-bold col-md-4 col-form-label" for="id_code">
      {{ form.code.label }}
    </label>
    <div class="col-md-8">
      {% render_pininput name="code" autofocus=True %}
    </div>
  </div>

  <button type="submit" class="btn btn-lg btn-primary">
    {% translate "Verify code" %}
  </button>
  <p class="mt-3">
    {% if mfa_keys.by_method.FIDO2 %}
      <a class="btn btn-outline-secondary" href="{% url 'mfa:auth' 'FIDO2' %}">
        {% translate "Use hardware security key" %}
      </a>
    {% endif %}
    {% if mfa_keys.by_method.recovery %}
      <a class="btn btn-outline-secondary" href="{% url 'mfa:auth' 'recovery' %}">
        {% translate "Use recovery code" %}
      </a>
    {% endif %}
  </p>
</form>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'account/mfa.js' %}"></script>
{% endblock %}
