{% load i18n %}
{% load foirequest_tags %}
{% load permission_helper %}

<div class="alpha-message__meta-container alpha-message__wrap">

  {% block before_meta %}{% endblock %}  
  <dl class="message-meta mb-0">
    <dt>
      {% blocktrans %}From{% endblocktrans %}
    </dt>
    <dd>
      {% if object|can_read_foirequest_authenticated:request %}
        {% if message.is_response %}
          <span title="{{ message.sender_email }}">
            {% if message.user_real_sender != message.sender_public_body.name %}
              <span class="redacted-dummy redacted-hover" data-toggle="tooltip" title="{% trans 'Only visible to you' %}">
                {{ message.user_real_sender }}
              </span>
              –
            {% endif %}
            {{ message.sender_public_body.name }}
          </span>
          {% if not message.is_default_sender and object|can_write_foirequest:request or object|can_moderate_foirequest:request %}
            <span class="d-print-none">
              <a href="#change-pb-{{ message.id }}" data-toggle="collapse" href="#change-pb-{{ message.id }}" aria-expanded="false" aria-controls="change-pb-{{ message.id }}">
                <i class="fa fa-edit"></i>
                <span class="sr-only">{% trans "change" %}</span>
              </a>
            </span>
            <div id="change-pb-{{ message.id }}" class="collapse d-print-none">
              {% with message_pb_form=message.get_public_body_sender_form %}
                <form class="disable-submit" method="post" action="{% url 'foirequest-set_message_sender' slug=object.slug message_id=message.id %}">
                  {% csrf_token %}
                  <label for="id_m{{ message.id }}-sender">{% blocktrans %}Set the Public Body that sent this message:{% endblocktrans %}</label>
                  {{ message_pb_form.sender }}
                  <p class="text-right">
                    <button type="submit" class="btn btn-sm btn-primary">{% blocktrans %}Set Sending Public Body{% endblocktrans %}</button>
                  </p>
                </form>
              {% endwith %}
            </div>
          {% endif %}
        {% else %}
          {% if object.user.private %}
            <span class="redacted-dummy redacted-hover" data-toggle="tooltip" title="{% trans 'Only visible to you' %}">
          {% else %}
            <span>
          {% endif %}
            {{ message.user_real_sender }}
          </span>
        {% endif %}
      {% else %}
        {% if message.is_response %}
          {% if froide.public_body_officials_public %}
            {% if message.sender != message.sender_public_body.name %}
              {{ message.sender }}
            {% endif %}
            {% if message.sender_public_body %}
            – <a href="{{ message.sender_public_body.get_absolute_url }}">{{ message.sender_public_body.name }}</a>
            {% endif %}
          {% else %}
            {% if message.sender_public_body %}
              <a href="{{ message.sender_public_body.get_absolute_url }}">{{ message.sender_public_body.name }}</a>
            {% else %}
              {% trans "Public Body" %}
            {% endif %}
          {% endif %}
        {% else %}
          {{ message.sender }}
        {% endif %}
      {% endif %}
    </dd>
    {% if object|can_read_foirequest_authenticated:request %}
      {% with additional_recipients=message.list_additional_recipients %}
        {% if additional_recipients %}
          <dt>{% translate "Additional recipients" %}</dt>
          <dd>
            <ul class="list-unstyled">
              {% for recipient_type, name, email in additional_recipients %}
                <li>
                  <strong>{{ recipient_type|title }}:</strong>
                  <span class="redacted-dummy redacted-hover" data-toggle="tooltip" title="{% trans 'Only visible to you' %}">
                    {{ name }} &lt;{{ email }}&gt;
                  </span>
                </li>
              {% endfor %}
            </ul>
          </dd>
        {% endif %}
      {% endwith %}
    {% endif %}
    {% if message.is_not_email %}
      <dt>
        {% translate "Via" %}
      </dt>
      <dd>
        {{ message.get_kind_display }}
      </dd>
    {% endif %}
    <dt>
      {% blocktrans %}Subject{% endblocktrans %}
    </dt>
    <dd>
      {% if message.content_hidden %}
        {% if object|can_read_foirequest_authenticated:request %}
          {{ message.subject }}
        {% endif %}
        <span class="badge badge-light">{% trans "Subject hidden" %}</span>
      {% else %}
        {% redact_subject message request %}
      {% endif %}
    </dd>
    <dt>
      {% blocktrans %}Date{% endblocktrans %}
    </dt>
    <dd>
      <a href="#{{ message.get_html_id }}">
        {% if message.is_postal %}
          {{ message.timestamp|date:"DATE_FORMAT" }}
        {% else %}
          {{ message.timestamp|date:"DATETIME_FORMAT" }}
        {% endif %}
      </a>
    </dd>
  {% if not message.is_response %}
    <dt>
      {% blocktrans %}To{% endblocktrans %}
    </dt>
    <dd>
      {{ message.get_recipient }}
      {% if not message.is_default_recipient and object|can_write_foirequest:request or object|can_moderate_foirequest:request %}
      <span class="d-print-none">
        <a href="#change-pb-{{ message.id }}" data-toggle="collapse" href="#change-pb-{{ message.id }}" aria-expanded="false" aria-controls="change-pb-{{ message.id }}">
          <i class="fa fa-edit"></i>
          <span class="sr-only">{% trans "change" %}</span>
        </a>
      </span>
      <div id="change-pb-{{ message.id }}" class="collapse d-print-none">
        {% with message_pb_form=message.get_public_body_recipient_form %}
          <form class="disable-submit" method="post" action="{% url 'foirequest-set_message_recipient' slug=object.slug message_id=message.id %}">
            {% csrf_token %}
            <label for="id_m{{ message.id }}-sender">{% blocktrans %}Set the public body that received this message:{% endblocktrans %}</label>
            {{ message_pb_form.recipient }}
            <p class="text-right">
              <button type="submit" class="btn btn-primary">{% blocktrans %}Set receiving public body{% endblocktrans %}</button>
            </p>
          </form>
        {% endwith %}
      </div>
    {% endif %}
    </dd>
  {% endif %}
  {% get_delivery_status message as delivery_status %}
  {% if message.status or delivery_status %}
    <dt>
      {% blocktrans %}Status{% endblocktrans %}
    </dt>
    <dd>
      {% if message.status %}
        {{ message.readable_status }}
      {% endif %}
      {% if not message.sent %}
        <small class="text-light">{% trans "Message was not sent" %}</small>
      {% endif %}
      {% if delivery_status %}
        {% if message.status %}
          &mdash;
        {% endif %}
        {% if delivery_status.is_sent %}
          <i class="fa fa-check-circle-o"></i>
          {% blocktrans with kind=message.get_kind_display %}{{ kind }} was sent successfully.{% endblocktrans %}
        {% elif delivery_status.is_pending %}
          <i class="fa fa-clock-o"></i>
          {% blocktrans with kind=message.get_kind_display %}{{ kind }} delivery is ongoing...{% endblocktrans %}
        {% elif delivery_status.is_failed %}
          <i class="fa fa-ban"></i>
          {% blocktrans with kind=message.get_kind_display %}{{ kind }} delivery has failed.{% endblocktrans %}
        {% else %}
          <i class="fa fa-circle-o"></i>
          {% blocktrans with kind=message.get_kind_display %}{{ kind }} delivery status is unknown.{% endblocktrans %}
        {% endif %}
        {% if object|can_read_foirequest_authenticated:request %}
          <a data-toggle="collapse" href="#{{ message.get_html_id }}-deliverylog" role="button" aria-expanded="false" aria-controls="{{ message.get_html_id }}-deliverylog" data-toggle="tooltip" title="{% trans 'Show technical delivery log' %}">
            <i class="fa fa-info-circle"></i>
            <span class="sr-only">{% trans "Show technical delivery log" %}</span>
          </a><pre id="{{ message.get_html_id }}-deliverylog" class="collapse d-print-none">{{ delivery_status.log }}</pre>
        {% endif %}
      {% endif %}
      {% if message.can_get_original_from_imap and message.object|can_read_foirequest_authenticated:request %}
          <a href="{% url 'foirequest-download_original_email' slug=object.slug message_id=message.id %}">
            <i class="fa fa-download"></i>
            <span class="sr-only">{% translate "Download original" %}</span>
          </a>
      {% endif %}
    </dd>
  {% endif %}
  {% if request.user.is_staff and request.user|has_perm:"foirequest.view_foimessage" %}
    <dt class="d-print-none">
      {% blocktrans %}Admin{% endblocktrans %}
    </dt>
    <dd class="d-print-none">
      <a href="{% url 'admin:foirequest_foimessage_change' message.id %}">{% trans "View message in admin" %}</a>
      {% for tag_name in message.tag_set %}
        <span class="badge badge-light">{{ tag_name }}</span>
      {% endfor %}
    </dd>
  {% endif %}
  {% if request.user.is_staff and request.user|has_perm:"guide.view_guidance" %}
    <dt class="d-print-none">
      {% trans "Guidance" %}
    </dt>
    <dd class="d-print-none">
      <a href="{% url 'admin:guide_guidance_changelist' %}?message={{ message.id }}" target="_blank">
        {% trans "In admin" %}
      </a> -
      <a href="{% url 'admin:guide_guidance_add' %}?prefill_message={{ message.id }}" target="_blank">
        {% trans "Add custom" %}
      </a>
      <form class="form-inline" action="{% url 'guide-rerun_rules' message_id=message.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-light">{% trans "Rerun guidance" %}</button>
        <input name="notify" value="🚨 {% trans 'Run + Notify' %}" type="submit" class="btn btn-sm btn-outline-warning"/>
      </form>
    </dd>
  {% endif %}
  </dl>
  
  {% block after_meta %}{% endblock %}
</div>
